---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=a.cf.app
        method: GET
      response:
        body: '[{"metadata":{"id":"a.cf.app","version":"0.0.0","namespace":"o"},"modules":[{"moduleName":"my-mta-managed-app-module","appName":"o-my-cf-app","providedDependencyNames":[],"services":[],"uris":["o-performanceteamblr-tf-space-1-my-mta-managed-app-module.cfapps.sap.hana.ondemand.com"]}],"services":[]},{"metadata":{"id":"a.cf.app","version":"1.0.0"},"modules":[{"moduleName":"my-mta-managed-app-module","appName":"my-cf-app","providedDependencyNames":[],"services":[],"uris":["performanceteamblr-tf-space-1-my-mta-managed-app-module.cfapps.sap.hana.ondemand.com"]}],"services":[]},{"metadata":{"id":"a.cf.app","version":"0.0.0","namespace":"hi"},"modules":[{"moduleName":"my-mta-managed-app-module","appName":"hi-my-cf-app","providedDependencyNames":[],"services":[],"uris":["hi-performanceteamblr-tf-space-1-my-mta-managed-app-module.cfapps.sap.hana.ondemand.com"]}],"services":[]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - dc557d3a-71f8-4461-6b38-f162f71ad2b9
        status: 200 OK
        code: 200
        duration: 1.652181s
[...]
