---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/e17839d9-cd4f-4e4b-baf0-18786f12fede
        method: GET
      response:
        body: '{"guid":"e17839d9-cd4f-4e4b-baf0-18786f12fede","created_at":"2024-02-08T10:31:58Z","updated_at":"2024-02-08T10:31:58Z","type":"organization_user","relationships":{"user":{"data":{"guid":"space"}},"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/e17839d9-cd4f-4e4b-baf0-18786f12fede"},"user":{"href":"https://api.x.x.x.x.com/v3/users/space"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 9b13ab67-f9a0-48d4-716f-9511a6f78a56::7161e1ca-277f-4816-861f-900a212dda5d
        status: 200 OK
        code: 200
        duration: 888.21375ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/e17839d9-cd4f-4e4b-baf0-18786f12fede
        method: GET
      response:
        body: '{"guid":"e17839d9-cd4f-4e4b-baf0-18786f12fede","created_at":"2024-02-08T10:31:58Z","updated_at":"2024-02-08T10:31:58Z","type":"organization_user","relationships":{"user":{"data":{"guid":"space"}},"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/e17839d9-cd4f-4e4b-baf0-18786f12fede"},"user":{"href":"https://api.x.x.x.x.com/v3/users/space"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f3f95f71-4228-49b6-5303-7777409139e2::3243d9e4-df28-4890-a044-e728b4e769fb
        status: 200 OK
        code: 200
        duration: 209.741579ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/e17839d9-cd4f-4e4b-baf0-18786f12fede
        method: GET
      response:
        body: '{"guid":"e17839d9-cd4f-4e4b-baf0-18786f12fede","created_at":"2024-02-08T10:31:58Z","updated_at":"2024-02-08T10:31:58Z","type":"organization_user","relationships":{"user":{"data":{"guid":"space"}},"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/e17839d9-cd4f-4e4b-baf0-18786f12fede"},"user":{"href":"https://api.x.x.x.x.com/v3/users/space"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - cfa05548-6cd5-4a27-6a25-520b35f57820::ed94580d-f743-4c90-8ae4-47b7a536e93b
        status: 200 OK
        code: 200
        duration: 187.181123ms
