---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=8b81c296bddf46e6a3dc53947ee4ad24-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 8b81c296bddf46e6a3dc53947ee4ad24-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"8b81c296bddf46e6a3dc53947ee4ad24-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"09bfeb73039d46ce9cc2587abf4d1488"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 58e24eea-de73-4f5b-42bf-d772397e3306
        status: 200 OK
        code: 200
        duration: 199.690292ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=ec6ac2b3-fb79-43c4-9734-000d4299bd59&service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=ec6ac2b3-fb79-43c4-9734-000d4299bd59\u0026page=1\u0026per_page=50\u0026service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=ec6ac2b3-fb79-43c4-9734-000d4299bd59\u0026page=1\u0026per_page=50\u0026service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296"},"next":null,"previous":null},"resources":[{"guid":"27ae4bb4-7653-4322-8cc2-01f5d6bec98d","created_at":"2024-04-18T08:18:27Z","updated_at":"2024-04-18T14:24:30Z","name":null,"type":"app","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-04-18T08:18:27Z","created_at":"2024-04-18T08:18:27Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}},"app":{"data":{"guid":"ec6ac2b3-fb79-43c4-9734-000d4299bd59"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/27ae4bb4-7653-4322-8cc2-01f5d6bec98d"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/27ae4bb4-7653-4322-8cc2-01f5d6bec98d/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/5e2976bb-332e-41e1-8be3-53baafea9296"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/ec6ac2b3-fb79-43c4-9734-000d4299bd59"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713520987"
            X-Vcap-Request-Id:
                - 3a69586d-5f07-4c04-5efe-9b1920962e94::291acffe-3cc2-475c-aea8-1faa3ad3b22e
        status: 200 OK
        code: 200
        duration: 219.543083ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/27ae4bb4-7653-4322-8cc2-01f5d6bec98d/details
        method: GET
      response:
        body: '{"credentials":{"hi":"wot"},"syslog_drain_url":"https://google.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713520988"
            X-Vcap-Request-Id:
                - 299a5a58-2218-4206-56f6-78a852f55edb::65f54c8b-d65e-4c98-92cf-99abdf6dc574
        status: 200 OK
        code: 200
        duration: 236.509ms
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/27ae4bb4-7653-4322-8cc2-01f5d6bec98d/details
        method: GET
      response:
        body: '{"credentials":{"hi":"wot"},"syslog_drain_url":"https://google.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713520988"
            X-Vcap-Request-Id:
                - eb78059e-3b3e-4a26-77a4-02ebd68db0ae::90e35ded-54e3-4cf4-879f-43e13df008ab
        status: 200 OK
        code: 200
        duration: 213.742125ms
[...]
