---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=8b81c296bddf46e6a3dc53947ee4ad24-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 8b81c296bddf46e6a3dc53947ee4ad24-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"8b81c296bddf46e6a3dc53947ee4ad24-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"083cf69b56f14c9d8c58c01ad86ab69a"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 6d4925c0-2ebb-4311-7da8-f8320b513cf1
        status: 200 OK
        code: 200
        duration: 214.062583ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=40b73419-5e01-4be0-baea-932d46cea45b
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?page=1\u0026per_page=50\u0026service_instance_guids=40b73419-5e01-4be0-baea-932d46cea45b"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?page=1\u0026per_page=50\u0026service_instance_guids=40b73419-5e01-4be0-baea-932d46cea45b"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713520988"
            X-Vcap-Request-Id:
                - 8bcff002-bea3-47b5-7fad-5bc89bb145b7::b81eab48-a132-4ed6-8ba9-93eb5d0791cc
        status: 200 OK
        code: 200
        duration: 189.978625ms
