---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=83b6168852eb48988f7b01bdf644f406-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 83b6168852eb48988f7b01bdf644f406-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"83b6168852eb48988f7b01bdf644f406-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"90104e11b55a42788e8313d0072216e1"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - c4958cbf-6419-4914-5e3d-7c316d9837f2
        status: 200 OK
        code: 200
        duration: 996.607542ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711530473"
            X-Vcap-Request-Id:
                - ff52ee7c-d997-4f8e-53e8-6da24d84bf22::1419f862-7f1c-4e80-84e6-dc7394f365c7
        status: 200 OK
        code: 200
        duration: 855.731542ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711530473"
            X-Vcap-Request-Id:
                - f7779ccd-64ff-4945-50bb-2e864d09e6a8::7968e18e-098b-48dd-896d-8c54989714c8
        status: 200 OK
        code: 200
        duration: 306.600875ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=tf-test-do-not-delete-http-bin&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=tf-test-do-not-delete-http-bin\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=tf-test-do-not-delete-http-bin\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"bcf7e52b-311a-4399-8cf0-32ef93b476be","created_at":"2024-03-27T08:23:24Z","updated_at":"2024-03-27T08:23:31Z","name":"tf-test-do-not-delete-http-bin","state":"STARTED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{"app":"backend","env":"production"},"annotations":{"created-by":"me"}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/actions/stop","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711530473"
            X-Vcap-Request-Id:
                - 7c07d437-1846-4fdb-41c7-b9ab8df584c4::5403cf0f-68b7-432a-b915-bdc953acdd4d
        status: 200 OK
        code: 200
        duration: 277.085666ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-http-bin
              docker:
                image: kennethreitz/httpbin
              metadata:
                labels:
                  app: backend
                  env: production
                annotations:
                  created-by: me
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711530473"
            X-Vcap-Request-Id:
                - e6819611-1cc5-4ddd-7cdf-565ca92157e4::f6851284-90f6-44dc-bba2-a40293a21e2e
        status: 200 OK
        code: 200
        duration: 251.935833ms
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-http-bin
              docker:
                image: kennethreitz/httpbin
              metadata:
                labels:
                  app: backend
                  env: production
                annotations:
                  created-by: me
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711530473"
            X-Vcap-Request-Id:
                - cb1468f8-4b8c-4826-7e68-54599177be32::b84aee17-fae6-4323-a987-83f697912481
        status: 200 OK
        code: 200
        duration: 256.256584ms
[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/bcf7e52b-311a-4399-8cf0-32ef93b476be/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-http-bin
              docker:
                image: kennethreitz/httpbin
              metadata:
                labels:
                  app: backend
                  env: production
                annotations:
                  created-by: me
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711530473"
            X-Vcap-Request-Id:
                - df405fcd-25ad-4b54-7065-e6d4f8352f1e::ce68d438-6927-4fe0-b75f-32190f57b9e6
        status: 200 OK
        code: 200
        duration: 248.350375ms
