---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=a02ab38d28864a4284349a5f1dbc8d6f-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - a02ab38d28864a4284349a5f1dbc8d6f-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"a02ab38d28864a4284349a5f1dbc8d6f-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"9fd6ad29383e49f1acbb96749b064a78"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 46a7d47f-8e95-4fbb-4270-192493eb3bd0
        status: 200 OK
        code: 200
        duration: 1.167269708s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/34ffe894-6026-4774-93e4-bf9a8e827558
        method: GET
      response:
        body: '{"guid":"34ffe894-6026-4774-93e4-bf9a8e827558","created_at":"2023-03-15T05:57:50Z","updated_at":"2023-03-15T05:57:50Z","type":"organization_manager","relationships":{"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/34ffe894-6026-4774-93e4-bf9a8e827558"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4467eb10-a5dd-4c46-904f-d5a1c86f05a2"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711962188"
            X-Vcap-Request-Id:
                - d83bef00-a482-453b-4af1-bf41f560e217::80e23947-e458-4d9f-9d63-3c103e94b70a
        status: 200 OK
        code: 200
        duration: 865.624773ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/34ffe894-6026-4774-93e4-bf9a8e827558
        method: GET
      response:
        body: '{"guid":"34ffe894-6026-4774-93e4-bf9a8e827558","created_at":"2023-03-15T05:57:50Z","updated_at":"2023-03-15T05:57:50Z","type":"organization_manager","relationships":{"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/34ffe894-6026-4774-93e4-bf9a8e827558"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4467eb10-a5dd-4c46-904f-d5a1c86f05a2"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711962188"
            X-Vcap-Request-Id:
                - cf7ee07d-c5d6-4b69-7419-370bcece59ba::3b0a377b-3056-4c55-ac94-52381e2b5cd4
        status: 200 OK
        code: 200
        duration: 262.317629ms
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/34ffe894-6026-4774-93e4-bf9a8e827558
        method: GET
      response:
        body: '{"guid":"34ffe894-6026-4774-93e4-bf9a8e827558","created_at":"2023-03-15T05:57:50Z","updated_at":"2023-03-15T05:57:50Z","type":"organization_manager","relationships":{"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/34ffe894-6026-4774-93e4-bf9a8e827558"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4467eb10-a5dd-4c46-904f-d5a1c86f05a2"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711962188"
            X-Vcap-Request-Id:
                - f08df499-185e-4598-55ae-e8555ec1e854::9d6dc5fd-0497-447e-a105-f00d12bf8813
        status: 200 OK
        code: 200
        duration: 306.987286ms
