---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas?names=tf-test-do-not-delete
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?names=tf-test-do-not-delete\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?names=tf-test-do-not-delete\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"e3cef997-9ba5-4cb4-b25b-c79faa81a33f","created_at":"2024-02-01T05:45:49Z","updated_at":"2024-02-01T05:45:49Z","name":"tf-test-do-not-delete","apps":{"total_memory_in_mb":0,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":0,"total_service_keys":null},"routes":{"total_routes":0,"total_reserved_ports":0},"domains":{"total_domains":null},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/e3cef997-9ba5-4cb4-b25b-c79faa81a33f"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 4171fc6b-f67a-457a-5857-4612b885069f::919f268c-248c-44ae-b94e-77e9272d76cd
        status: 200 OK
        code: 200
        duration: 166.377542ms
[...]
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas?names=tf-test-do-not-delete
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?names=tf-test-do-not-delete\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?names=tf-test-do-not-delete\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"e3cef997-9ba5-4cb4-b25b-c79faa81a33f","created_at":"2024-02-01T05:45:49Z","updated_at":"2024-02-01T05:45:49Z","name":"tf-test-do-not-delete","apps":{"total_memory_in_mb":0,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":0,"total_service_keys":null},"routes":{"total_routes":0,"total_reserved_ports":0},"domains":{"total_domains":null},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/e3cef997-9ba5-4cb4-b25b-c79faa81a33f"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c3c9c612-500d-4a89-4dee-9b9879326119::41d859a5-42ff-4552-91cb-0e9ec1456e18
        status: 200 OK
        code: 200
        duration: 168.431917ms
