---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=tf-test-do-not-deletex
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=tf-test-do-not-deletex\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=tf-test-do-not-deletex\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 765aa4c3-a382-47b9-5071-cd6de5f9bc4c::e8681139-7627-421e-a2c4-81813353049f
        status: 200 OK
        code: 200
        duration: 163.9825ms
