---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=8b81c296bddf46e6a3dc53947ee4ad24-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 8b81c296bddf46e6a3dc53947ee4ad24-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"8b81c296bddf46e6a3dc53947ee4ad24-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"2910d38bccf5499d8e32624dd707fe82"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 522a4f55-d64a-4237-6824-87ef920004da
        status: 200 OK
        code: 200
        duration: 677.707959ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?names=hifi&service_instance_guids=e9ec29ca-993d-42e2-9c5b-cb17b1972cce
        method: GET
      response:
        body: '{"pagination":{"total_results":3,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=hifi\u0026page=1\u0026per_page=50\u0026service_instance_guids=e9ec29ca-993d-42e2-9c5b-cb17b1972cce"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=hifi\u0026page=1\u0026per_page=50\u0026service_instance_guids=e9ec29ca-993d-42e2-9c5b-cb17b1972cce"},"next":null,"previous":null},"resources":[{"guid":"b2ed1ccf-fbb1-4121-9b0a-ea5b7ea0de54","created_at":"2024-04-17T17:23:33Z","updated_at":"2024-04-17T17:23:36Z","name":"hifi","type":"app","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-04-17T17:23:36Z","created_at":"2024-04-17T17:23:36Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"e9ec29ca-993d-42e2-9c5b-cb17b1972cce"}},"app":{"data":{"guid":"80327e5f-1e98-4f19-8e48-978865809c80"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/b2ed1ccf-fbb1-4121-9b0a-ea5b7ea0de54"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/b2ed1ccf-fbb1-4121-9b0a-ea5b7ea0de54/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/e9ec29ca-993d-42e2-9c5b-cb17b1972cce"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/b2ed1ccf-fbb1-4121-9b0a-ea5b7ea0de54/parameters"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/80327e5f-1e98-4f19-8e48-978865809c80"}}},{"guid":"e558565e-3374-429a-a822-99a61853a2da","created_at":"2024-04-18T04:50:40Z","updated_at":"2024-04-18T04:50:41Z","name":"hifi","type":"key","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-04-18T04:50:41Z","created_at":"2024-04-18T04:50:41Z"},"metad[...]
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/b2ed1ccf-fbb1-4121-9b0a-ea5b7ea0de54/details
        method: GET
      response:
        body: '{"credentials":{"tenantmode":"dedicated","sburl":"https://internal-xsuaa.authentication.sap.hana.ondemand.com","subaccountid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","credential-type":"instance-secret","clientid":"sb-tf-test231!t4176","xsappname":"tf-test231!t4176","clientsecret":"22dtaFC7SAaJQbmEBKKAB7CWiwY=","serviceInstanceId":"e9ec29ca-993d-42e2-9c5b-cb17b1972cce","url":"https://performanceteamblr.authentication.sap.hana.ondemand.com","uaadomain":"authentication.sap.hana.ondemand.com","verificationkey":"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt0mX/xGskI6pZuVyh9ql\n6y1OBDcC8eIBIYOY0bJGuu7KWnT3H8pY+6DDPmKM3mqoEMsNDwmQo0BF3RvuJkxY\nc4qAJe13p2juqCpuEtd+dRTeiEcL1ZIByiT11OQ2QgIsDDiYJRpSOp8kjB6KtVGY\nGp9wyE2KkaOPP3TsZaJtxoCTuylBMlvEam144O47Y7po/HrvxgUo1nZRb5a2qtna\nhYwnUAu5XjJNvFuZFtXIiLhGypBoqySBcA/0RQhbW5pSUOmY8XI0FHrY+/kolNsj\n0ePsSBCKLdSmh7qByUjbqcDgq424TZsXwRyyFHLy309LzZx9zU5bbANyX6+aq/GJ\nMQIDAQAB\n-----END PUBLIC KEY-----","apiurl":"https://api.authentication.sap.hana.ondemand.com","identityzone":"performanceteamblr","identityzoneid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","tenantid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","zoneid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713520988"
            X-Vcap-Request-Id:
                - 310eac2e-5554-48a5-78ef-f82d5d59c37e::60dfac24-5867-4563-afa0-89f0f0a90d1e
        status: 200 OK
        code: 200
        duration: 217.332542ms
[...]
