---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=a02ab38d28864a4284349a5f1dbc8d6f-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - a02ab38d28864a4284349a5f1dbc8d6f-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"a02ab38d28864a4284349a5f1dbc8d6f-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"3589994870d343fba1dfcc68e21ea2c6"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 5701acb9-627f-4fc1-67cd-97c7d2507a38
        status: 200 OK
        code: 200
        duration: 299.840031ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/40b73419-5e01-4be0-baea-932d46cea45b
        method: GET
      response:
        body: '{"errors":[{"detail":"Role not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711962188"
            X-Vcap-Request-Id:
                - 13c7ee01-dfad-4e58-6a01-d03250af9ba4::1ea1deb2-3c3b-4794-b607-c5c840b5f09e
        status: 404 Not Found
        code: 404
        duration: 250.725838ms
