---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: |-
            {
              "links": {
                "self": {
                  "href": "https://api.x.x.x.x.com"
                },
                "cloud_controller_v2": {
                  "href": "https://api.x.x.x.x.com/v2",
                  "meta": {
                    "version": "2.218.0"
                  }
                },
                "cloud_controller_v3": {
                  "href": "https://api.x.x.x.x.com/v3",
                  "meta": {
                    "version": "3.153.0"
                  }
                },
                "network_policy_v0": {
                  "href": "https://api.x.x.x.x.com/networking/v0/external"
                },
                "network_policy_v1": {
                  "href": "https://api.x.x.x.x.com/networking/v1/external"
                },
                "login": {
                  "href": "https://login.x.x.x.x.com"
                },
                "uaa": {
                  "href": "https://uaa.x.x.x.x.com"
                },
                "credhub": null,
                "routing": null,
                "logging": {
                  "href": "wss://doppler.x.x.x.x.com:443"
                },
                "log_cache": {
                  "href": "https://log-cache.x.x.x.x.com"
                },
                "log_stream": {
                  "href": "https://log-stream.x.x.x.x.com"
                },
                "app_ssh": {
                  "href": "ssh.x.x.x.x.com:2222",
                  "meta": {
                    "host_key_fingerprint": "SYWfpJUXGL2T+b8bkK15zppx/fZ08Wc9/iV8bxMLqWI",
                    "oauth_client": "ssh-proxy"
                  }
                }
              }
            }
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - 852a7119-d5ab-4357-4294-6ad42ac29d06::bbfea908-7166-4b2e-9ac4-01bb595b7ed8
        status: 200 OK
        code: 200
        duration: 149.956266ms
