---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=d0cb7550d4e7488497943049b2fffddf-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - d0cb7550d4e7488497943049b2fffddf-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"d0cb7550d4e7488497943049b2fffddf-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"613a50207c02439ba3b95c1524288b35"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - e658f317-bc4f-4346-5ece-f4a903dedd5b
        status: 200 OK
        code: 200
        duration: 618.48475ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714450073"
            X-Vcap-Request-Id:
                - 70c391ae-d036-4b30-7243-d246d4c9c089::4b0341fc-7cb3-448c-9466-d99a9d50c72d
        status: 200 OK
        code: 200
        duration: 565.048125ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714450073"
            X-Vcap-Request-Id:
                - 129f0985-0ce3-47a2-52fb-4823770c3fbf::25881908-7fde-4673-838c-b4c267961db4
        status: 200 OK
        code: 200
        duration: 201.779584ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=tf-test-do-not-delete-http-bin&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=tf-test-do-not-delete-http-bin\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=tf-test-do-not-delete-http-bin\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"c8e8882d-8b6f-446c-80b8-40a101aba2d8","created_at":"2024-04-30T03:56:21Z","updated_at":"2024-04-30T03:56:27Z","name":"tf-test-do-not-delete-http-bin","state":"STARTED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{"app":"backend","env":"production"},"annotations":{"created-by":"me"}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8/actions/stop","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714450072"
            X-Vcap-Request-Id:
                - cecca051-f34f-47b6-5553-d5e35ce4dfe5::cc329e89-64ec-42ad-9ac6-3f6c99771aab
        status: 200 OK
        code: 200
        duration: 196.899292ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-http-bin
              docker:
                image: kennethreitz/httpbin
              metadata:
                labels:
                  app: backend
                  env: production
                annotations:
                  created-by: me
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714450072"
            X-Vcap-Request-Id:
                - 5b0c7486-64ef-41df-7bb4-c2a2b518b43c::89ee8795-77a8-4541-9e62-568b748f6eb2
        status: 200 OK
        code: 200
        duration: 183.986041ms
[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/c8e8882d-8b6f-446c-80b8-40a101aba2d8/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-http-bin
              docker:
                image: kennethreitz/httpbin
              metadata:
                labels:
                  app: backend
                  env: production
                annotations:
                  created-by: me
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714450073"
            X-Vcap-Request-Id:
                - e45ada7a-6a6e-4bba-5d8d-4785e55f8038::1ddfccac-8124-4757-9956-228e5116dbcf
        status: 200 OK
        code: 200
        duration: 176.757125ms
