---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=83b6168852eb48988f7b01bdf644f406-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 83b6168852eb48988f7b01bdf644f406-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"83b6168852eb48988f7b01bdf644f406-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"06dde7dba42749d6ba34f4ceaae2f9e4"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 3c484ddb-20d0-49d1-7dda-05c813085ed8
        status: 200 OK
        code: 200
        duration: 239.800792ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711530473"
            X-Vcap-Request-Id:
                - 79be43d2-9f4a-4324-72ba-40ceef3bb674::56f638c3-a114-4962-a6df-1dda3989cd0c
        status: 200 OK
        code: 200
        duration: 246.190083ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711530473"
            X-Vcap-Request-Id:
                - d89f27a5-cdb7-43d0-4b2c-8e7ac45df97b::e2956842-6dc9-43c5-a53d-b64e7e36621c
        status: 200 OK
        code: 200
        duration: 270.371ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=tf-test-do-not-delete-nodejs&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=tf-test-do-not-delete-nodejs\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=tf-test-do-not-delete-nodejs\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"08db982f-e2a4-44d2-b891-5500043ad6a6","created_at":"2024-03-25T12:40:25Z","updated_at":"2024-03-27T08:24:21Z","name":"tf-test-do-not-delete-nodejs","state":"STARTED","lifecycle":{"type":"buildpack","data":{"buildpacks":[],"stack":"cflinuxfs4"}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6/actions/stop","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711530473"
            X-Vcap-Request-Id:
                - 01a591dd-4320-472a-5344-f7de07cc4fc9::0ebce0c9-b57e-4c02-a955-794f68e2e1af
        status: 200 OK
        code: 200
        duration: 273.066042ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-nodejs
              env:
                MY_ENV: red
              stack: cflinuxfs4
              services:
              - xsuaa-tf
              routes:
              - route: tf-test-do-not-delete-nodejs.cfapps.sap.hana.ondemand.com
                protocol: http1
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711530473"
            X-Vcap-Request-Id:
                - ba79ddd6-93ab-4f01-6753-91f018841b8f::b5a8c4cb-1924-4084-a500-aa2cffe177ff
        status: 200 OK
        code: 200
        duration: 829.529ms
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/08db982f-e2a4-44d2-b891-5500043ad6a6/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-nodejs
              env:
                MY_ENV: red
              stack: cflinuxfs4
              services:
              - xsuaa-tf
              routes:
              - route: tf-test-do-not-delete-nodejs.cfapps.sap.hana.ondemand.com
                protocol: http1
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711530473"
            X-Vcap-Request-Id:
                - d3f7b17a-fa96-482e-7be6-6ab6f737dd64::974dc44b-65aa-486c-ab23-0f8efee614d0
        status: 200 OK
        code: 200
        duration: 308.1215ms
[...]
