---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/40b73419-5e01-4be0-baea-932d46cea45b
        method: GET
      response:
        body: '{"errors":[{"detail":"Role not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e878761e-181e-44c8-5d1e-46b62a2e03a4::da44ef33-f96f-44da-9b56-7b3878a5f24f
        status: 404 Not Found
        code: 404
        duration: 193.171957ms
