---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: |-
            {
              "links": {
                "self": {
                  "href": "https://api.x.x.x.x.com"
                },
                "cloud_controller_v2": {
                  "href": "https://api.x.x.x.x.com/v2",
                  "meta": {
                    "version": "2.218.0"
                  }
                },
                "cloud_controller_v3": {
                  "href": "https://api.x.x.x.x.com/v3",
                  "meta": {
                    "version": "3.153.0"
                  }
                },
                "network_policy_v0": {
                  "href": "https://api.x.x.x.x.com/networking/v0/external"
                },
                "network_policy_v1": {
                  "href": "https://api.x.x.x.x.com/networking/v1/external"
                },
                "login": {
                  "href": "https://login.x.x.x.x.com"
                },
                "uaa": {
                  "href": "https://uaa.x.x.x.x.com"
                },
                "credhub": null,
                "routing": null,
                "logging": {
                  "href": "wss://doppler.x.x.x.x.com:443"
                },
                "log_cache": {
                  "href": "https://log-cache.x.x.x.x.com"
                },
                "log_stream": {
                  "href": "https://log-stream.x.x.x.x.com"
                },
                "app_ssh": {
                  "href": "ssh.x.x.x.x.com:2222",
                  "meta": {
                    "host_key_fingerprint": "SYWfpJUXGL2T+b8bkK15zppx/fZ08Wc9/iV8bxMLqWI",
                    "oauth_client": "ssh-proxy"
                  }
                }
              }
            }
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - cd86c978-7add-4e88-7a98-55f6470d32c9::0806688b-0fd7-4f29-bf22-0bab6606f203
        status: 200 OK
        code: 200
        duration: 220.667ms
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=8542ae4f285e420f9e847d15ecfe3050-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 8542ae4f285e420f9e847d15ecfe3050-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"8542ae4f285e420f9e847d15ecfe3050-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"1e49474ef49d4096af0e045359c7c64a"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 5eb1bccd-e31d-4a0d-692c-b5e8546fcc0d
        status: 200 OK
        code: 200
        duration: 251.422125ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":45,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"08d38300-bcfe-40c8-b89d-d6ecc1b84a6a","created_at":"2016-07-05T13:48:57Z","updated_at":"2024-01-11T13:11:35Z","name":"SAP","suspended":false,"relationships":{"quota":{"data":{"guid":"e917a250-720e-4c1e-b140-56e49cdc8e8f"}}},"metadata":{"labels":{"cloud.sap.com/UAMGroup":"SAP_CP_CF","cloud.sap.com/system-org":""},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/08d38300-bcfe-40c8-b89d-d6ecc1b84a6a"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/08d38300-bcfe-40c8-b89d-d6ecc1b84a6a/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/08d38300-bcfe-40c8-b89d-d6ecc1b84a6a/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/e917a250-720e-4c1e-b140-56e49cdc8e8f"}}},{"guid":"fa55417a-5a13-4b15-a7a5-0a68437b4860","created_at":"2016-07-05T14:38:05Z","updated_at":"2024-01-11T14:13:59Z","name":"test","suspended":false,"relationships":{"quota":{"data":{"guid":"bc1c0999-52a1-495f-8727-84e6302b8868"}}},"metadata":{"labels":{"cloud.sap.com/system-org":"","clo[...]
[...]
