---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: |-
            {
              "links": {
                "self": {
                  "href": "https://api.x.x.x.x.com"
                },
                "cloud_controller_v2": {
                  "href": "https://api.x.x.x.x.com/v2",
                  "meta": {
                    "version": "2.220.0"
                  }
                },
                "cloud_controller_v3": {
                  "href": "https://api.x.x.x.x.com/v3",
                  "meta": {
                    "version": "3.155.0"
                  }
                },
                "network_policy_v0": {
                  "href": "https://api.x.x.x.x.com/networking/v0/external"
                },
                "network_policy_v1": {
                  "href": "https://api.x.x.x.x.com/networking/v1/external"
                },
                "login": {
                  "href": "https://login.x.x.x.x.com"
                },
                "uaa": {
                  "href": "https://uaa.x.x.x.x.com"
                },
                "credhub": null,
                "routing": null,
                "logging": {
                  "href": "wss://doppler.x.x.x.x.com:443"
                },
                "log_cache": {
                  "href": "https://log-cache.x.x.x.x.com"
                },
                "log_stream": {
                  "href": "https://log-stream.x.x.x.x.com"
                },
                "app_ssh": {
                  "href": "ssh.x.x.x.x.com:2222",
                  "meta": {
                    "host_key_fingerprint": "S1f0N1qdni4o+z5Q67oj3jxvS2WqgDycOSOpCH4ZhFA",
                    "oauth_client": "ssh-proxy"
                  }
                }
              }
            }
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - 2f62d559-2646-471e-6f71-7dbb68393b7f::e7f22602-2e1e-4b1d-97d5-4a6a1d075f3f
        status: 200 OK
        code: 200
        duration: 155.240424ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=tf-test-do-not-delete
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=tf-test-do-not-delete\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=tf-test-do-not-delete\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38","created_at":"2024-01-31T11:16:05Z","updated_at":"2024-01-31T12:29:38Z","name":"tf-test-do-not-delete","suspended":false,"relationships":{"quota":{"data":{"guid":"772993fb-9aae-479b-8001-11e42b9e6a55"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/772993fb-9aae-479b-8001-11e42b9e6a55"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a14114a8-ad35-44e2-6a72-224a0d93a803::e5b7d069-cd96-4cc3-be5b-4ee587159ec4
        status: 200 OK
        code: 200
        duration: 199.060006ms
[...]
