---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: |-
            {
              "links": {
                "self": {
                  "href": "https://api.x.x.x.x.com"
                },
                "cloud_controller_v2": {
                  "href": "https://api.x.x.x.x.com/v2",
                  "meta": {
                    "version": "2.224.0"
                  }
                },
                "cloud_controller_v3": {
                  "href": "https://api.x.x.x.x.com/v3",
                  "meta": {
                    "version": "3.159.0"
                  }
                },
                "network_policy_v0": {
                  "href": "https://api.x.x.x.x.com/networking/v0/external"
                },
                "network_policy_v1": {
                  "href": "https://api.x.x.x.x.com/networking/v1/external"
                },
                "login": {
                  "href": "https://login.x.x.x.x.com"
                },
                "uaa": {
                  "href": "https://uaa.x.x.x.x.com"
                },
                "credhub": null,
                "routing": null,
                "logging": {
                  "href": "wss://doppler.x.x.x.x.com:443"
                },
                "log_cache": {
                  "href": "https://log-cache.x.x.x.x.com"
                },
                "log_stream": {
                  "href": "https://log-stream.x.x.x.x.com"
                },
                "app_ssh": {
                  "href": "ssh.x.x.x.x.com:2222",
                  "meta": {
                    "host_key_fingerprint": "SYWfpJUXGL2T+b8bkK15zppx/fZ08Wc9/iV8bxMLqWI",
                    "oauth_client": "ssh-proxy"
                  }
                }
              }
            }
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - 9387f1bb-ee7f-4f44-50fb-7c23ba8a7508::6619dc08-c43d-434c-93fe-6629ca631f58
        status: 200 OK
        code: 200
        duration: 166.132834ms
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=1940ab7f39124f28a5155d8da65ba017-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 1940ab7f39124f28a5155d8da65ba017-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"1940ab7f39124f28a5155d8da65ba017-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"58eead1a750a44bd9ac21ad49aa8d7f0"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 8d6299d4-15c9-49ac-7b93-ab1225785276
        status: 200 OK
        code: 200
        duration: 180.988167ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1715891873"
            X-Vcap-Request-Id:
                - f7c53ddc-2653-4cf0-4436-48ba3cca5928::489ea1b8-5c7d-4159-963e-4bd3e3f8c7f9
        status: 200 OK
        code: 200
        duration: 172.891417ms
[...]
