---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"relationships":{"space":{"data":{"guid":"795a961c-6360-479a-9666-fff9cb906aad"}},"domain":{"data":{"guid":"440e24e5-ee11-41d9-a996-2ed0a1e2deea"}}},"host":"testing123","path":"/cart","port":null,"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/routes
        method: POST
      response:
        body: '{"guid":"6e37c591-48eb-4a38-a31e-cc877aa0dfda","created_at":"2024-03-01T09:16:24Z","updated_at":"2024-03-01T09:16:24Z","protocol":"http","host":"testing123","path":"/cart","port":null,"url":"testing123.cert.cfapps.stagingazure.hanavlab.ondemand.com/cart","destinations":[],"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"space":{"data":{"guid":"795a961c-6360-479a-9666-fff9cb906aad"}},"domain":{"data":{"guid":"440e24e5-ee11-41d9-a996-2ed0a1e2deea"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/routes/6e37c591-48eb-4a38-a31e-cc877aa0dfda"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/795a961c-6360-479a-9666-fff9cb906aad"},"destinations":{"href":"https://api.x.x.x.x.com/v3/routes/6e37c591-48eb-4a38-a31e-cc877aa0dfda/destinations"},"domain":{"href":"https://api.x.x.x.x.com/v3/domains/440e24e5-ee11-41d9-a996-2ed0a1e2deea"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 4444e9b1-75e8-4606-47fc-2502596d84ba::07bca8a3-736d-4fa8-930f-d3ad0175b948
        status: 201 Created
        code: 201
        duration: 636.553292ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"destinations":[{"app":{"guid":"15a74002-cf3a-4bf2-b76f-fe96867c46ee","process":{"type":"web"}},"port":36001},{"app":{"guid":"24a711f2-148b-4d48-b37a-90a66d6e842f"}}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/routes/6e37c591-48eb-4a38-a31e-cc877aa0dfda/destinations
        method: POST
      response:
        body: '{"destinations":[{"guid":"3dfd8344-9f1a-4139-9ff0-8e3348be8362","app":{"guid":"15a74002-cf3a-4bf2-b76f-fe96867c46ee","process":{"type":"web"}},"weight":null,"port":36001,"protocol":"http1"},{"guid":"d09f492c-e5e0-49b7-b99c-55299a787798","app":{"guid":"24a711f2-148b-4d48-b37a-90a66d6e842f","process":{"type":"web"}},"weight":null,"port":80,"protocol":"http1"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/routes/6e37c591-48eb-4a38-a31e-cc877aa0dfda/destinations"},"route":{"href":"https://api.x.x.x.x.com/v3/routes/6e37c591-48eb-4a38-a31e-cc877aa0dfda"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 42d170e2-a35e-4d06-6a87-3507f564f3e5::fa06b849-f1f3-481f-848d-c2918ad82d03
        status: 200 OK
        code: 200
        duration: 324.358667ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/routes/6e37c591-48eb-4a38-a31e-cc877aa0dfda
        method: GET
      response:
        body: '{"guid":"6e37c591-48eb-4a38-a31e-cc877aa0dfda","created_at":"2024-03-01T09:16:24Z","updated_at":"2024-03-01T09:16:24Z","protocol":"http","host":"testing123","path":"/cart","port":null,"url":"testi[...]
[...]
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/routes/6e37c591-48eb-4a38-a31e-cc877aa0dfda
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/c4cd97e1-d9db-47b1-b0ef-23cf151cbc54
            X-Vcap-Request-Id:
                - 267c17e4-b845-490b-52e5-17909c3f7790::d353369b-a9b7-4961-8903-a76a7d230aea
        status: 202 Accepted
        code: 202
        duration: 210.439ms
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/c4cd97e1-d9db-47b1-b0ef-23cf151cbc54
        method: GET
      response:
        body: '{"guid":"c4cd97e1-d9db-47b1-b0ef-23cf151cbc54","created_at":"2024-03-01T09:16:30Z","updated_at":"2024-03-01T09:16:31Z","operation":"route.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/c4cd97e1-d9db-47b1-b0ef-23cf151cbc54"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 9da1bf59-aec9-4edb-61fc-b3e15814a782::282cbaf8-8751-4908-b8e1-da5a8d239f47
        status: 200 OK
        code: 200
        duration: 184.5505ms
