---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"managed","name":"tf-test-do-not-delete","relationships":{"service_plan":{"data":{"guid":"69867829-3044-458c-a7f4-f32dee0d8174"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: '{"errors":[{"detail":"The service instance name is taken: tf-test-do-not-delete.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710352064"
            X-Vcap-Request-Id:
                - a2109154-98af-4cfe-6f45-e285ef372efa::1cff0447-11de-4874-b3d9-661444630d37
        status: 422 Unprocessable Entity
        code: 422
        duration: 225.677042ms
