---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/organizations
        method: POST
      response:
        body: '{"guid":"1a160617-2ad2-4123-8f9d-cb7aa58eb77e","created_at":"2024-02-01T11:12:24Z","updated_at":"2024-02-01T11:12:24Z","name":"tf-unit-test","suspended":false,"relationships":{"quota":{"data":{"guid":"772993fb-9aae-479b-8001-11e42b9e6a55"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/1a160617-2ad2-4123-8f9d-cb7aa58eb77e"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/1a160617-2ad2-4123-8f9d-cb7aa58eb77e/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/1a160617-2ad2-4123-8f9d-cb7aa58eb77e/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/772993fb-9aae-479b-8001-11e42b9e6a55"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 35bb69e7-fa55-46dc-74ec-53126c88dd78::7d39ee3c-3412-4dc1-8869-143d1a0911c2
        status: 201 Created
        code: 201
        duration: 417.284125ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?guids=1a160617-2ad2-4123-8f9d-cb7aa58eb77e
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?guids=1a160617-2ad2-4123-8f9d-cb7aa58eb77e\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?guids=1a160617-2ad2-4123-8f9d-cb7aa58eb77e\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"1a160617-2ad2-4123-8f9d-cb7aa58eb77e","created_at":"2024-02-01T11:12:24Z","updated_at":"2024-02-01T11:12:24Z","name":"tf-unit-test","suspended":false,"relationships":{"quota":{"data":{"guid":"772993fb-9aae-479b-8001-11e42b9e6a55"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/1a160617-2ad2-4123-8f9d-cb7aa58eb77e"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/1a160617-2ad2-4123-8f9d-cb7aa58eb77e/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/1a160617-2ad2-4123-8f9d-cb7aa58eb77e/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/772993fb-9aae-479b-8001-11e42b9e6a55"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 8a36e138-930b-46c4-7b54-e304afb6eefd::512b8724-fcd8-4dde-a15b-9f16c0985316
        status: 200 OK
        code: 200
        duration: 750.343708ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/1a160617-2ad2-4123-8f9d-cb7aa58eb77e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/de1e7786-5698-47ad-b31f-585e5dae2eec
            X-Vcap-Request-Id:
                - d88e050f-48e9-449b-51c2-a0fafcfdf08a::b6bf3da9-d0b6-48ba-b83f-f4b0cbc9600b
        status: 202 Accepted
        code: 202
        duration: 176.665334ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/de1e7786-5698-47ad-b31f-585e5dae2eec
        method: GET
      response:
        body: '{"guid":"de1e7786-5698-47ad-b31f-585e5dae2eec","created_at":"2024-02-01T11:12:25Z","updated_at":"2024-02-01T11:12:26Z","operation":"organization.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/de1e7786-5698-47ad-b31f-585e5dae2eec"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 83cd4b1d-1c74-4a10-54e6-055219d96e59::7265dd33-839a-4834-b741-cc64eb0fd30e
        status: 200 OK
        code: 200
        duration: 175.610125ms
