---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - fc05a712-d7d8-4c5c-8ec5-b14ee6f08269
            X-Vcap-Request-Id:
                - 9c2c6302-95ea-44d7-5691-fa8bffc883ca
        status: 204 No Content
        code: 204
        duration: 1.589598s
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--e80a5b26e71d73ccc88fa137c1b0af19ab0e4fdbd26028915e3195772842\r\nContent-Disposition: form-data; name=\"file\"; filename=\"a.cf.app.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x01z�)fPK\x03\x04\x14\0\b\0\b\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x01z�)f�M��LK-.�\rK-*��ϳR0�3���K�M�Rȭ��-I��M�KLOM�M,[...]
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"95cc8835-549e-11ef-9de9-eeee0a88e5d6","processType":"DEPLOY","startedAt":"2024-08-07T09:22:37.625Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}},{"processId":"b115b40e-549e-11ef-9e24-eeee0a8b9f36","processType":"DEPLOY","startedAt":"2024-08-07T09:23:22.456Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 3078ab64-8eba-4f1c-6eee-cad2e89d61d4
        status: 200 OK
        code: 200
        duration: 331.041208ms
[...]
    - id: 4
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"ac61d5bb-4be0-4e3f-aa46-30aaa735c0e7","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - b2da0431-3bdf-48e0-85a2-98dd7e91c7ed
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/f1e001b4-549e-11ef-a0ef-eeee0a9f2cbf?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - b2da0431-3bdf-48e0-85a2-98dd7e91c7ed
            X-Vcap-Request-Id:
                - eb937c2e-1fbf-419e-7cbb-3492907a1db0
        status: 202 Accepted
        code: 202
        duration: 1.322174833s
    - id: 5
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/f1e001b4-549e-11ef-a0ef-eeee0a9f2cbf?embed=messages
        method: GET
      response:
        body: '{"processId":"f1e001b4-549e-11ef-a0ef-eeee0a9f2cbf","processType":"DEPLOY","startedAt":"2024-08-07T09:25:11.21Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"RUNNING","messages":[{"id":211714173,"text":"Operation ID: f1e001b4-549e-11ef-a0ef-eeee0a9f2cbf","timestamp":"2024-08-07T09:25:11.136Z[UTC]","type":"INFO"},{"id":211714176,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-07T09:25:11.84Z[UTC]","type":"INFO"},{"id":211714187,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-08-07T09:25:14.318Z[UTC]","type":"INFO"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 1303aad7-b15b-4da9-6b04-1bdce35ebce3
        status: 200 OK
        code: 200
        duration: 1.287904333s
[...]
    - id: 15
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/f1e001b4-549e-11ef-a0ef-eeee0a9f2cbf?embed=messages
        method: GET
      response:
        body: '{"processId":"f1e001b4-549e-11ef-a0ef-eeee0a9f2cbf","processType":"DEPLOY","startedAt":"2024-08-07T09:25:11.21Z[UTC]","endedAt":"2024-08-07T09:25:38.416Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"FINISHED","messages":[{"id":211714173,"text":"Operation ID: f1e001b4-549e-11ef-a0ef-eeee0a9f2cbf","timestamp":"2024-08-07T09:25:11.136Z[UTC]","type":"INFO"},{"id":211714176,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-07T09:25:11.84Z[UTC]","type":"INFO"},{"id":211714187[...]
    - id: 16
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=a.cf.app&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"a.cf.app","version":"0.0.0","namespace":"test"},"modules":[{"moduleName":"my-mta-managed-app-module","appName":"test-my-cf-app","providedDependencyNames":[],"services":[],"uris":["test-performanceteamblr-tf-space-1-my-mta-managed-app-module.cfapps.sap.hana.ondemand.com"]}],"services":[]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - ca9b0c36-eeae-469a-5cf6-bdabce0744b4
        status: 200 OK
        code: 200
        duration: 954.839167ms
[...]
    - id: 20
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"file_url":"aHR0cHM6Ly9naXRodWIuY29tL0RyYXk1Ni9tdGFyLWFyY2hpdmUvcmVsZWFzZXMvZG93bmxvYWQvdjEuMC4wL2EuY2YuYXBwLm10YXI="}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 68b005f4-9051-4c90-9665-60a5c03010df
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/async?namespace=test
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/jobs/ee81d8e7-f0d6-4413-a91e-0e9c124b4a7b
            X-Cf-App-Instance:
                - 1247566c-7bfd-48f3-a74e-d82711dc1180:1
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 68b005f4-9051-4c90-9665-60a5c03010df
            X-Vcap-Request-Id:
                - 47848860-55e9-4d06-6759-0e80a4c6d9db
        status: 202 Accepted
        code: 202
        duration: 2.053163792s
    - id: 21
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Cf-App-Instance:
                - 1247566c-7bfd-48f3-a74e-d82711dc1180:1
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/jobs/ee81d8e7-f0d6-4413-a91e-0e9c124b4a7b?namespace=test
        method: GET
      response:
        body: '{"status":"FINISHED","file":{"id":"8151b8a5-eff7-4a13-a0d8-3db29d650632","name":"a.cf.app.mtar","size":2365,"digest":"8FC95BAEF1A228E42C775F9E3D44241C","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","namespace":"test"},"mta_id":"a.cf.app"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 5be32bbd-19e5-4385-7f60-3a46faa953c6
        status: 201 Created
        code: 201
        duration: 441.927167ms
[...]
    - id: 36
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=my-mta&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 82221fa0-b188-43d1-54eb-83af43af5a37
        status: 200 OK
        code: 200
        duration: 253.970833ms
[...]
    - id: 38
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"0e882f7b-0b71-4bbe-a25e-fdde0270225f","mtaExtDescriptorId":"3103016c-c1b8-4dc6-97f4-738511604c8b,3f6ca02c-61d2-4d45-82de-d96fd77da244","mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 68aa8019-7608-43dd-bf03-c96c613bb2aa
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/1398357e-549f-11ef-a0ef-eeee0a9f2cbf?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 68aa8019-7608-43dd-bf03-c96c613bb2aa
            X-Vcap-Request-Id:
                - cb2f6445-38c0-40bf-7c55-3aec516ce072
        status: 202 Accepted
        code: 202
        duration: 853.468792ms
[...]
    - id: 90
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=my-mta&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"my-mta","version":"1.0.0","namespace":"test"},"modules":[{"moduleName":"my-app","appName":"test-my-app","providedDependencyNames":[],"services":["test-my-service"],"uris":["test-performanceteamblr-tf-space-1-my-app.cfapps.sap.hana.ondemand.com"]}],"services":["test-my-service"]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 7a39a7c9-e2f6-4b10-4111-b0b67d79dc04
        status: 200 OK
        code: 200
        duration: 734.95ms
[...]
    - id: 93
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"UNDEPLOY","namespace":"test","parameters":{"deleteServices":true,"mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 21569e5b-676c-4d94-83c3-aefdc3ab718c
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/5eced0d2-549f-11ef-9e24-eeee0a8b9f36?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 21569e5b-676c-4d94-83c3-aefdc3ab718c
            X-Vcap-Request-Id:
                - 2ca7b468-8c88-4754-6e3c-51adef92417e
        status: 202 Accepted
        code: 202
        duration: 514.480542ms
[...]
