---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users?count=100&filter=userName+eq+%22tf-test%22&startIndex=1
        method: GET
      response:
        body: '{"resources":[],"startIndex":1,"itemsPerPage":100,"totalResults":0,"schemas":["urn:scim:schemas:core:1.0"]}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - b7a04d10-36e2-4642-7a8b-f85d5151ad91
        status: 200 OK
        code: 200
        duration: 615.913167ms
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: '{"password":"tf-test","userName":"tf-test","name":{},"emails":[{"value":"tf-test@example.com","primary":true}]}'
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users
        method: POST
      response:
        body: '{"id":"a987eca1-52f4-4c0d-b048-ed7cc0d0e62b","meta":{"version":0,"created":"2024-07-10T04:38:13.571Z","lastModified":"2024-07-10T04:38:13.571Z"},"userName":"tf-test","name":{},"emails":[{"value":"tf-test@example.com","primary":false}],"groups":[{"value":"b334f5da-0b49-4f6a-bd97-8b36bc16c34a","display":"openid","type":"DIRECT"},{"value":"7a4c7f23-2a37-4f16-b0b8-a54ec518cf2c","display":"cloud_controller_service_permissions.read","type":"DIRECT"},{"value":"0f2e31e6-7053-41b4-b7f5-2e2d69f82bcb","display":"password.write","type":"DIRECT"},{"value":"55ed167c-6562-4cbe-a0fc-6bc79c3c4c51","display":"user_attributes","type":"DIRECT"},{"value":"da8826f4-9d2e-4af5-93a4-8c649be9b723","display":"uaa.offline_token","type":"DIRECT"},{"value":"260420bc-bbe6-4569-ab39-0fa0b7dcf36d","display":"profile","type":"DIRECT"},{"value":"c8a551ac-291e-4504-a056-a058a367b106","display":"approvals.me","type":"DIRECT"},{"value":"0c3dbc99-6b06-4099-99eb-ec2bc857aaa6","display":"oauth.approvals","type":"DIRECT"},{"value":"f7a63315-0007-4af7-bc2c-0c38e44387df","display":"cloud_controller.write","type":"DIRECT"},{"value":"22dc1ff3-de75-41fb-81a0-ea893a5552d4","display":"scim.me","type":"DIRECT"},{"value":"fbf50ac0-3219-4def-ad4d-74fbd199dea2","display":"roles","type":"DIRECT"},{"value":"f1da5b73-b4c4-4c19-b14b-773e5e99dcd3","display":"uaa.user","type":"DIRECT"},{"value":"f5c480ca-8fe5-4092-86b2-63ff5867bb50","display":"notification_preferences.read","type":"DIRECT"},{"value":"857ba7b3-e379-479f-8282-4b90502144f7","display":"notification_preferences.write","type":"DIRECT"},{"value":"b06d934a-dbee-4a47-b3c7-d39980496fdb","display":"cloud_controller.read","type":"DIRECT"}],"approvals":[],"active":true,"verified":true,"origin":"uaa","zoneId":"uaa","passwordLastModified":"2024-07-10T04:38:13.000Z","schemas":["urn:scim:schemas:core:1.0"]}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0"'
            X-Vcap-Request-Id:
                - 47ebabd7-d268-4c7d-43b2-d6d69b58ae1d
        status: 201 Created
        code: 201
        duration: 259.992459ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/a987eca1-52f4-4c0d-b048-ed7cc0d0e62b
        method: GET
      response:
        body: '{"errors":[{"detail":"User not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ae1e559a-973d-463a-4c49-7aa08cc193da::f718074c-5053-4e87-a161-fa8a3a21ace6
        status: 404 Not Found
        code: 404
        duration: 511.535ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            {"guid":"a987eca1-52f4-4c0d-b048-ed7cc0d0e62b","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users
        method: POST
      response:
        body: '{"guid":"a987eca1-52f4-4c0d-b048-ed7cc0d0e62b","created_at":"2024-07-10T04:38:14Z","updated_at":"2024-07-10T04:38:14Z","username":"tf-test","presentation_name":"tf-test","origin":"uaa","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/a987eca1-52f4-4c0d-b048-ed7cc0d0e62b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e8f326f6-4514-471f-6627-7d6c92784e43::6f5f989a-afd5-4b60-b267-e4805e76fa59
        status: 201 Created
        code: 201
        duration: 206.039084ms
[...]
    - id: 5
      request:
        host: uaa.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            If-Match:
                - '*'
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users/a987eca1-52f4-4c0d-b048-ed7cc0d0e62b
        method: GET
      response:
        body: '{"id":"a987eca1-52f4-4c0d-b048-ed7cc0d0e62b","meta":{"version":0,"created":"2024-07-10T04:38:13.571Z","lastModified":"2024-07-10T04:38:13.571Z"},"userName":"tf-test","name":{},"emails":[{"value":"tf-test@example.com","primary":false}],"groups":[{"value":"b334f5da-0b49-4f6a-bd97-8b36bc16c34a",[...]
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: |
            {"metadata":{"labels":{"landscape":null,"purpose":"production","status":"fine"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users/a987eca1-52f4-4c0d-b048-ed7cc0d0e62b
        method: PATCH
      response:
        body: '{"guid":"a987eca1-52f4-4c0d-b048-ed7cc0d0e62b","created_at":"2024-07-10T04:38:14Z","updated_at":"2024-07-10T04:38:14Z","username":"tf-test2","presentation_name":"tf-test2","origin":"uaa","metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/a987eca1-52f4-4c0d-b048-ed7cc0d0e62b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - df1e15dc-8d27-4f53-7bd0-048bd8ba5f49::515ef68f-ce97-45a4-bcc4-7a2a46786ccd
        status: 200 OK
        code: 200
        duration: 222.486167ms
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/a987eca1-52f4-4c0d-b048-ed7cc0d0e62b
        method: GET
      response:
        body: '{"guid":"a987eca1-52f4-4c0d-b048-ed7cc0d0e62b","created_at":"2024-07-10T04:38:14Z","updated_at":"2024-07-10T04:38:14Z","username":"tf-test2","presentation_name":"tf-test2","origin":"uaa","metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/a987eca1-52f4-4c0d-b048-ed7cc0d0e62b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b6639df6-5434-41bf-4063-1491a852d69d::09462325-2865-4a61-bf6e-138d59992f06
        status: 200 OK
        code: 200
        duration: 183.099375ms
[...]
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/a987eca1-52f4-4c0d-b048-ed7cc0d0e62b
        method: GET
      response:
        body: '{"guid":"a987eca1-52f4-4c0d-b048-ed7cc0d0e62b","created_at":"2024-07-10T04:38:14Z","updated_at":"2024-07-10T04:38:14Z","username":"tf-test2","presentation_name":"tf-test2","origin":"uaa","metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/a987eca1-52f4-4c0d-b048-ed7cc0d0e62b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f3b3cd27-463b-44ab-6e18-cb37e63bbf44::118194be-402c-44c9-abd6-8f67d3ad049f
        status: 200 OK
        code: 200
        duration: 185.31625ms
[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/a987eca1-52f4-4c0d-b048-ed7cc0d0e62b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/75d93087-5d64-4219-819c-b554de0a42b1
            X-Vcap-Request-Id:
                - 775d595a-4312-4576-4306-bd65eb74d8f7::9ed242f5-b9bc-4313-8bc6-07b0551edac9
        status: 202 Accepted
        code: 202
        duration: 203.465292ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/75d93087-5d64-4219-819c-b554de0a42b1
        method: GET
      response:
        body: '{"guid":"75d93087-5d64-4219-819c-b554de0a42b1","created_at":"2024-07-10T04:38:17Z","updated_at":"2024-07-10T04:38:17Z","operation":"user.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/75d93087-5d64-4219-819c-b554de0a42b1"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 2162f836-2491-442d-4d78-e4c353e7ac86::b6ea03a0-d61c-4170-a864-8fcb3e825887
        status: 200 OK
        code: 200
        duration: 171.185834ms
[...]
