---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}}},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/space_quotas
        method: POST
      response:
        body: '{"guid":"881c4d60-b489-4bd8-b08b-ab0cb09c51f6","created_at":"2024-02-06T09:07:51Z","updated_at":"2024-02-06T09:07:51Z","name":"tf-unit-test","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/881c4d60-b489-4bd8-b08b-ab0cb09c51f6"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 4a890f34-d82d-4d5a-5d3b-b3724231b45d::ce4da2d9-226a-46e2-9049-c533f1150000
        status: 201 Created
        code: 201
        duration: 536.637042ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?guids=881c4d60-b489-4bd8-b08b-ab0cb09c51f6
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=881c4d60-b489-4bd8-b08b-ab0cb09c51f6\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=881c4d60-b489-4bd8-b08b-ab0cb09c51f6\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"881c4d60-b489-4bd8-b08b-ab0cb09c51f6","created_at":"2024-02-06T09:07:51Z","updated_at":"2024-02-06T09:07:51Z","name":"tf-unit-test","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/881c4d60-b489-4bd8-b08b-ab0cb09c51f6"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 497e297b-8d60-4be5-46b3-17d1496753cf::57327077-c247-4850-9a70-5c6f77dcfbe2
        status: 200 OK
        code: 200
        duration: 171.118417ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas/881c4d60-b489-4bd8-b08b-ab0cb09c51f6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/c2ef367c-5582-4a4e-9ae2-f6aadf0f7e7e
            X-Vcap-Request-Id:
                - 5f0bbae3-ee32-4a9f-5bde-5544238c7811::60c84913-aa28-4ef7-be71-5705ce252e45
        status: 202 Accepted
        code: 202
        duration: 187.087459ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/c2ef367c-5582-4a4e-9ae2-f6aadf0f7e7e
        method: GET
      response:
        body: '{"guid":"c2ef367c-5582-4a4e-9ae2-f6aadf0f7e7e","created_at":"2024-02-06T09:07:52Z","updated_at":"2024-02-06T09:07:54Z","operation":"space_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/c2ef367c-5582-4a4e-9ae2-f6aadf0f7e7e"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 0b1636c6-fd45-427e-60b6-3dd94dabd7c7::ba62f34f-c0e3-462e-96a0-1ab90a764720
        status: 200 OK
        code: 200
        duration: 185.295792ms
