---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"organization_user","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/roles
        method: POST
      response:
        body: '{"guid":"b67b14ac-6e3f-499c-a909-9c07acb9a4f7","created_at":"2024-04-02T04:40:14Z","updated_at":"2024-04-02T04:40:14Z","type":"organization_user","relationships":{"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/b67b14ac-6e3f-499c-a909-9c07acb9a4f7"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4467eb10-a5dd-4c46-904f-d5a1c86f05a2"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712034473"
            X-Vcap-Request-Id:
                - 6ac01184-f901-4963-79ea-0e110bee7cd0::1b61dbce-6f1c-4ed5-8850-b64647a4f84f
        status: 201 Created
        code: 201
        duration: 297.533738ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/b67b14ac-6e3f-499c-a909-9c07acb9a4f7
        method: GET
      response:
        body: '{"guid":"b67b14ac-6e3f-499c-a909-9c07acb9a4f7","created_at":"2024-04-02T04:40:14Z","updated_at":"2024-04-02T04:40:14Z","type":"organization_user","relationships":{"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/b67b14ac-6e3f-499c-a909-9c07acb9a4f7"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4467eb10-a5dd-4c46-904f-d5a1c86f05a2"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712034473"
            X-Vcap-Request-Id:
                - 5fe5cc86-7fe3-4dfc-6b9a-3c8dd7b90846::44d2c619-cef6-47d5-8b13-340453ba2b0f
        status: 200 OK
        code: 200
        duration: 252.646331ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/b67b14ac-6e3f-499c-a909-9c07acb9a4f7
        method: GET
      response:
        body: '{"guid":"b67b14ac-6e3f-499c-a909-9c07acb9a4f7","created_at":"2024-04-02T04:40:14Z","updated_at":"2024-04-02T04:40:14Z","type":"organization_user","relationships":{"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/b67b14ac-6e3f-499c-a909-9c07acb9a4f7"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4467eb10-a5dd-4c46-904f-d5a1c86f05a2"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712034473"
            X-Vcap-Request-Id:
                - aa2338bc-41c6-4bab-6b2b-d5d4c323c770::ddbfb1d5-f658-4ef9-95da-15116c7e7515
        status: 200 OK
        code: 200
        duration: 250.422359ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/b67b14ac-6e3f-499c-a909-9c07acb9a4f7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/7b83ec8d-e31d-4650-97b2-d924cf46d11d
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712034473"
            X-Vcap-Request-Id:
                - 20b0cb50-9f67-484f-73dc-59c0e03594d8::f5d27d99-cbea-496e-a5c1-e32572ecad8e
        status: 202 Accepted
        code: 202
        duration: 305.250137ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/7b83ec8d-e31d-4650-97b2-d924cf46d11d
        method: GET
      response:
        body: '{"guid":"7b83ec8d-e31d-4650-97b2-d924cf46d11d","created_at":"2024-04-02T04:40:16Z","updated_at":"2024-04-02T04:40:16Z","operation":"role.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/7b83ec8d-e31d-4650-97b2-d924cf46d11d"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712034473"
            X-Vcap-Request-Id:
                - 7d229d5b-3e7d-47e6-72ab-70c9f7292267::099a9368-28de-4099-a02c-020d92db5b7a
        status: 200 OK
        code: 200
        duration: 242.74303ms
