---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","globally_enabled":{"running":false,"staging":false},"rules":[{"protocol":"tcp","destination":"192.168.1.100","ports":"1883,8883","log":true},{"protocol":"udp","destination":"192.168.1.100","ports":"1883,8883","log":false},{"protocol":"icmp","destination":"192.168.1.100","type":0,"code":0,"log":false}],"relationships":{"running_spaces":{"data":[{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"}]},"staging_spaces":{"data":[{"guid":"3bc20dc4-1870-4835-8308-dda2d766e61e"},{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"}]}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups
        method: POST
      response:
        body: '{"guid":"aa3966d9-9631-495d-b52c-b1b051d9fffa","created_at":"2024-02-15T06:27:56Z","updated_at":"2024-02-15T06:27:56Z","name":"tf-unit-test","rules":[{"protocol":"tcp","destination":"192.168.1.100","ports":"1883,8883","log":true},{"protocol":"udp","destination":"192.168.1.100","ports":"1883,8883","log":false},{"protocol":"icmp","destination":"192.168.1.100","type":0,"code":0,"log":false}],"globally_enabled":{"running":false,"staging":false},"relationships":{"running_spaces":{"data":[{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"}]},"staging_spaces":{"data":[{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"},{"guid":"3bc20dc4-1870-4835-8308-dda2d766e61e"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/aa3966d9-9631-495d-b52c-b1b051d9fffa"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 262eae7d-5759-4a0f-6e94-0b5024dd62e1::6025871b-fbe8-44a0-8658-2d2dbfb1c24b
        status: 201 Created
        code: 201
        duration: 612.38256ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups/aa3966d9-9631-495d-b52c-b1b051d9fffa
        method: GET
      response:
        body: '{"guid":"aa3966d9-9631-495d-b52c-b1b051d9fffa","created_at":"2024-02-15T06:27:56Z","updated_at":"2024-02-15T06:27:56Z","name":"tf-unit-test","rules":[{"protocol":"tcp","destination":"192.168.1.100","ports":"1883,8883","log":true},{"protocol":"udp","destination":"192.168.1.100","ports":"1883,8883","log":false},{"protocol":"icmp","destination":"192.168.1.100","type":0,"code":0,"log":false}],"globally_enabled":{"running":false,"staging":false},"relationships":{"running_spaces":{"data":[{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"}]},"staging_spaces":{"data":[{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"},{"guid":"3bc20dc4-1870-4835-8308-dda2d766e61e"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/aa3966d9-9631-495d-b52c-b1b051d9fffa"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - af28f673-98eb-4f1e-6648-ff1a49c9e4cc::b30e7ab0-bc26-4eb2-8adb-da7638ac5678
        status: 200 OK
        code: 200
        duration: 210.239084ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups/aa3966d9-9631-495d-b52c-b1b051d9fffa
        method: GET
      response:
        body: '{"guid":"aa3966d9-9631-495d-b52c-b1b051d9fffa","created_at":"2024-02-15T06:27:56Z","updated_at":"2024-02-15T06:27:56Z","name":"tf-unit-test","rules":[{"protocol":"tcp","destination":"192.168.1.100","ports":"1883,8883","log":true},{"protocol":"udp","destination":"192.168.1.100","ports":"1883,8883","log":false},{"protocol":"icmp","destination":"192.168.1.100","type":0,"code":0,"log":false}],"globally_enabled":{"running":false,"staging":false},"relationships":{"running_spaces":{"data":[{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"}]},"staging_spaces":{"data":[{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"},{"guid":"3bc20dc4-1870-4835-8308-dda2d766e61e"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/aa3966d9-9631-495d-b52c-b1b051d9fffa"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - dd404321-7fcd-4232-5d58-992bbea706d4::ff740296-b29d-45f7-9110-51db95cae786
        status: 200 OK
        code: 200
        duration: 191.612335ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":[{"guid":"3bc20dc4-1870-4835-8308-dda2d766e61e"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups/aa3966d9-9631-495d-b52c-b1b051d9fffa/relationships/running_spaces
        method: POST
      response:
        body: '{"data":[{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"},{"guid":"3bc20dc4-1870-4835-8308-dda2d766e61e"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/aa3966d9-9631-495d-b52c-b1b051d9fffa/relationships/running_spaces"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 1313b665-b930-4bc8-7115-69179dec5127::b01c4357-bc09-445d-a851-9f473ebe3897
        status: 200 OK
        code: 200
        duration: 237.579154ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups/aa3966d9-9631-495d-b52c-b1b051d9fffa/relationships/staging_spaces/3bc20dc4-1870-4835-8308-dda2d766e61e
        method: DELETE
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - ab7d9dbb-7b9e-4d6b-6364-2e1bbfadfd68::14a56c5c-7176-4905-aee8-f619964c2378
        status: 204 No Content
        code: 204
        duration: 215.561395ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test1","globally_enabled":{"running":true,"staging":true},"rules":[null]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups/aa3966d9-9631-495d-b52c-b1b051d9fffa
        method: PATCH
      response:
        body: '{"guid":"aa3966d9-9631-495d-b52c-b1b051d9fffa","created_at":"2024-02-15T06:27:56Z","updated_at":"2024-02-15T06:27:58Z","name":"tf-unit-test1","rules":[],"globally_enabled":{"running":true,"staging":true},"relationships":{"running_spaces":{"data":[{"guid":"3bc20dc4-1870-4835-8308-dda2d766e61e"},{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"}]},"staging_spaces":{"data":[{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/aa3966d9-9631-495d-b52c-b1b051d9fffa"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d83722cb-0236-4f70-7cf8-460de499ee50::9debf0c0-23b2-4600-b1f8-4dada846fa2b
        status: 200 OK
        code: 200
        duration: 210.095069ms
[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups/aa3966d9-9631-495d-b52c-b1b051d9fffa
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/d8951f91-c026-4de0-8e7a-04562722507c
            X-Vcap-Request-Id:
                - 8bec8216-63ec-4a99-597c-c15b877b5aa1::a14b434a-29d1-4d4e-b95c-d9078211bf4f
        status: 202 Accepted
        code: 202
        duration: 225.580735ms
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/d8951f91-c026-4de0-8e7a-04562722507c
        method: GET
      response:
        body: '{"guid":"d8951f91-c026-4de0-8e7a-04562722507c","created_at":"2024-02-15T06:27:59Z","updated_at":"2024-02-15T06:28:00Z","operation":"security_group.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/d8951f91-c026-4de0-8e7a-04562722507c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 377b87bc-66e8-49b1-5408-9079c8bf9106::a675fce8-a4d4-4ac3-877d-9cd5ebbcfbc6
        status: 200 OK
        code: 200
        duration: 190.139659ms
