---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"test123","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"4286cf5e-f882-4423-856c-784a6e114641","created_at":"2024-02-01T14:22:47Z","updated_at":"2024-02-01T14:22:47Z","name":"test123","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f850ddbe-84ca-416c-58b4-859a4a30bc85::8676bb21-d369-4fad-beeb-8b534f634bd2
        status: 201 Created
        code: 201
        duration: 842.150285ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 2b1351d2-97bb-4042-5640-e57712f68038::05de72da-9db7-4153-9765-780421d84434
        status: 200 OK
        code: 200
        duration: 188.586882ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"5215e4df-79a4-4ce8-a933-837d6aa7a77b"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/relationships/isolation_segment
        method: PATCH
      response:
        body: '{"data":{"guid":"5215e4df-79a4-4ce8-a933-837d6aa7a77b"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/relationships/isolation_segment"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/5215e4df-79a4-4ce8-a933-837d6aa7a77b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 0b3d4f6c-0182-44a3-5d6b-1cd0dacf17f6::866a87d7-b897-4988-b9d0-e85b6d634c5c
        status: 200 OK
        code: 200
        duration: 204.307704ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641
        method: GET
      response:
        body: '{"guid":"4286cf5e-f882-4423-856c-784a6e114641","created_at":"2024-02-01T14:22:47Z","updated_at":"2024-02-01T14:22:48Z","name":"test123","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 5aadaaad-ef23-4ff3-4ee4-c9a83807108f::34660b6f-ce68-4b48-afc2-5e0378b4c617
        status: 200 OK
        code: 200
        duration: 196.926282ms
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":{"guid":"5215e4df-79a4-4ce8-a933-837d6aa7a77b"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/relationships/isolation_segment"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/5215e4df-79a4-4ce8-a933-837d6aa7a77b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d565749f-6ade-48d1-5f11-fe6e5da55617::b8a9934f-8d32-48f5-af73-e77a9b0a1545
        status: 200 OK
        code: 200
        duration: 199.819183ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641
        method: GET
      response:
        body: '{"guid":"4286cf5e-f882-4423-856c-784a6e114641","created_at":"2024-02-01T14:22:47Z","updated_at":"2024-02-01T14:22:48Z","name":"test123","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e226ebd7-8c67-4de6-4917-6ea9a3481cf4::ba55f176-51d3-43b4-8c8c-9f6f465d901c
        status: 200 OK
        code: 200
        duration: 187.992527ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e6842c7c-516d-4228-42f7-4217b8b98f86::755133a1-d102-4d40-86ec-19e845dd834f
        status: 200 OK
        code: 200
        duration: 206.725007ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/relationships/isolation_segment
        method: PATCH
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - cdebb238-6803-4b57-7f6b-6bd15f5daf64::f9647412-0ce9-4075-afa6-3f45ccece048
        status: 200 OK
        code: 200
        duration: 231.690927ms
[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b1deed68-9a94-4f26-73af-0d8fc983fdce::1ca660da-143e-4947-b8a7-115a1d4b3de6
        status: 200 OK
        code: 200
        duration: 188.368139ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a7137742-e4a8-494d-4703-edd6a17e989e::1ca22864-479a-498b-b3bf-28c1ead23471
        status: 200 OK
        code: 200
        duration: 200.337198ms
[...]
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b1340daf-742a-423a-7029-8aa53ce7a6ec::14a3bd91-8241-431e-bad7-54ae39cfc06d
        status: 200 OK
        code: 200
        duration: 204.155456ms
[...]
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/4286cf5e-f882-4423-856c-784a6e114641
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/5cc51e43-b056-433e-b1a3-df58a426aa6f
            X-Vcap-Request-Id:
                - e124b782-4528-4156-57d8-9fb208306b23::f7c1132c-3fe7-4b0b-9690-f99e284aab9e
        status: 202 Accepted
        code: 202
        duration: 286.233464ms
    - id: 19
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/5cc51e43-b056-433e-b1a3-df58a426aa6f
        method: GET
      response:
        body: '{"guid":"5cc51e43-b056-433e-b1a3-df58a426aa6f","created_at":"2024-02-01T14:22:53Z","updated_at":"2024-02-01T14:22:53Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/5cc51e43-b056-433e-b1a3-df58a426aa6f"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 3aed85c1-7f98-42e4-7e7e-697f19c5f913::c312734b-fe95-4ed5-a01c-8b79d4f48abf
        status: 200 OK
        code: 200
        duration: 196.386234ms
