---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"user-provided","name":"test-si-user-provided","relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: '{"guid":"24db218e-1859-4e41-b6c5-cdb6e3764b27","created_at":"2024-03-13T17:50:51Z","updated_at":"2024-03-13T17:50:51Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"Operation succeeded","updated_at":"2024-03-13T17:50:51Z","created_at":"2024-03-13T17:50:51Z"},"type":"user-provided","syslog_drain_url":null,"route_service_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/24db218e-1859-4e41-b6c5-cdb6e3764b27"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"service_credential_bindings":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=24db218e-1859-4e41-b6c5-cdb6e3764b27"},"service_route_bindings":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?service_instance_guids=24db218e-1859-4e41-b6c5-cdb6e3764b27"},"credentials":{"href":"https://api.x.x.x.x.com/v3/service_instances/24db218e-1859-4e41-b6c5-cdb6e3764b27/credentials"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710353864"
            X-Vcap-Request-Id:
                - b8d0abb9-8650-4666-70bd-ae47c69fdff1::7651e225-aed4-488c-89ab-33a9f49df18c
        status: 201 Created
        code: 201
        duration: 203.742625ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"24db218e-1859-4e41-b6c5-cdb6e3764b27","created_at":"2024-03-13T17:50:51Z","updated_at":"2024-03-13T17:50:51Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"Operation succeeded","updated_at":"2024-03-13T17:50:51Z","created_at":"2024-03-13T17:50:51Z"},"type":"user-provided","syslog_drain_url":null,"route_service_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":[...]
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances/24db218e-1859-4e41-b6c5-cdb6e3764b27
        method: GET
      response:
        body: '{"guid":"24db218e-1859-4e41-b6c5-cdb6e3764b27","created_at":"2024-03-13T17:50:51Z","updated_at":"2024-03-13T17:50:51Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":[...]
[...]
