---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 67e90001-91f3-411d-b7ba-65b4de8e5fd6
            X-Vcap-Request-Id:
                - 573d1fe3-11de-4971-5eaf-946baefdee6c
        status: 204 No Content
        code: 204
        duration: 235.864916ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--0c9d831b4dbdff020fb6b3042db286630dd7e319fc7637a67990119b2f46\r\nContent-Disposition: form-data; name=\"file\"; filename=\"provider-config-local.txt\"\r\nContent-Type: application/octet-stream\r\n\r\nprovider_installation {\n  dev_overrides {\n    \"SAP/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\r\n--0c9d831b4dbdff020fb6b3042db286630dd7e319fc7637a67990119b2f46--\r\n"
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - multipart/form-data; boundary=0c9d831b4dbdff020fb6b3042db286630dd7e319fc7637a67990119b2f46
            X-Csrf-Token:
                - 67e90001-91f3-411d-b7ba-65b4de8e5fd6
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files
        method: POST
      response:
        body: '{"id":"4e931b57-7e86-49b3-bdf5-e4b227573889","name":"provider-config-local.txt","size":95,"digest":"981F7BFFA1053E82E392424A24A70B70","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 0e9e42e5-19d7-41f4-667c-0eee8108f7f2
        status: 201 Created
        code: 201
        duration: 403.987541ms
[...]
    - id: 10
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"95cc8835-549e-11ef-9de9-eeee0a88e5d6","processType":"DEPLOY","startedAt":"2024-08-07T09:22:37.625Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}},{"processId":"b115b40e-549e-11ef-9e24-eeee0a8b9f36","processType":"DEPLOY","startedAt":"2024-08-07T09:23:22.456Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 4c831fd7-164f-4f6e-736d-4c9001e7539d
        status: 200 OK
        code: 200
        duration: 308.253375ms
[...]
    - id: 12
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Csrf-Token:
                - 5c6be89f-fb99-4d28-ad44-c4cc4e94914c
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/95cc8835-549e-11ef-9de9-eeee0a88e5d6?actionId=abort
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/95cc8835-549e-11ef-9de9-eeee0a88e5d6?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 5c6be89f-fb99-4d28-ad44-c4cc4e94914c
            X-Vcap-Request-Id:
                - eaa8d5b5-fc07-4553-75af-62fdeda733c9
        status: 202 Accepted
        code: 202
        duration: 1.006784958s
    - id: 13
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/95cc8835-549e-11ef-9de9-eeee0a88e5d6?embed=messages
        method: GET
      response:
        body: '{"processId":"95cc8835-549e-11ef-9de9-eeee0a88e5d6","processType":"DEPLOY","startedAt":"2024-08-07T09:22:37.625Z[UTC]","endedAt":"2024-08-07T09:32:35.363Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"ABORTED","messages":[{"id":211713866,"text":"Operation ID: 95cc8835-549e-11ef-9de9-eeee0a88e5d6","timestamp":"2024-08-07T09:22:36.658Z[UTC]","type":"INFO"},{"id":211713880,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-07T09:22:44.635Z[UTC]","type":"INFO"},{"id":211713899,"text":"Error processing MTA extension descriptors: org.cloudfoundry.multiapps.controller.persistence.services.FileStorageException: org.cloudfoundry.multiapps.common.ParsingException: Error while parsing YAML string: \nprovider_installation {\n  dev_overrides {\n    \"SAP/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\nclass java.lang.String cannot be cast to class java.util.Map (java.lang.String and java.util.Map are in module java.base of loader ''bootstrap'') ","timestamp":"2024-08-07T09:23:07.645Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - da6697b6-7dbd-4164-7c0e-7c0754632f99
        status: 200 OK
        code: 200
        duration: 341.640083ms
[...]
    - id: 15
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","parameters":{"appArchiveId":"f0acb347-b339-47d4-bf8a-48958e47075d","mtaExtDescriptorId":"03322756-97de-4c6e-a963-79b144bf04fe","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - be4c0039-5862-4f45-9ec8-d38ddfa7a0c3
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/fca0e28d-549f-11ef-84bc-eeee0a83078e?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - be4c0039-5862-4f45-9ec8-d38ddfa7a0c3
            X-Vcap-Request-Id:
                - 80e2e687-52cf-4980-7ac0-4644d6bfd4e0
        status: 202 Accepted
        code: 202
        duration: 586.59575ms
    - id: 16
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/fca0e28d-549f-11ef-84bc-eeee0a83078e?embed=messages
        method: GET
      response:
        body: '{"processId":"fca0e28d-549f-11ef-84bc-eeee0a83078e","processType":"DEPLOY","startedAt":"2024-08-07T09:32:38.686Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","errorType":"CONTENT","messages":[{"id":211715479,"text":"Operation ID: fca0e28d-549f-11ef-84bc-eeee0a83078e","timestamp":"2024-08-07T09:32:38.674Z[UTC]","type":"INFO"},{"id":211715482,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-07T09:32:38.846Z[UTC]","type":"INFO"},{"id":211715485,"text":"Error processing MTA extension descriptors: org.cloudfoundry.multiapps.controller.persistence.services.FileStorageException: org.cloudfoundry.multiapps.common.ParsingException: Error while parsing YAML string: \nprovider_installation {\n  dev_overrides {\n    \"SAP/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\nclass java.lang.String cannot be cast to class java.util.Map (java.lang.String and java.util.Map are in module java.base of loader ''bootstrap'') ","timestamp":"2024-08-07T09:32:39.273Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - b00bd80b-64ad-4026-4eef-54657aa5f845
        status: 200 OK
        code: 200
        duration: 355.143458ms
