---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - da165f4a-a270-4880-820f-b8cb6b6cf60f
            X-Vcap-Request-Id:
                - 090e3447-2d44-43f2-515c-8a858367ef05
        status: 204 No Content
        code: 204
        duration: 894.580166ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--c05ec2b57a6311fd9bdd5db52d01d8e3f97de81ab62db26eee3560fa6e79\r\nContent-Disposition: form-data; name=\"file\"; filename=\"a.cf.app.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x01z�)fPK\x03\x04\x14\0\b\0\b\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x01z�)f�M��LK-.�\rK-*��ϳR0�3���K�M�Rȭ��-I��M�KLOM�M,[...]
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"be46b56b-642f-11ef-bc48-eeee0a96ce02","processType":"DEPLOY","startedAt":"2024-08-27T04:49:29.068Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}},{"processId":"c0e1d2b7-642f-11ef-bc48-eeee0a96ce02","processType":"DEPLOY","startedAt":"2024-08-27T04:49:33.434Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 16472d65-8e9e-4fa6-4a94-1e6abf1649e2
        status: 200 OK
        code: 200
        duration: 322.524542ms
[...]
    - id: 4
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"fb34770a-0490-4483-8bd2-fe2540ff04af","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 2d3bfb37-142b-4dfc-95e7-345adaf491e5
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/02795aba-6430-11ef-bc48-eeee0a96ce02?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 2d3bfb37-142b-4dfc-95e7-345adaf491e5
            X-Vcap-Request-Id:
                - b1346048-ded7-4cf9-5271-a7823b2ce87f
        status: 202 Accepted
        code: 202
        duration: 494.080458ms
    - id: 5
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/02795aba-6430-11ef-bc48-eeee0a96ce02?embed=messages
        method: GET
      response:
        body: '{"processId":"02795aba-6430-11ef-bc48-eeee0a96ce02","processType":"DEPLOY","startedAt":"2024-08-27T04:51:23.463Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":true,"state":"RUNNING","messages":[{"id":213964975,"text":"Operation ID: 02795aba-6430-11ef-bc48-eeee0a96ce02","timestamp":"2024-08-27T04:51:23.452Z[UTC]","type":"INFO"},{"id":213964976,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-27T04:51:23.541Z[UTC]","type":"INFO"},{"id":213964977,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-08-27T04:51:23.831Z[UTC]","type":"INFO"},{"id":213964978,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"a.cf.app\" and namespace \"test\"","timestamp":"2024-08-27T04:51:24.177Z[UTC]","type":"INFO"},{"id":213964979,"text":"Detected new MTA version: \"0.0.0\"","timestamp":"2024-08-27T04:51:24.372Z[UTC]","type":"INFO"},{"id":213964980,"text":"Creating application \"test-my-cf-app\" from MTA module \"my-mta-managed-app-module\"...","timestamp":"2024-08-27T04:51:25.007Z[UTC]","type":"INFO"},{"id":213964981,"text":"Uploading application \"test-my-cf-app\"...","timestamp":"2024-08-27T04:51:25.671Z[UTC]","type":"INFO"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 76739704-425f-4ebc-450b-c45766fded5d
        status: 200 OK
        code: 200
        duration: 260.020625ms
[...]
    - id: 23
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=f724bcc16ea742b086bc8eaad9f7c8f5-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - f724bcc16ea742b086bc8eaad9f7c8f5-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"f724bcc16ea742b086bc8eaad9f7c8f5-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"02d8a61b4b374a2d86a20e475d0cb638"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 09bf9b95-e518-466b-75dd-55085d07516f
        status: 200 OK
        code: 200
        duration: 965.750708ms
[...]
    - id: 25
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/02795aba-6430-11ef-bc48-eeee0a96ce02?embed=messages
        method: GET
      response:
        body: '{"processId":"02795aba-6430-11ef-bc48-eeee0a96ce02","processType":"DEPLOY","startedAt":"2024-08-27T04:51:23.463Z[UTC]","endedAt":"2024-08-27T04:52:09.348Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":false,"state":"FINISHED","messages":[{"id":213964975,"text":"Operation ID: 02795aba-6430-11ef-bc48-eeee0a96ce02","timestamp":"2024-08-27T04:51:23.452Z[UTC]","type":"INFO"},{"id":213964976,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-27T04:51:23.541Z[UTC]","type":[...]
    - id: 26
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=a.cf.app&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"a.cf.app","version":"0.0.0","namespace":"test"},"modules":[{"moduleName":"my-mta-managed-app-module","appName":"test-my-cf-app","providedDendencyNames":[],"services":[],"uris":["test-performanceteamblr-tf-space-1-my-mta-managed-app-module.cfapps.sap.hana.ondemand.com"]}],"services":[]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 02c22511-7c39-46a8-5bf6-d7e5cdc1b961
        status: 200 OK
        code: 200
        duration: 461.426625ms
[...]
    - id: 33
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"file_url":"aHR0cHM6Ly9naXRodWIuY29tL0RyYXk1Ni9tdGFyLWFyY2hpdmUvcmVsZWFzZXMvZG93bmxvYWQvdjEuMC4wL2EuY2YuYXBwLm10YXI="}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 65036123-adce-4383-afc8-eb59cbcbe26e
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/async?namespace=test
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/jobs/2ae2ab9b-e52f-4c2a-9f26-de4dfea46e8b
            X-Cf-App-Instance:
                - 1247566c-7bfd-48f3-a74e-d82711dc1180:2
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 65036123-adce-4383-afc8-eb59cbcbe26e
            X-Vcap-Request-Id:
                - af12675f-a0c4-4051-4314-1b4959df2241
        status: 202 Accepted
        code: 202
        duration: 293.528458ms
    - id: 34
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Cf-App-Instance:
                - 1247566c-7bfd-48f3-a74e-d82711dc1180:2
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/jobs/2ae2ab9b-e52f-4c2a-9f26-de4dfea46e8b?namespace=test
        method: GET
      response:
        body: '{"status":"FINISHED","file":{"id":"575a0df7-d399-46f7-8d45-608edfc68519","name":"a.cf.app.mtar","size":2365,"digest":"8FC95BAEF1A228E42C775F9E3D44241C","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","namespace":"test"},"mta_id":"a.cf.app"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - d805807d-3d24-4c31-7ca7-985cccf31fb5
        status: 201 Created
        code: 201
        duration: 275.668834ms
[...]
    - id: 52
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=my-mta&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 7a0ed9c8-df72-4bca-41fd-2502d2b25ce3
        status: 200 OK
        code: 200
        duration: 248.566125ms
[...]
    - id: 54
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"6db88a43-1c22-4edd-8681-fcad263bfd7f","mtaExtDescriptorId":"b911805e-1f01-47a6-b0a7-581a07836967,db4fa8b6-db21-4a43-9374-78bc75b35ba9","mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 78fe3a27-cd3e-4984-a94c-aa53cb52b952
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/2d7dc6ce-6430-11ef-bbc8-eeee0a9e0d44?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 78fe3a27-cd3e-4984-a94c-aa53cb52b952
            X-Vcap-Request-Id:
                - d3f3fca1-b212-4b22-5671-30308191cc5c
        status: 202 Accepted
        code: 202
        duration: 407.588833ms
[...]
    - id: 84
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=my-mta&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"my-mta","version":"1.0.0","namespace":"test"},"modules":[{"moduleName":"my-app","appName":"test-my-app","providedDendencyNames":[],"services":["test-my-service"],"uris":["test-performanceteamblr-tf-space-1-my-app.cfapps.sap.hana.ondemand.com"]}],"services":["test-my-service"]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 27b7db82-87aa-4f6c-5117-5eeebb3af1a6
        status: 200 OK
        code: 200
        duration: 785.389583ms
[...]
    - id: 88
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"UNDEPLOY","namespace":"test","parameters":{"deleteServices":true,"mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - f13d401d-133c-4379-913f-948ef51310ae
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/56f502e9-6430-11ef-bc48-eeee0a96ce02?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - f13d401d-133c-4379-913f-948ef51310ae
            X-Vcap-Request-Id:
                - f9ff2ea5-e101-4035-5e99-22996355283b
        status: 202 Accepted
        code: 202
        duration: 642.462042ms
[...]
