---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"managed","name":"test-si-managed","relationships":{"service_plan":{"data":{"guid":"432bd9db-20e2-4997-825f-e4a937705b87"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":null,"annotations":null},"parameters":{"xsappname":"tf-unit-test","tenant-mode":"dedicated","description":"tf test1","foreign-scope-references":["user_attributes"],"scopes":[{"name":"uaa.user","description":"UAA"}],"role-templates":[{"name":"Token_Exchange","description":"UAA","scope-references":["uaa.user"]}]}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/5e56ebaf-f514-4226-928b-687f700c10d2
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710406064"
            X-Vcap-Request-Id:
                - 293edbf0-1a90-4ca2-59ce-bc8457b7b29f::e4b82dd5-62c6-47bc-8d74-5fa1dbcb4574
        status: 202 Accepted
        code: 202
        duration: 1.079302667s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/5e56ebaf-f514-4226-928b-687f700c10d2
        method: GET
      response:
        body: '{"guid":"5e56ebaf-f514-4226-928b-687f700c10d2","created_at":"2024-03-14T08:40:23Z","updated_at":"2024-03-14T08:40:24Z","operation":"service_instance.create","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/5e56ebaf-f514-4226-928b-687f700c10d2"},"service_instances":{"href":"https://api.x.x.x.x.com/v3/service_instances/e82a589b-8c14-4910-ac9a-2fcf7d7a54a6"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710406064"
            X-Vcap-Request-Id:
                - 51ed48b1-e57d-47d6-55a4-977e975e6a6c::fde4402a-31d1-43d0-bdad-98e5f85bcc0b
        status: 200 OK
        code: 200
        duration: 305.259125ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"e82a589b-8c14-4910-ac9a-2fcf7d7a54a6","created_at":"2024-03-14T08:40:23Z","updated_at":"2024-03-14T08:40:24Z","name":"test-si-managed","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"","updated_at":"2024-03-14T08:40:24Z","created_at":"2024-03-14T08:40:24Z"},"type":"managed","maintenance_info":{},"upgrade_available":false,"dashboard_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"service_plan":{"data":{"guid":"432bd9db-20e2-4997-825f-e4a937705b87"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/e82a589b-8c14-4910-ac9a-2fcf7d7a54a6"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"service_credential_bindings":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=e82a589b-8c14-4910-ac9a-2fcf7d7a54a6"},"service_route_bindings":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?service_instance_guids=e82a589b-8c14-4910-ac9a-2fcf7d7a54a6"},"service_plan":{"href":"https://api.x.x.x.x.com/v3/service_plans/432bd9db-20e2-4997-825f-e4a937705b87"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_instances/e82a589b-8c14-4910-ac9a-2fcf7d7a54a6/parameters"},"shared_spaces":{"href":"https://api.x.x.x.x.com/v3/service_instances/e82a589b-8c14-4910-ac9a-2fcf7d7a54a6/relationships/shared_spaces"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710406064"
            X-Vcap-Request-Id:
                - 6fc906e0-ff8b-43d2-449b-c3c7499ec1b4::3af753e9-8852-4392-b6e6-1ba00e014e40
        status: 200 OK
        code: 200
        duration: 307.690167ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances/e82a589b-8c14-4910-ac9a-2fcf7d7a54a6
        method: GET
      response:
        body: '{"guid":"e82a589b-8c14-4910-ac9a-2fcf7d7a54a6","created_at":"2024-03-14T08:40:23Z","updated_at":"2024-03-14T08:40:24Z","name":"test-si-managed","tags":[],"last_operation":{"type":"creat[...]
[...]
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/f2a5f2f2-7227-4787-aed4-4fcb4b7c59e7
        method: GET
      response:
        body: '{"guid":"f2a5f2f2-7227-4787-aed4-4fcb4b7c59e7","created_at":"2024-03-14T08:40:29Z","updated_at":"2024-03-14T08:40:30Z","operation":"service_instance.update","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/f2a5f2f2-7227-4787-aed4-4fcb4b7c59e7"},"service_instances":{"href":"https://api.x.x.x.x.com/v3/service_instances/e82a589b-8c14-4910-ac9a-2fcf7d7a54a6"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710406064"
            X-Vcap-Request-Id:
                - e2a5a87e-0cf5-44df-564b-9b6e8002dd28::3027175e-900c-4d10-b797-0ff1f40ddbff
        status: 200 OK
        code: 200
        duration: 262.474166ms
[...]
