---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 1bf054d9-1d56-49b3-b795-2bfc0fdbabd5
            X-Vcap-Request-Id:
                - 0df1112d-d6a2-4eb1-6e12-1620b61730c4
        status: 204 No Content
        code: 204
        duration: 249.446209ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--e504c2232a63d47ac9031cda58fd87d53be57cd60550dac9528e37683dfe\r\nContent-Disposition: form-data; name=\"file\"; filename=\"my-mta_1.0.0.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0� \x01Y\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x013\t�fPK\x03\x04\x14\0\b\0\b\0� \x01Y\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x013\t�f\\��J�0\x10@�}�b^ ��\e!��(�h\x11,[...]
[...]
    - id: 3
      request:
        host: deploy-service.x.x.x.x.com
        body: "--6cd88d3cfdc316f929fc79a65b7deb2072d1a799cd8dc68321d90474983e\r\nContent-Disposition: form-data; name=\"file\"; filename=\"prod-scale-vertically.mtaext\"\r\nContent-Type: application/octet-stream\r\n\r\n_schema-version: 3.3.0\nID: my-mta-prod-scale-vertically\nextends: my-mta-prod\nversion: 1.0.0\n\nmodules:\n- name: my-app\n  parameters:\n    memory: 2G\r\n--6cd88d3cfdc316f929fc79a65b7deb2072d1a799cd8dc68321d90474983e--\r\n"
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - multipart/form-data; boundary=6cd88d3cfdc316f929fc79a65b7deb2072d1a799cd8dc68321d90474983e
            X-Csrf-Token:
                - b8063b8a-8bf2-4150-8d45-258cd1786a9f
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files?namespace=test
        method: POST
      response:
        body: '{"id":"33222ab8-ed68-4ac6-abed-6aac1811e053","name":"prod-scale-vertically.mtaext","size":145,"digest":"EF0CBE2F0A77B470B2E2A6164FE6F0B8","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","namespace":"test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 70eaf776-fbfd-44a9-7e48-5240d03d7d8c
        status: 201 Created
        code: 201
        duration: 408.380583ms
[...]
    - id: 6
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=my-mta&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 067a8846-2552-4782-672a-ef538534f6a2
        status: 200 OK
        code: 200
        duration: 285.341917ms
[...]
    - id: 8
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"b35cb772-7095-4138-8c57-3aec49678f24","mtaExtDescriptorId":"33222ab8-ed68-4ac6-abed-6aac1811e053,80341c54-e919-45c9-97b3-c8861cb45ef9","mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - c7bc3afb-8e64-49b2-a961-563420eb3dec
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/716655d3-549f-11ef-a0ef-eeee0a9f2cbf?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - c7bc3afb-8e64-49b2-a961-563420eb3dec
            X-Vcap-Request-Id:
                - 6de01cda-70c7-438f-4cb5-6f0e13a710f0
        status: 202 Accepted
        code: 202
        duration: 513.504292ms
    - id: 9
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/716655d3-549f-11ef-a0ef-eeee0a9f2cbf?embed=messages
        method: GET
      response:
        body: '{"processId":"716655d3-549f-11ef-a0ef-eeee0a9f2cbf","processType":"DEPLOY","startedAt":"2024-08-07T09:28:45.111Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"my-mta","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"RUNNING","messages":[{"id":211715020,"text":"Operation ID: 716655d3-549f-11ef-a0ef-eeee0a9f2cbf","timestamp":"2024-08-07T09:28:45.087Z[UTC]","type":"INFO"},{"id":211715021,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-07T09:28:45.221Z[UTC]","type":"INFO"},{"id":211715022,"text":"Using extension descriptors with IDs in this sequence: [my-mta-prod,my-mta-prod-scale-vertically]","timestamp":"2024-08-07T09:28:45.505Z[UTC]","type":"INFO"},{"id":211715023,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-08-07T09:28:45.57Z[UTC]","type":"INFO"},{"id":211715025,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"my-mta\" and namespace \"test\"","timestamp":"2024-08-07T09:28:45.836Z[UTC]","type":"INFO"},{"id":211715028,"text":"Detected new MTA version: \"1.0.0\"","timestamp":"2024-08-07T09:28:46.006Z[UTC]","type":"INFO"},{"id":211715033,"text":"Processing service \"test-my-service\"...","timestamp":"2024-08-07T09:28:46.631Z[UTC]","type":"INFO"},{"id":211715035,"text":"Creating service \"test-my-service\" from MTA resource \"my-service\"...","timestamp":"2024-08-07T09:28:46.752Z[UTC]","type":"INFO"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - d4f50d04-23bc-4c28-4a1a-5504ae0b1850
        status: 200 OK
        code: 200
        duration: 351.477625ms
[...]
    - id: 51
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/716655d3-549f-11ef-a0ef-eeee0a9f2cbf?embed=messages
        method: GET
      response:
        body: '{"processId":"716655d3-549f-11ef-a0ef-eeee0a9f2cbf","processType":"DEPLOY","startedAt":"2024-08-07T09:28:45.111Z[UTC]","endedAt":"2024-08-07T09:30:26.887Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"my-mta","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"FINISHED","messages":[{"id":211715020,"text":"Operation ID: 716655d3-549f-11ef-a0ef-eeee0a9f2cbf","timestamp":"2024-08-07T09:28:45.087Z[UTC]","type":"INFO"},{"id":211715021,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-07T09:28:45.221Z[UTC]","type":"INFO"},{"id":211715022,[...]
    - id: 52
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=my-mta&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"my-mta","version":"1.0.0","namespace":"test"},"modules":[{"moduleName":"my-app","appName":"test-my-app","providedDendencyNames":[],"services":["test-my-service"],"uris":["test-performanceteamblr-tf-space-1-my-app.cfapps.sap.hana.ondemand.com"]}],"services":["test-my-service"]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 1eacc656-d944-449c-4155-67242d8d1931
        status: 200 OK
        code: 200
        duration: 1.844792041s
[...]
    - id: 92
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"UNDEPLOY","namespace":"test","parameters":{"deleteServices":true,"mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 5d17028a-a05f-44d1-8cea-43762021967e
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/db65f57b-549f-11ef-9a66-eeee0a9df59e?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 5d17028a-a05f-44d1-8cea-43762021967e
            X-Vcap-Request-Id:
                - 189c2a27-d75b-4a63-5a31-1efcd7aaa079
        status: 202 Accepted
        code: 202
        duration: 1.608122375s
[...]
