---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"organization_user","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/roles
        method: POST
      response:
        body: '{"guid":"f75d6ade-a9f7-421d-80bf-47bf896fa2a9","created_at":"2024-03-28T12:10:30Z","updated_at":"2024-03-28T12:10:30Z","type":"organization_user","relationships":{"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/f75d6ade-a9f7-421d-80bf-47bf896fa2a9"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4467eb10-a5dd-4c46-904f-d5a1c86f05a2"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711629188"
            X-Vcap-Request-Id:
                - c89b812c-a60c-40fe-49d1-a2bf4f705229::505836c6-d000-4c60-b411-a29a0cd4a833
        status: 201 Created
        code: 201
        duration: 693.010523ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/f75d6ade-a9f7-421d-80bf-47bf896fa2a9
        method: GET
      response:
        body: '{"guid":"f75d6ade-a9f7-421d-80bf-47bf896fa2a9","created_at":"2024-03-28T12:10:30Z","updated_at":"2024-03-28T12:10:30Z","type":"organization_user","relationships":{"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/f75d6ade-a9f7-421d-80bf-47bf896fa2a9"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4467eb10-a5dd-4c46-904f-d5a1c86f05a2"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711629188"
            X-Vcap-Request-Id:
                - d425f542-1de8-4b15-57d2-fbc1ac13ae2c::e2953812-c35f-4d40-a96c-b2ddbdf868fa
        status: 200 OK
        code: 200
        duration: 208.667515ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/f75d6ade-a9f7-421d-80bf-47bf896fa2a9
        method: GET
      response:
        body: '{"guid":"f75d6ade-a9f7-421d-80bf-47bf896fa2a9","created_at":"2024-03-28T12:10:30Z","updated_at":"2024-03-28T12:10:30Z","type":"organization_user","relationships":{"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/f75d6ade-a9f7-421d-80bf-47bf896fa2a9"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4467eb10-a5dd-4c46-904f-d5a1c86f05a2"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711629188"
            X-Vcap-Request-Id:
                - ebd47178-ec4d-4417-46cb-06253e22bf28::9cda2565-d188-44eb-b479-d2887f9e346f
        status: 200 OK
        code: 200
        duration: 225.86878ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/f75d6ade-a9f7-421d-80bf-47bf896fa2a9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/1d7f9bed-becd-42fe-8fa4-cb6443f20ec9
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711629189"
            X-Vcap-Request-Id:
                - 0107551b-a1a4-4b74-6478-48d2d6cf3fd9::a56f1d50-556a-4955-8714-457c8c3bcfbf
        status: 202 Accepted
        code: 202
        duration: 241.075468ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/1d7f9bed-becd-42fe-8fa4-cb6443f20ec9
        method: GET
      response:
        body: '{"guid":"1d7f9bed-becd-42fe-8fa4-cb6443f20ec9","created_at":"2024-03-28T12:10:32Z","updated_at":"2024-03-28T12:10:32Z","operation":"role.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/1d7f9bed-becd-42fe-8fa4-cb6443f20ec9"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711629188"
            X-Vcap-Request-Id:
                - edc3d797-b2e9-49e1-7389-fd71a66ece02::80db5719-85b5-4d82-8fd1-c7a8a321967d
        status: 200 OK
        code: 200
        duration: 190.756299ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711629187"
            X-Vcap-Request-Id:
                - ac82d4c2-3245-4729-7bf6-1a4550c83117::8393ae22-1271-40c2-acd6-db870f2b8828
        status: 200 OK
        code: 200
        duration: 172.737228ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles?organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&types=organization_user&user_guids=4595acb0-8a59-4461-83fc-989f0e0c42d7
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/roles?order_by=%2Bcreated_at\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50\u0026types=organization_user\u0026user_guids=4595acb0-8a59-4461-83fc-989f0e0c42d7"},"last":{"href":"https://api.x.x.x.x.com/v3/roles?order_by=%2Bcreated_at\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50\u0026types=organization_user\u0026user_guids=4595acb0-8a59-4461-83fc-989f0e0c42d7"},"next":null,"previous":null},"resources":[{"guid":"9498397e-4d9d-448c-a026-a1fa6a3b0438","created_at":"2021-12-21T09:01:14Z","updated_at":"2021-12-21T09:01:14Z","type":"organization_user","relationships":{"user":{"data":{"guid":"4595acb0-8a59-4461-83fc-989f0e0c42d7"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/9498397e-4d9d-448c-a026-a1fa6a3b0438"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4595acb0-8a59-4461-83fc-989f0e0c42d7"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711629188"
            X-Vcap-Request-Id:
                - 0795d886-a85f-45d6-703d-ed7fc7400b17::534b62f7-640e-408f-b589-a4e302d1f5c4
        status: 200 OK
        code: 200
        duration: 199.488113ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"space_manager","relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"user":{"data":{"guid":"4595acb0-8a59-4461-83fc-989f0e0c42d7"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/roles
        method: POST
      response:
        body: '{"guid":"253165e0-0e60-44d1-80f3-627c3059aa24","created_at":"2024-03-28T12:10:35Z","updated_at":"2024-03-28T12:10:35Z","type":"space_manager","relationships":{"user":{"data":{"guid":"4595acb0-8a59-4461-83fc-989f0e0c42d7"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"organization":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/253165e0-0e60-44d1-80f3-627c3059aa24"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4595acb0-8a59-4461-83fc-989f0e0c42d7"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711629188"
            X-Vcap-Request-Id:
                - c171378c-b347-4ce6-61cc-e10839eac88d::ae84a82e-c327-4bb4-9c14-b062378c9262
        status: 201 Created
        code: 201
        duration: 299.147394ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/253165e0-0e60-44d1-80f3-627c3059aa24
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/692fdd20-78f0-44dd-a260-eef1be5eb904
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711629188"
            X-Vcap-Request-Id:
                - c51fe1fb-fc3b-4718-5313-00cd971a4006::28194920-df76-4309-8f8a-b552d57c7618
        status: 202 Accepted
        code: 202
        duration: 240.852334ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/692fdd20-78f0-44dd-a260-eef1be5eb904
        method: GET
      response:
        body: '{"guid":"692fdd20-78f0-44dd-a260-eef1be5eb904","created_at":"2024-03-28T12:10:36Z","updated_at":"2024-03-28T12:10:36Z","operation":"role.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/692fdd20-78f0-44dd-a260-eef1be5eb904"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711629188"
            X-Vcap-Request-Id:
                - b81800dc-22d0-469b-7958-53a6a9b5ba14::bd1d65b0-37c6-47ee-9868-4466a05831cd
        status: 200 OK
        code: 200
        duration: 183.191506ms
