---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - bba5098e-e0a2-44d9-ac42-b0c9eda5a20a
            X-Vcap-Request-Id:
                - dce8d3a6-29a6-4c7b-51d1-314c105cdb52
        status: 204 No Content
        code: 204
        duration: 1.404197333s
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--b612cbf0e131b0249b41fd8b574652dcc267b8f9b2fd7f15ee4ca2a5cc25\r\nContent-Disposition: form-data; name=\"file\"; filename=\"a.cf.app.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x01z�)fPK\x03\x04\x14\0\b\0\b\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x01z�)f�M��LK-.�\rK-*��ϳR0�3���K�M�Rȭ��-I��M�KLOM�M,[...]
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"6f78fcba-4f07-11ef-862b-eeee0a982624","processType":"DEPLOY","startedAt":"2024-07-31T06:38:02.553Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"ERROR","messages":[],"parameters":{}},{"processId":"decb7e18-4fce-11ef-b957-eeee0a89541b","processType":"DEPLOY","startedAt":"2024-08-01T06:25:39.19Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}},{"processId":"e3b594b1-4fce-11ef-b25d-eeee0a82c81e","processType":"DEPLOY","startedAt":"2024-08-01T06:25:47.426Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 4c0bdb88-fa35-4203-5bc8-c51679a1b311
        status: 200 OK
        code: 200
        duration: 317.649625ms
[...]
    - id: 4
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"b818d467-03c2-4274-8c42-95505393d52c","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 578342ed-3681-4608-8965-84fa3d080a2d
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/f9ea2bd7-4fd0-11ef-b25d-eeee0a82c81e?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 578342ed-3681-4608-8965-84fa3d080a2d
            X-Vcap-Request-Id:
                - 3360c2a4-08f9-477b-6091-352299d1f7ae
        status: 202 Accepted
        code: 202
        duration: 500.769833ms
    - id: 5
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/f9ea2bd7-4fd0-11ef-b25d-eeee0a82c81e?embed=messages
        method: GET
      response:
        body: '{"processId":"f9ea2bd7-4fd0-11ef-b25d-eeee0a82c81e","processType":"DEPLOY","startedAt":"2024-08-01T06:40:43.703Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"RUNNING","messages":[{"id":210927408,"text":"Operation ID: f9ea2bd7-4fd0-11ef-b25d-eeee0a82c81e","timestamp":"2024-08-01T06:40:43.647Z[UTC]","type":"INFO"},{"id":210927409,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-01T06:40:43.829Z[UTC]","type":"INFO"},{"id":210927410,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-08-01T06:40:44.177Z[UTC]","type":"INFO"},{"id":210927411,"text":"Detected deployed MTA with ID \"a.cf.app\", version \"0.0.0\" and namespace \"test\"","timestamp":"2024-08-01T06:40:44.653Z[UTC]","type":"INFO"},{"id":210927412,"text":"Detected new MTA version: \"0.0.0\"","timestamp":"2024-08-01T06:40:45.103Z[UTC]","type":"INFO"},{"id":210927413,"text":"Deployed MTA version: \"0.0.0\"","timestamp":"2024-08-01T06:40:45.113Z[UTC]","type":"INFO"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - f4a9cc2e-3e6e-485f-46fd-f51f3d547e17
        status: 200 OK
        code: 200
        duration: 364.544584ms
[...]
    - id: 7
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/f9ea2bd7-4fd0-11ef-b25d-eeee0a82c81e?embed=messages
        method: GET
      response:
        body: '{"processId":"f9ea2bd7-4fd0-11ef-b25d-eeee0a82c81e","processType":"DEPLOY","startedAt":"2024-08-01T06:40:43.703Z[UTC]","endedAt":"2024-08-01T06:40:48.83Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"FINISHED","messages":[{"id":210927408,"text":"Operation ID: f9ea2bd7-4fd0-11ef-b25d-eeee0a82c81e","timestamp":"2024-08-01T06:40:43.647Z[UTC]","type":"INFO"},{"id":210927409,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-01T06:40:43.829Z[UTC]","type":"INFO"},{"id":210927410[...]
    - id: 8
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=a.cf.app&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"a.cf.app","version":"0.0.0","namespace":"test"},"modules":[{"moduleName":"my-mta-managed-app-module","appName":"test-my-cf-app","providedDendencyNames":[],"services":[],"uris":["test-performanceteamblr-tf-space-1-my-mta-managed-app-module.cfapps.sap.hana.ondemand.com"]}],"services":[]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 0b23d402-02a2-4130-468d-3c23b250f119
        status: 200 OK
        code: 200
        duration: 552.715917ms
[...]
    - id: 12
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"file_url":"aHR0cHM6Ly9naXRodWIuY29tL0RyYXk1Ni9tdGFyLWFyY2hpdmUvcmVsZWFzZXMvZG93bmxvYWQvdjEuMC4wL2EuY2YuYXBwLm10YXI="}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 64c610c9-3fb6-43de-ba3d-448a5707359c
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/async?namespace=test
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/jobs/777ce3bc-dcb9-4304-9998-b1dcbf7018e6
            X-Cf-App-Instance:
                - 1247566c-7bfd-48f3-a74e-d82711dc1180:0
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 64c610c9-3fb6-43de-ba3d-448a5707359c
            X-Vcap-Request-Id:
                - 9ba0ba0d-0725-4a64-582f-0220478ea065
        status: 202 Accepted
        code: 202
        duration: 331.792333ms
    - id: 13
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Cf-App-Instance:
                - 1247566c-7bfd-48f3-a74e-d82711dc1180:0
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/jobs/777ce3bc-dcb9-4304-9998-b1dcbf7018e6?namespace=test
        method: GET
      response:
        body: '{"status":"FINISHED","file":{"id":"c0f311ab-95ec-41df-836d-ab59a0871f53","name":"a.cf.app.mtar","size":2365,"digest":"8FC95BAEF1A228E42C775F9E3D44241C","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","namespace":"test"},"mta_id":"a.cf.app"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 2ed3ce0e-b472-4111-449e-ee0e0a88bc69
        status: 201 Created
        code: 201
        duration: 349.94975ms
[...]
    - id: 36
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=my-mta&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"09ae559b-4fcb-11ef-b25d-eeee0a82c81e","processType":"DEPLOY","startedAt":"2024-08-01T05:58:13.129Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"my-mta","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 82412e2a-7fc6-4f5e-76b9-bdb66a3d4654
        status: 200 OK
        code: 200
        duration: 255.319458ms
[...]
    - id: 38
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"54c125f9-c9a8-456f-b3c4-f9dc72d76c02","mtaExtDescriptorId":"603ff2b3-ae27-42af-8664-a839d4d979a0,58924f1b-9265-4cf3-bf20-3491d9dacdb5","mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 2b3e01f8-d84b-4e0c-b24a-f2c5de5c11d5
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/14577652-4fd1-11ef-abc1-eeee0a84543e?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 2b3e01f8-d84b-4e0c-b24a-f2c5de5c11d5
            X-Vcap-Request-Id:
                - 2e17764a-4f1e-4b56-6b76-b0a6158c3708
        status: 202 Accepted
        code: 202
        duration: 392.366959ms
[...]
    - id: 64
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=my-mta&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"my-mta","version":"1.0.0","namespace":"test"},"modules":[{"moduleName":"my-app","appName":"test-my-app","providedDendencyNames":[],"services":["test-my-service"],"uris":["test-performanceteamblr-tf-space-1-my-app.cfapps.sap.hana.ondemand.com"]}],"services":["test-my-service"]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 55c533ac-8e43-4099-4081-63a64b18e2b6
        status: 200 OK
        code: 200
        duration: 2.407049417s
[...]
    - id: 68
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"UNDEPLOY","namespace":"test","parameters":{"deleteServices":true,"mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - fdb4935b-5a99-4ead-9c5f-5b98e9f6667a
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/3d191dab-4fd1-11ef-b957-eeee0a89541b?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - fdb4935b-5a99-4ead-9c5f-5b98e9f6667a
            X-Vcap-Request-Id:
                - 8ab642f2-276b-478f-4c86-b7c73ab008aa
        status: 202 Accepted
        code: 202
        duration: 385.8015ms
[...]
