---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-test-do-not-delete","globally_enabled":{"running":false,"staging":false}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups
        method: POST
      response:
        body: '{"errors":[{"detail":"Security group with name ''tf-test-do-not-delete'' already exists.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 0db44d9b-95ba-4e5e-7470-568aa44e2bfd::437b7112-672c-46ad-acd3-30f9b75a3bd6
        status: 422 Unprocessable Entity
        code: 422
        duration: 193.305103ms
