---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"organization_manager","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/roles
        method: POST
      response:
        body: '{"errors":[{"detail":"User ''debaditya.ray@sap.com'' already has ''organization_manager'' role in organization ''PerformanceTeamBLR''.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711629189"
            X-Vcap-Request-Id:
                - 809595c3-8b8f-4399-515a-32eca4b1bd8a::4d281128-0e00-4168-a1e0-7e7c18f8588d
        status: 422 Unprocessable Entity
        code: 422
        duration: 320.611208ms
