---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 68458b08-b6d2-480f-4925-71a4c5e88719::13de9a65-8f6e-46d8-ac65-0780188ba245
        status: 200 OK
        code: 200
        duration: 361.525958ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 0b2d4c5c-8376-4d0e-5207-d9b846f9026e::7b635f01-c26f-4355-a0f6-31c983583b81
        status: 200 OK
        code: 200
        duration: 307.579417ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin-sidecar
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  sidecars:
                    - name: sidecar-1
                      process_types:
                        - worker
                      command: sleep 5200
                      memory: 256M
                  metadata:
                    labels: {}
                    annotations: {}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/4e930f4f-16d4-4a84-b644-fe33fbc41e7d
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 7adf8dab-4af8-4b7f-7034-ba5176a21d7e::b6750d67-5b49-4029-9ddf-b82c8116bbb5
        status: 202 Accepted
        code: 202
        duration: 325.966917ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/4e930f4f-16d4-4a84-b644-fe33fbc41e7d
        method: GET
      response:
        body: '{"guid":"4e930f4f-16d4-4a84-b644-fe33fbc41e7d","created_at":"2024-04-30T05:34:50Z","updated_at":"2024-04-30T05:34:50Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/4e930f4f-16d4-4a84-b644-fe33fbc41e7d"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 297af04b-410d-441e-4815-22780326bcf1::24926560-dea4-4ec7-bac0-44adf9fe99c0
        status: 200 OK
        code: 200
        duration: 242.445833ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"90b35d65-20fd-4e4e-b476-63f76dae759e","created_at":"2024-04-30T05:34:49Z","updated_at":"2024-04-30T05:34:50Z","name":"http-bin-sidecar","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/actions/stop","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 4722d498-4e62-4bea-7c09-de58e1cc8acd::0603ddb9-6b98-40f6-82a5-61450c76977f
        status: 200 OK
        code: 200
        duration: 278.691416ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"90b35d65-20fd-4e4e-b476-63f76dae759e"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"01f05a45-8e79-418b-9084-2037fcfce2ef","created_at":"2024-04-30T05:34:51Z","updated_at":"2024-04-30T05:34:51Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"90b35d65-20fd-4e4e-b476-63f76dae759e"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/01f05a45-8e79-418b-9084-2037fcfce2ef"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 3cd8a7b3-c324-45c0-76d5-3d9e9f1353ad::0add09c0-cfc5-4aaa-be5b-7243da7c5012
        status: 201 Created
        code: 201
        duration: 256.637833ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"01f05a45-8e79-418b-9084-2037fcfce2ef"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"5533876e-57f7-4a96-8153-341d86e2c316","created_at":"2024-04-30T05:34:52Z","updated_at":"2024-04-30T05:34:52Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"01f05a45-8e79-418b-9084-2037fcfce2ef"},"droplet":null,"created_by":{"guid":"1f263e00-9a07-42d8-be71-b18be6d10b45","name":"dl_604f126b654d33027ecbd9b4@global.corp.sap","email":"dl_604f126b654d33027ecbd9b4@global.corp.sap"},"relationships":{"app":{"data":{"guid":"90b35d65-20fd-4e4e-b476-63f76dae759e"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/5533876e-57f7-4a96-8153-341d86e2c316"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 0ff55a61-5788-41ed-7a8b-111e86767fb1::27923a6f-8ec0-4a53-bbd8-1e2219cad13e
        status: 201 Created
        code: 201
        duration: 326.734ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/5533876e-57f7-4a96-8153-341d86e2c316
        method: GET
      response:
        body: '{"guid":"5533876e-57f7-4a96-8153-341d86e2c316","created_at":"2024-04-30T05:34:52Z","updated_at":"2024-04-30T05:34:52Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/01f05a45-8e79-418b-9084-2037fcfce2ef/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/01f05a45-8e79-418b-9084-2037fcfce2ef/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/01f05a45-8e79-418b-9084-2037fcfce2ef/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"5afc0abf-a1d1-4436-b79c-5f157184d706","created_at":"2024-04-30T05:34:54Z","updated_at":"2024-04-30T05:34:54Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"90b35d65-20fd-4e4e-b476-63f76dae759e"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/5afc0abf-a1d1-4436-b79c-5f157184d706"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/01f05a45-8e79-418b-9084-2037fcfce2ef"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - d9910959-2d02-4152-57e7-4926aa5dca3a::907db1b7-65f8-46cc-af2e-894e4199743e
        status: 200 OK
        code: 200
        duration: 251.863875ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"5afc0abf-a1d1-4436-b79c-5f157184d706"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"5afc0abf-a1d1-4436-b79c-5f157184d706"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 6b245f5c-e36d-4d59-6740-c914510b4310::1220471b-04f4-4b4d-8744-1399d5705a94
        status: 200 OK
        code: 200
        duration: 306.639416ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/actions/start
        method: POST
      response:
        body: '{"guid":"90b35d65-20fd-4e4e-b476-63f76dae759e","created_at":"2024-04-30T05:34:49Z","updated_at":"2024-04-30T05:34:56Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type"[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-sidecar
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 6c5b0fd4-5eef-4f95-6c73-0fcf7ab847aa::75ff16d2-f246-4da5-a29d-a055109c2062
        status: 200 OK
        code: 200
        duration: 309.111959ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/90b35d65-20fd-4e4e-b476-63f76dae759e
        method: GET
      response:
        body: '{"guid":"90b35d65-20fd-4e4e-b476-63f76dae759e","created_at":"2024-04-30T05:34:49Z","updated_at":"2024-04-30T05:34:56Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type":"docker","data[...]
[...]
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/e5bd4fd3-0d16-4151-b731-78219482bada
        method: GET
      response:
        body: '{"guid":"e5bd4fd3-0d16-4151-b731-78219482bada","created_at":"2024-04-30T05:34:58Z","updated_at":"2024-04-30T05:34:58Z","operation":"app.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/e5bd4fd3-0d16-4151-b731-78219482bada"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - de1d1101-348d-4701-5943-830abbfc58e7::242addb3-7431-42f9-b454-e2ed78fe1e5e
        status: 200 OK
        code: 200
        duration: 253.481709ms
