---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: |-
            {
              "links": {
                "self": {
                  "href": "https://api.x.x.x.x.com"
                },
                "cloud_controller_v2": {
                  "href": "https://api.x.x.x.x.com/v2",
                  "meta": {
                    "version": "2.220.0"
                  }
                },
                "cloud_controller_v3": {
                  "href": "https://api.x.x.x.x.com/v3",
                  "meta": {
                    "version": "3.155.0"
                  }
                },
                "network_policy_v0": {
                  "href": "https://api.x.x.x.x.com/networking/v0/external"
                },
                "network_policy_v1": {
                  "href": "https://api.x.x.x.x.com/networking/v1/external"
                },
                "login": {
                  "href": "https://login.x.x.x.x.com"
                },
                "uaa": {
                  "href": "https://uaa.x.x.x.x.com"
                },
                "credhub": null,
                "routing": null,
                "logging": {
                  "href": "wss://doppler.x.x.x.x.com:443"
                },
                "log_cache": {
                  "href": "https://log-cache.x.x.x.x.com"
                },
                "log_stream": {
                  "href": "https://log-stream.x.x.x.x.com"
                },
                "app_ssh": {
                  "href": "ssh.x.x.x.x.com:2222",
                  "meta": {
                    "host_key_fingerprint": "S1f0N1qdni4o+z5Q67oj3jxvS2WqgDycOSOpCH4ZhFA",
                    "oauth_client": "ssh-proxy"
                  }
                }
              }
            }
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - c8bb089d-ef4e-4a2c-4eee-0ba21aa8e8fd::70e96bf1-a7a0-4d12-9a49-a1fa9295335c
        status: 200 OK
        code: 200
        duration: 479.993393ms
[...]
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","metadata":{"labels":{},"annotations":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/organizations
        method: POST
      response:
        body: '{"guid":"a5ad6224-5a51-40a3-93d6-8763fccb8f55","created_at":"2024-01-31T12:31:55Z","updated_at":"2024-01-31T12:31:55Z","name":"tf-unit-test","suspended":false,"relationships":{"quota":{"data":{"guid":"772993fb-9aae-479b-8001-11e42b9e6a55"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/a5ad6224-5a51-40a3-93d6-8763fccb8f55"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/a5ad6224-5a51-40a3-93d6-8763fccb8f55/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/a5ad6224-5a51-40a3-93d6-8763fccb8f55/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/772993fb-9aae-479b-8001-11e42b9e6a55"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 4ba00e22-11f0-4bcc-5219-23a3222e92fa::67285eb1-f130-4928-99c2-5ea2be897725
        status: 201 Created
        code: 201
        duration: 213.207243ms
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?guids=a5ad6224-5a51-40a3-93d6-8763fccb8f55
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?guids=a5ad6224-5a51-40a3-93d6-8763fccb8f55\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?guids=a5ad6224-5a51-40a3-93d6-8763fccb8f55\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"a5ad6224-5a51-40a3-93d6-8763fccb8f55","created_at":"2024-01-31T12:31:55Z","updated_at":"2024-01-31T12:31:55Z","name":"tf-unit-test","suspended":false,"relationships":{"quota":{"data":{"guid":"772993fb-9aae-479b-8001-11e42b9e6a55"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/a5ad6224-5a51-40a3-93d6-8763fccb8f55"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/a5ad6224-5a51-40a3-93d6-8763fccb8f55/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/a5ad6224-5a51-40a3-93d6-8763fccb8f55/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/772993fb-9aae-479b-8001-11e42b9e6a55"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 1c32d0bb-ff85-4fd0-7140-e824399e73b9::2def18bd-39a5-469b-a2b6-7670dae639ab
        status: 200 OK
        code: 200
        duration: 175.020916ms
[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?organization_guids=a5ad6224-5a51-40a3-93d6-8763fccb8f55
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?organization_guids=a5ad6224-5a51-40a3-93d6-8763fccb8f55\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?organization_guids=a5ad6224-5a51-40a3-93d6-8763fccb8f55\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 228b96f9-5749-463b-5400-0e0c62742b0c::177430de-5d54-445c-9463-a181959c397c
        status: 200 OK
        code: 200
        duration: 174.275276ms
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/a5ad6224-5a51-40a3-93d6-8763fccb8f55
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/8002bec5-7e5d-4809-9801-183995eba5b2
            X-Vcap-Request-Id:
                - 0d50e64f-6758-428c-480b-635fe511be42::74679d6e-a16a-4832-8fac-59c7d00a9459
        status: 202 Accepted
        code: 202
        duration: 187.616671ms
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/8002bec5-7e5d-4809-9801-183995eba5b2
        method: GET
      response:
        body: '{"guid":"8002bec5-7e5d-4809-9801-183995eba5b2","created_at":"2024-01-31T12:31:57Z","updated_at":"2024-01-31T12:31:57Z","operation":"organization.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/8002bec5-7e5d-4809-9801-183995eba5b2"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ad2acf00-ea81-481d-44fc-1e4ba5834c6f::33256133-851e-48d3-815b-bb75abc745df
        status: 200 OK
        code: 200
        duration: 182.602581ms
