---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"hi","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","authentication":{"type":"basic","credentials":{"username":"admin","password":"hi"}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_brokers
        method: POST
      response:
        body: '{"errors":[{"detail":"Name must be unique","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - fad43a03-f740-4a13-63ba-0179e77dd278::578b8d07-1f9b-40ac-8c40-b552a2edc061
        status: 422 Unprocessable Entity
        code: 422
        duration: 176.10125ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","authentication":{"type":"basic","credentials":{"username":"admin","password":"hello"}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_brokers
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/05dead26-33bb-4c95-98d8-3ebe98556438
            X-Vcap-Request-Id:
                - a0f04b91-6c59-404a-5e8e-cb94b5184444::082e75f1-44b2-4478-90eb-891e3e3fcd93
        status: 202 Accepted
        code: 202
        duration: 196.313292ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/05dead26-33bb-4c95-98d8-3ebe98556438
        method: GET
      response:
        body: '{"guid":"05dead26-33bb-4c95-98d8-3ebe98556438","created_at":"2024-06-25T10:21:39Z","updated_at":"2024-06-25T10:21:40Z","operation":"service_broker.catalog.synchronize","state":"FAILED","errors":[{"detail":"Authentication with the service broker failed. Double-check that the username and password are correct.","title":"CF-ServiceBrokerApiAuthenticationFailed","code":10001}],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/05dead26-33bb-4c95-98d8-3ebe98556438"},"service_brokers":{"href":"https://api.x.x.x.x.com/v3/service_brokers/09133de5-f7a5-4158-94d4-5c4ecdfe381d"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a024cfac-6cbc-44f1-526d-45dcbb68d7a2::166fe86a-de28-4da8-9501-b7b350e625d0
        status: 200 OK
        code: 200
        duration: 177.121584ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers?names=brokerName2
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=brokerName2\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=brokerName2\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"09133de5-f7a5-4158-94d4-5c4ecdfe381d","created_at":"2024-06-25T10:21:39Z","updated_at":"2024-06-25T10:21:40Z","name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/09133de5-f7a5-4158-94d4-5c4ecdfe381d"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=09133de5-f7a5-4158-94d4-5c4ecdfe381d"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - fa55fea5-f83f-4260-52ad-6dfd64f978f8::d9894fd6-17e7-4f9f-91ea-17d987780471
        status: 200 OK
        code: 200
        duration: 182.287083ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/09133de5-f7a5-4158-94d4-5c4ecdfe381d
        method: GET
      response:
        body: '{"guid":"09133de5-f7a5-4158-94d4-5c4ecdfe381d","created_at":"2024-06-25T10:21:39Z","updated_at":"2024-06-25T10:21:40Z","name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/09133de5-f7a5-4158-94d4-5c4ecdfe381d"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=09133de5-f7a5-4158-94d4-5c4ecdfe381d"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 91013515-0a4a-4ca1-6182-b78157b6cfbf::96a25a78-1ff3-4726-b66d-87552ab88646
        status: 200 OK
        code: 200
        duration: 174.317334ms
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/5c9de5fc-51d3-4721-857e-7bd5e8d936fe
        method: GET
      response:
        body: '{"guid":"5c9de5fc-51d3-4721-857e-7bd5e8d936fe","created_at":"2024-06-25T10:21:45Z","updated_at":"2024-06-25T10:21:45Z","operation":"service_broker.catalog.synchronize","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/5c9de5fc-51d3-4721-857e-7bd5e8d936fe"},"service_brokers":{"href":"https://api.x.x.x.x.com/v3/service_brokers/d8fa6ac3-b20d-4f97-bef1-d698501e533c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ca12c66c-be93-4e17-48bd-cdd25d511a79::b017e71c-d8bd-4abf-8566-debb740342ae
        status: 200 OK
        code: 200
        duration: 173.60175ms
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers?names=brokerName2
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=brokerName2\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=brokerName2\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"d8fa6ac3-b20d-4f97-bef1-d698501e533c","created_at":"2024-06-25T10:21:45Z","updated_at":"2024-06-25T10:21:45Z","name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/d8fa6ac3-b20d-4f97-bef1-d698501e533c"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=d8fa6ac3-b20d-4f97-bef1-d698501e533c"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c51f717f-2db8-4be4-6b76-a1e8b4be2551::533462e0-d16b-4b8a-8eb0-725d4d7d54e3
        status: 200 OK
        code: 200
        duration: 179.874916ms
[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/d8fa6ac3-b20d-4f97-bef1-d698501e533c
        method: GET
      response:
        body: '{"guid":"d8fa6ac3-b20d-4f97-bef1-d698501e533c","created_at":"2024-06-25T10:21:45Z","updated_at":"2024-06-25T10:21:45Z","name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/d8fa6ac3-b20d-4f97-bef1-d698501e533c"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=d8fa6ac3-b20d-4f97-bef1-d698501e533c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f7434beb-c4b5-4fb6-7dfe-9f17c994cd8f::32043f4c-b710-4dad-82e8-06dc9398e761
        status: 200 OK
        code: 200
        duration: 172.647458ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","authentication":{"type":"basic","credentials":{"username":"admin","password":"hello"}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_brokers/d8fa6ac3-b20d-4f97-bef1-d698501e533c
        method: PATCH
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/abc21a34-9b05-4609-81b5-a66f82b05453
            X-Vcap-Request-Id:
                - ebe9ea1b-0686-4247-4b62-c6e944bd31a1::d2f97ce2-7d67-494c-a680-11a0365b87d1
        status: 202 Accepted
        code: 202
        duration: 196.366125ms
[...]
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/abc21a34-9b05-4609-81b5-a66f82b05453
        method: GET
      response:
        body: '{"guid":"abc21a34-9b05-4609-81b5-a66f82b05453","created_at":"2024-06-25T10:21:49Z","updated_at":"2024-06-25T10:21:49Z","operation":"service_broker.update","state":"FAILED","errors":[{"detail":"Authentication with the service broker failed. Double-check that the username and password are correct.","title":"CF-ServiceBrokerApiAuthenticationFailed","code":10001}],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/abc21a34-9b05-4609-81b5-a66f82b05453"},"service_brokers":{"href":"https://api.x.x.x.x.com/v3/service_brokers/d8fa6ac3-b20d-4f97-bef1-d698501e533c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d8bd288a-42e4-4a1e-5684-91c0fbd9de69::82d3744b-e925-45ee-a857-bb088b3882ab
        status: 200 OK
        code: 200
        duration: 170.729708ms
[...]
    - id: 19
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/f7285334-8ed1-4c17-8bc8-917021e0161e
        method: GET
      response:
        body: '{"guid":"f7285334-8ed1-4c17-8bc8-917021e0161e","created_at":"2024-06-25T10:21:51Z","updated_at":"2024-06-25T10:21:52Z","operation":"service_broker.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/f7285334-8ed1-4c17-8bc8-917021e0161e"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a2c46d08-f53e-4f36-577c-8294f9e058c4::c0d88bd4-fdcb-4ed9-845e-c6e91ce92d75
        status: 200 OK
        code: 200
        duration: 179.588875ms
