---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - 58477081-21c6-4fa6-7722-2588226692b7::8f9bf6c9-ac13-404a-9ccc-e738df4bbfc1
        status: 200 OK
        code: 200
        duration: 247.146917ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - e8738b50-cb07-44c2-5822-5c36d0c59fea::e6a357bd-7c26-493a-a1fb-2d8fa2b8257f
        status: 200 OK
        code: 200
        duration: 271.585083ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"441de3a7-615a-4d57-abc8-c9f2f6644453","created_at":"2024-04-05T13:16:51Z","updated_at":"2024-04-05T13:16:56Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453/actions/stop","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - bc577234-0026-43e7-5c56-4adc2695298e::42756c35-648b-4684-a8b3-8afd4840d56f
        status: 200 OK
        code: 200
        duration: 271.901916ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-venerable&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-venerable\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-venerable\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - 99427bf9-341f-4e75-5050-0f7958a9c8d8::cdcd55fc-53cc-4907-a5c8-c6e89df867ff
        status: 200 OK
        code: 200
        duration: 261.8875ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"http-bin-venerable"}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453
        method: PATCH
      response:
        body: '{"guid":"441de3a7-615a-4d57-abc8-c9f2f6644453","created_at":"2024-04-05T13:16:51Z","updated_at[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  processes:
                    - type: web
                      disk_quota: 1024M
                      health-check-type: http
                      health-check-http-endpoint: /get
                      instances: 1
                      memory: 256M
                      readiness-health-check-type: http
                      readiness-health-check-http-endpoint: /get
                  metadata:
                    labels: {}
                    annotations: {}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/83299c24-d900-4e1b-8b21-e871b9445cb2
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - 4e62fd50-4ccf-4a49-4ab0-7167317bfa31::108be5fe-4c1c-4527-b92f-d74874b91c5a
        status: 202 Accepted
        code: 202
        duration: 302.281875ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/83299c24-d900-4e1b-8b21-e871b9445cb2
        method: GET
      response:
        body: '{"guid":"83299c24-d900-4e1b-8b21-e871b9445cb2","created_at":"2024-04-05T13:29:29Z","updated_at":"2024-04-05T13:29:30Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/83299c24-d900-4e1b-8b21-e871b9445cb2"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - 65445270-6f65-46e8-7828-74b2a0c9898f::423b94e0-56c1-43c6-af44-46a987aefab2
        status: 200 OK
        code: 200
        duration: 241.500125ms
[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"a9f2b36d-e550-40d4-a587-3106168cb529"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"d07e240d-d067-4da5-a001-492908403c01","created_at":"2024-04-05T13:29:31Z","updated_at":"2024-04-05T13:29:31Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"a9f2b36d-e550-40d4-a587-3106168cb529"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/d07e240d-d067-4da5-a001-492908403c01"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/a9f2b36d-e550-40d4-a587-3106168cb529"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - 6bd3819d-be3c-46f6-5185-4066dcd889c1::73cf668e-1ba3-421a-ae23-010c17c8e56d
        status: 201 Created
        code: 201
        duration: 304.859ms
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"d07e240d-d067-4da5-a001-492908403c01"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"eee2d55b-d611-44da-ab57-5a2371c50061","created_at":"2024-04-05T13:29:32Z","updated_at":"2024-04-05T13:29:32Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"d07e240d-d067-4da5-a001-492908403c01"},"droplet":null,"created_by":{"guid":"1f263e00-9a07-42d8-be71-b18be6d10b45","name":"dl_604f126b654d33027ecbd9b4@global.corp.sap","email":"dl_604f126b654d33027ecbd9b4@global.corp.sap"},"relationships":{"app":{"data":{"guid":"a9f2b36d-e550-40d4-a587-3106168cb529"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/eee2d55b-d611-44da-ab57-5a2371c50061"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/a9f2b36d-e550-40d4-a587-3106168cb529"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - 17ca7b03-db3e-4814-5951-c194fc79cbef::bb57fc7c-b6a8-4d7a-870b-e6641fa21634
        status: 201 Created
        code: 201
        duration: 331.542375ms
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/eee2d55b-d611-44da-ab57-5a2371c50061
        method: GET
      response:
        body: '{"guid":"eee2d55b-d611-44da-ab57-5a2371c50061","created_at":"2024-04-05T13:29:32Z","updated_at":"2024-04-05T13:29:32Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"sta[...]
[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/d07e240d-d067-4da5-a001-492908403c01/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/d07e240d-d067-4da5-a001-492908403c01/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/d07e240d-d067-4da5-a001-492908403c01/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"7643b74d-a08c-40c0-93af-5864802b31d4","created_at":"2024-04-05T13:29:34Z","updated_at":"2024-04-05T13:29:34Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"a9f2b36d-e550-40d4-a587-3106168cb529"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/7643b74d-a08c-40c0-93af-5864802b31d4"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/a9f2b36d-e550-40d4-a587-3106168cb529"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/a9f2b36d-e550-40d4-a587-3106168cb529/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/d07e240d-d067-4da5-a001-492908403c01"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - efd6039b-41b5-4432-77f2-593f380dd712::d4bf423a-4558-4719-bfe9-c932b47df65d
        status: 200 OK
        code: 200
        duration: 307.899125ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"7643b74d-a08c-40c0-93af-5864802b31d4"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/a9f2b36d-e550-40d4-a587-3106168cb529/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"7643b74d-a08c-40c0-93af-5864802b31d4"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/a9f2b36d-e550-40d4-a587-3106168cb529/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/a9f2b36d-e550-40d4-a587-3106168cb529/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324272"
            X-Vcap-Request-Id:
                - da3868aa-e212-4feb-549a-6201f0bf281b::6894de7a-a6a9-4fa3-89f6-41a3d56c2cc8
        status: 200 OK
        code: 200
        duration: 306.282ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/a9f2b36d-e550-40d4-a587-3106168cb529/actions/start
        method: POST
      response:
        body: '{"guid":"a9f2b36d-e550-40d4-a587-3106168cb529","created_at":"2024-04-05T13:29:29Z","updated_at":"2024-04-05T13:29:36Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker[...]
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/441de3a7-615a-4d57-abc8-c9f2f6644453/actions/stop
        method: POST
      response:
        body: '{"guid":"441de3a7-615a-4d57-abc8-c9f2f6644453","created_at":"2024-04-05T13:16:51Z","updated_at":"2024-04-05T13:29:36Z","name":"http-bin-venerable","state":"STOPPED","lifecycle":{"type[...]
[...]
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/838ae9f1-1120-4812-b891-c5991a867a2f
        method: GET
      response:
        body: '{"guid":"838ae9f1-1120-4812-b891-c5991a867a2f","created_at":"2024-04-05T13:29:37Z","updated_at":"2024-04-05T13:29:37Z","operation":"app.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/838ae9f1-1120-4812-b891-c5991a867a2f"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - f8cadf50-9749-44fb-737a-a13c2f6b5f28::d0a4c86b-69e8-44f6-b6ee-13ffc5367eb1
        status: 200 OK
        code: 200
        duration: 277.55575ms
    - id: 19
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/a9f2b36d-e550-40d4-a587-3106168cb529/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324272"
            X-Vcap-Request-Id:
                - 3908638d-927a-4b0b-7601-f06152c04e62::8df11d7b-0ee5-41ab-b8c1-84f322a5eefc
        status: 200 OK
        code: 200
        duration: 307.746667ms
[...]
