---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}}},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/space_quotas
        method: POST
      response:
        body: '{"guid":"2f6131fb-f151-4868-82ed-328683cdb6d8","created_at":"2024-02-06T09:08:03Z","updated_at":"2024-02-06T09:08:03Z","name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/2f6131fb-f151-4868-82ed-328683cdb6d8"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f8e028f1-9e43-45b0-536b-2f2fbd078706::e486a405-1182-4eaa-9fe7-044e8bef280e
        status: 201 Created
        code: 201
        duration: 178.198084ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?guids=2f6131fb-f151-4868-82ed-328683cdb6d8
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=2f6131fb-f151-4868-82ed-328683cdb6d8\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=2f6131fb-f151-4868-82ed-328683cdb6d8\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"2f6131fb-f151-4868-82ed-328683cdb6d8","created_at":"2024-02-06T09:08:03Z","updated_at":"2024-02-06T09:08:03Z","name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/2f6131fb-f151-4868-82ed-328683cdb6d8"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 385477a8-df92-4036-698a-4fcd6e17f81a::d8efab9b-709c-4fad-ab6d-d625adcef705
        status: 200 OK
        code: 200
        duration: 182.844833ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas/2f6131fb-f151-4868-82ed-328683cdb6d8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/930ebd20-9061-42d3-9e45-56a6aa3feb50
            X-Vcap-Request-Id:
                - ef90f837-6d89-4b7b-6e38-82f846bd04e7::6d7d493c-cc40-4e69-8329-b24d154df34c
        status: 202 Accepted
        code: 202
        duration: 210.88625ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/930ebd20-9061-42d3-9e45-56a6aa3feb50
        method: GET
      response:
        body: '{"guid":"930ebd20-9061-42d3-9e45-56a6aa3feb50","created_at":"2024-02-06T09:08:04Z","updated_at":"2024-02-06T09:08:04Z","operation":"space_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/930ebd20-9061-42d3-9e45-56a6aa3feb50"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 44ca0589-5c63-449a-78cd-9d6d06617d88::9036a9b4-317f-4dcc-a5e1-2eb1b52b9476
        status: 200 OK
        code: 200
        duration: 164.992083ms
