---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"relationships":{"space":{"data":{"guid":"795a961c-6360-479a-9666-fff9cb906aad"}},"domain":{"data":{"guid":"795a961c-6360-479a-9666-fff9cb906aad"}}},"port":null,"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/routes
        method: POST
      response:
        body: '{"errors":[{"detail":"Invalid domain. Ensure that the domain exists and you have access to it.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - cff9a15c-2f9d-4d02-5421-238261bc3667::7714f3e0-c80c-474d-a9be-41566a0a2028
        status: 422 Unprocessable Entity
        code: 422
        duration: 189.075459ms
