---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"space_auditor","relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"user":{"data":{"username":"kesavan.s@sap.com","origin":"sap.ids"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/roles
        method: POST
      response:
        body: '{"guid":"0a7d54c8-8d4b-4d6c-98f1-1bf2850c3ee3","created_at":"2024-04-02T04:40:10Z","updated_at":"2024-04-02T04:40:10Z","type":"space_auditor","relationships":{"user":{"data":{"guid":"efed91b4-d808-40fb-b4b8-7a9449ff1e15"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"organization":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/0a7d54c8-8d4b-4d6c-98f1-1bf2850c3ee3"},"user":{"href":"https://api.x.x.x.x.com/v3/users/efed91b4-d808-40fb-b4b8-7a9449ff1e15"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712034473"
            X-Vcap-Request-Id:
                - b9e92b80-5e69-40cd-789d-8e63af6a3754::f6bb44b6-0976-42e1-abc7-1846efc15201
        status: 201 Created
        code: 201
        duration: 970.966467ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/0a7d54c8-8d4b-4d6c-98f1-1bf2850c3ee3
        method: GET
      response:
        body: '{"guid":"0a7d54c8-8d4b-4d6c-98f1-1bf2850c3ee3","created_at":"2024-04-02T04:40:10Z","updated_at":"2024-04-02T04:40:10Z","type":"space_auditor","relationships":{"user":{"data":{"guid":"efed91b4-d808-40fb-b4b8-7a9449ff1e15"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"organization":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/0a7d54c8-8d4b-4d6c-98f1-1bf2850c3ee3"},"user":{"href":"https://api.x.x.x.x.com/v3/users/efed91b4-d808-40fb-b4b8-7a9449ff1e15"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712034473"
            X-Vcap-Request-Id:
                - 20494cad-b491-4946-6825-a661a1fe5f65::bb05ba4f-dd60-4854-a02d-49394d9521b3
        status: 200 OK
        code: 200
        duration: 281.394171ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/0a7d54c8-8d4b-4d6c-98f1-1bf2850c3ee3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/4dd18e63-7234-445a-aa7e-9597c9649c61
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712034473"
            X-Vcap-Request-Id:
                - 911d2f58-ea6f-4e71-438b-ca88a5a7c7bd::d53b085c-4193-490e-a7a7-ce81cfd80da0
        status: 202 Accepted
        code: 202
        duration: 690.161858ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/4dd18e63-7234-445a-aa7e-9597c9649c61
        method: GET
      response:
        body: '{"guid":"4dd18e63-7234-445a-aa7e-9597c9649c61","created_at":"2024-04-02T04:40:11Z","updated_at":"2024-04-02T04:40:11Z","operation":"role.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/4dd18e63-7234-445a-aa7e-9597c9649c61"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712034473"
            X-Vcap-Request-Id:
                - e18adc60-805a-467d-69b7-dffe42ccda24::2a4c77c9-9aa0-44b5-94a8-b322a4f95946
        status: 200 OK
        code: 200
        duration: 234.083089ms
