---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - 68c68e63-56a5-4458-63b0-b6e6c1ce1977::ef18d749-3f9e-4a33-a59b-de75e20bde90
        status: 200 OK
        code: 200
        duration: 253.658ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627674"
            X-Vcap-Request-Id:
                - 5378279b-6059-4103-599d-31baff8046c7::c8e27763-ad61-41f8-a294-48f9801bff07
        status: 200 OK
        code: 200
        duration: 288.122ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - 7ccd6a38-e2af-4a9c-4256-d3ad8b075f2c::e22d2c5d-3d6e-4b06-a7ab-9513f41aa275
        status: 200 OK
        code: 200
        duration: 276.519833ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  processes:
                    - type: web
                      disk_quota: 1024M
                      health-check-type: http
                      health-check-http-endpoint: /get
                      instances: 1
                      memory: 256M
                      readiness-health-check-type: http
                      readiness-health-check-http-endpoint: /get
                  metadata:
                    labels: {}
                    annotations: {}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/51990d44-b01f-4394-9f63-b989cd0b8b2e
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627672"
            X-Vcap-Request-Id:
                - 314e4035-3368-45d9-7946-11e958ca8517::619b08c0-a51d-4228-929b-67274abd9fd5
        status: 202 Accepted
        code: 202
        duration: 316.493917ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/51990d44-b01f-4394-9f63-b989cd0b8b2e
        method: GET
      response:
        body: '{"guid":"51990d44-b01f-4394-9f63-b989cd0b8b2e","created_at":"2024-03-28T12:05:24Z","updated_at":"2024-03-28T12:05:24Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/51990d44-b01f-4394-9f63-b989cd0b8b2e"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - dcea693c-3982-481b-790a-49695d092120::16fd3e92-05e0-4fb1-b17f-a1ce144bf40d
        status: 200 OK
        code: 200
        duration: 243.363459ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"90ad91b3-f580-4ce6-b735-554a5ed89697","created_at":"2024-03-28T12:05:24Z","updated_at":"2024-03-28T12:05:24Z","name":"http-bin","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/actions/stop","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - be78b2b0-2ca3-4681-7e34-fd465a9ace78::5af7b9e4-3780-4f29-9918-0450c1057748
        status: 200 OK
        code: 200
        duration: 385.668625ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"90ad91b3-f580-4ce6-b735-554a5ed89697"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"33d07127-09a9-4358-b914-1d9056163edc","created_at":"2024-03-28T12:05:26Z","updated_at":"2024-03-28T12:05:26Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"90ad91b3-f580-4ce6-b735-554a5ed89697"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/33d07127-09a9-4358-b914-1d9056163edc"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - b7224068-eb9c-4ba5-76a5-9c16f9d2b3e9::4eeff2bb-6c68-4fcf-af3b-6ad6ca22b2ea
        status: 201 Created
        code: 201
        duration: 308.518833ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"33d07127-09a9-4358-b914-1d9056163edc"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"4ae5a845-f51e-4a59-84ec-f520b52d5770","created_at":"2024-03-28T12:05:26Z","updated_at":"2024-03-28T12:05:26Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"33d07127-09a9-4358-b914-1d9056163edc"},"droplet":null,"created_by":{"guid":"1f263e00-9a07-42d8-be71-b18be6d10b45","name":"dl_604f126b654d33027ecbd9b4@global.corp.sap","email":"dl_604f126b654d33027ecbd9b4@global.corp.sap"},"relationships":{"app":{"data":{"guid":"90ad91b3-f580-4ce6-b735-554a5ed89697"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/4ae5a845-f51e-4a59-84ec-f520b52d5770"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - 31bd660d-e0d4-4559-6a7b-f9ef56c283f4::49de37b6-c5b0-480d-b7a6-0dd2182746a2
        status: 201 Created
        code: 201
        duration: 494.9115ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/4ae5a845-f51e-4a59-84ec-f520b52d5770
        method: GET
      response:
        body: '{"guid":"4ae5a845-f51e-4a59-84ec-f520b52d5770","created_at":"2024-03-28T12:05:26Z","updated_at":"2024-03-28T12:05:26Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/33d07127-09a9-4358-b914-1d9056163edc/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/33d07127-09a9-4358-b914-1d9056163edc/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/33d07127-09a9-4358-b914-1d9056163edc/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"5b21fd3c-d537-4652-afe5-b249fad905d6","created_at":"2024-03-28T12:05:29Z","updated_at":"2024-03-28T12:05:29Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"90ad91b3-f580-4ce6-b735-554a5ed89697"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/5b21fd3c-d537-4652-afe5-b249fad905d6"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/33d07127-09a9-4358-b914-1d9056163edc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - 9e5ea349-e9a5-4fb6-5fb0-e1d619c1f78f::19cbf1ae-4c11-4746-9316-5a9c15b3c059
        status: 200 OK
        code: 200
        duration: 248.407166ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"5b21fd3c-d537-4652-afe5-b249fad905d6"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"5b21fd3c-d537-4652-afe5-b249fad905d6"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - 1fd3ee80-bb7e-4051-7f98-cde1b3a42485::63488e98-b8fa-4fba-9851-7c5e8c19b3cb
        status: 200 OK
        code: 200
        duration: 263.738417ms
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/actions/start
        method: POST
      response:
        body: '{"guid":"90ad91b3-f580-4ce6-b735-554a5ed89697","created_at":"2024-03-28T12:05:24Z","updated_at":"2024-03-28T12:05:31Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627672"
            X-Vcap-Request-Id:
                - 5408e93f-6081-4294-5041-f01fd62e84fa::a094d259-4527-46f2-8723-5b080f69dca5
        status: 200 OK
        code: 200
        duration: 263.483125ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697
        method: GET
      response:
        body: '{"guid":"90ad91b3-f580-4ce6-b735-554a5ed89697","created_at":"2024-03-28T12:05:24Z","updated_at":"2024-03-28T12:05:31Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker","data":{}},"r[...]
[...]
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/90ad91b3-f580-4ce6-b735-554a5ed89697
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/96a9f375-4ec1-414e-b9a6-2488aa943121
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - d99d2c53-4826-4efb-7fe8-35ae42ab7a72::e82a0f8f-701d-4c78-a69c-275d9c028df7
        status: 202 Accepted
        code: 202
        duration: 294.915333ms
[...]
