---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"managed","name":"test-si-unassigned-managed","relationships":{"service_plan":{"data":{"guid":"69867829-3044-458c-a7f4-f32dee0d8174"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: '{"errors":[{"detail":"The service instance name is taken: test-si-unassigned-managed.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710351474"
            X-Vcap-Request-Id:
                - e74d2222-6a65-495a-4706-f83c508986b6::20d08b40-0335-4865-8159-8cec5fe07aa3
        status: 422 Unprocessable Entity
        code: 422
        duration: 261.067333ms
