---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - 5cadf981-ae10-4ef1-75d2-aee474ccb5e2::5e943fca-8003-4fe8-8127-f698751bb8d8
        status: 200 OK
        code: 200
        duration: 258.046333ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - f1d0be3c-8ffc-4fac-4c5d-6402ef3b4ec4::46bf2d9d-45cf-45ad-a7fd-0e3a87a6361c
        status: 200 OK
        code: 200
        duration: 279.311542ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin-sidecar
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  sidecars:
                    - name: sidecar-1
                      process_types:
                        - worker
                      command: sleep 5200
                      memory: 256M
                  metadata:
                    labels: {}
                    annotations: {}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/98715508-5e67-4827-b207-65d171c3a4f3
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - 0ab1f937-4df2-444e-5d27-0733e6535a76::4b433c52-3112-4ba1-ae9d-e58502702e9c
        status: 202 Accepted
        code: 202
        duration: 320.678083ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/98715508-5e67-4827-b207-65d171c3a4f3
        method: GET
      response:
        body: '{"guid":"98715508-5e67-4827-b207-65d171c3a4f3","created_at":"2024-03-28T12:05:37Z","updated_at":"2024-03-28T12:05:37Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/98715508-5e67-4827-b207-65d171c3a4f3"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - 3615e52c-cdea-43ef-5595-1d8c22189080::1ca9e0c8-be28-49a0-87c3-84b1103e3249
        status: 200 OK
        code: 200
        duration: 264.458458ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"3d714321-78a3-4215-9953-8ee608c92818","created_at":"2024-03-28T12:05:37Z","updated_at":"2024-03-28T12:05:37Z","name":"http-bin-sidecar","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/actions/stop","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - c9e73fe8-5b58-4802-79f5-88c25f406a7e::ee684674-e049-4a1d-b94b-0bc6ad106f42
        status: 200 OK
        code: 200
        duration: 292.019041ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"3d714321-78a3-4215-9953-8ee608c92818"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"a08afb0c-d1e6-487a-ab2a-8b96575686e2","created_at":"2024-03-28T12:05:39Z","updated_at":"2024-03-28T12:05:39Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"3d714321-78a3-4215-9953-8ee608c92818"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/a08afb0c-d1e6-487a-ab2a-8b96575686e2"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - f2540b8a-85bd-4b04-611c-ffab0566035b::606e37eb-41a4-4f12-9d93-03f0c50e1c2c
        status: 201 Created
        code: 201
        duration: 257.637333ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"a08afb0c-d1e6-487a-ab2a-8b96575686e2"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"3a1bb3a8-db29-4b05-b9a0-496fab9b16a7","created_at":"2024-03-28T12:05:39Z","updated_at":"2024-03-28T12:05:39Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"a08afb0c-d1e6-487a-ab2a-8b96575686e2"},"droplet":null,"created_by":{"guid":"1f263e00-9a07-42d8-be71-b18be6d10b45","name":"dl_604f126b654d33027ecbd9b4@global.corp.sap","email":"dl_604f126b654d33027ecbd9b4@global.corp.sap"},"relationships":{"app":{"data":{"guid":"3d714321-78a3-4215-9953-8ee608c92818"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/3a1bb3a8-db29-4b05-b9a0-496fab9b16a7"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - ae3eb9c2-58bd-4706-4395-d3819b8f6da5::ada68c15-a6c2-4b4a-a2ac-95ba6fd7690d
        status: 201 Created
        code: 201
        duration: 385.275875ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/3a1bb3a8-db29-4b05-b9a0-496fab9b16a7
        method: GET
      response:
        body: '{"guid":"3a1bb3a8-db29-4b05-b9a0-496fab9b16a7","created_at":"2024-03-28T12:05:39Z","updated_at":"2024-03-28T12:05:39Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/a08afb0c-d1e6-487a-ab2a-8b96575686e2/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/a08afb0c-d1e6-487a-ab2a-8b96575686e2/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/a08afb0c-d1e6-487a-ab2a-8b96575686e2/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"dba7a1ba-8c95-4158-a5a2-7835feb0fc4c","created_at":"2024-03-28T12:05:42Z","updated_at":"2024-03-28T12:05:42Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"3d714321-78a3-4215-9953-8ee608c92818"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/dba7a1ba-8c95-4158-a5a2-7835feb0fc4c"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/a08afb0c-d1e6-487a-ab2a-8b96575686e2"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627672"
            X-Vcap-Request-Id:
                - 2b6ae26f-4537-47d6-6092-617f3b63df9a::8a20f543-a1c1-4e02-9322-0e6bb14d8edb
        status: 200 OK
        code: 200
        duration: 252.276792ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"dba7a1ba-8c95-4158-a5a2-7835feb0fc4c"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"dba7a1ba-8c95-4158-a5a2-7835feb0fc4c"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - cda5095d-e0fc-45e0-73de-49d01d5ccd0d::95bb2df0-5487-4171-bea7-057ff6a3514d
        status: 200 OK
        code: 200
        duration: 270.994708ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/actions/start
        method: POST
      response:
        body: '{"guid":"3d714321-78a3-4215-9953-8ee608c92818","created_at":"2024-03-28T12:05:37Z","updated_at":"2024-03-28T12:05:43Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type"[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-sidecar
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627674"
            X-Vcap-Request-Id:
                - c29bf014-7be7-4fc7-5272-497aafa884a5::1f3df2b2-9ee8-429b-884a-a053996d370d
        status: 200 OK
        code: 200
        duration: 257.262375ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818
        method: GET
      response:
        body: '{"guid":"3d714321-78a3-4215-9953-8ee608c92818","created_at":"2024-03-28T12:05:37Z","updated_at":"2024-03-28T12:05:43Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type":"docker","data[...]
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/3d714321-78a3-4215-9953-8ee608c92818/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-sidecar
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - dcf1baba-58a3-440a-7373-e900c9ec9828::033380d2-d060-4700-b40d-78111e7492fc
        status: 200 OK
        code: 200
        duration: 259.177125ms
[...]
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/bfbd2332-67a2-487b-9523-77afe48e618c
        method: GET
      response:
        body: '{"guid":"bfbd2332-67a2-487b-9523-77afe48e618c","created_at":"2024-03-28T12:05:45Z","updated_at":"2024-03-28T12:05:45Z","operation":"app.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/bfbd2332-67a2-487b-9523-77afe48e618c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711627673"
            X-Vcap-Request-Id:
                - cde6410b-3951-41d4-4391-f2c3622f9fd0::6562ddfb-11b1-4029-ab7e-d614c8c6608c
        status: 200 OK
        code: 200
        duration: 244.422917ms
