---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - 005c4f6a-18b9-47f4-6f29-244e418e68ee::334768ae-5b55-46e5-95eb-e1a89bd82916
        status: 200 OK
        code: 200
        duration: 241.096209ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370272"
            X-Vcap-Request-Id:
                - b65534a9-bca0-4e46-5873-a25ed9fad9fd::3aa8b655-d93e-4a9c-87f2-a6d7dea8fe63
        status: 200 OK
        code: 200
        duration: 367.844708ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - ae446b8b-0e19-4de2-6ade-e0b521df5f07::417ca6a9-03d6-4c4a-a397-64430278b496
        status: 200 OK
        code: 200
        duration: 260.881708ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  processes:
                    - type: web
                      disk_quota: 1024M
                      health-check-type: http
                      health-check-http-endpoint: /get
                      instances: 1
                      memory: 256M
                      readiness-health-check-type: http
                      readiness-health-check-http-endpoint: /get
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/2e91acf9-b384-4202-8088-4cf3a609a381
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - 6037745f-aaea-4da6-44fb-c8a34efe9851::a5225742-0ee0-4c20-bafe-c9c33e958290
        status: 202 Accepted
        code: 202
        duration: 297.201417ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/2e91acf9-b384-4202-8088-4cf3a609a381
        method: GET
      response:
        body: '{"guid":"2e91acf9-b384-4202-8088-4cf3a609a381","created_at":"2024-03-25T12:33:27Z","updated_at":"2024-03-25T12:33:27Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/2e91acf9-b384-4202-8088-4cf3a609a381"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370272"
            X-Vcap-Request-Id:
                - 178d9506-fa35-4cc8-513a-81122b12c72b::47b5eb65-335a-4648-859a-7be9ef6a03de
        status: 200 OK
        code: 200
        duration: 233.391083ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"6d14c50b-4d32-4a1b-9846-f9bb80dee4dd","created_at":"2024-03-25T12:33:27Z","updated_at":"2024-03-25T12:33:27Z","name":"http-bin","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/actions/stop","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - e3a51e83-686e-4cfa-489d-da5f9ea48254::71419c4a-d13c-47e8-a4fd-fcc0fed0eaf3
        status: 200 OK
        code: 200
        duration: 271.028875ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"6d14c50b-4d32-4a1b-9846-f9bb80dee4dd"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"058bd990-2d8c-4a44-890c-eea2919499c9","created_at":"2024-03-25T12:33:29Z","updated_at":"2024-03-25T12:33:29Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"6d14c50b-4d32-4a1b-9846-f9bb80dee4dd"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/058bd990-2d8c-4a44-890c-eea2919499c9"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - 81970b5f-d15b-4550-78f9-8cd9447b1407::c1025388-37e9-4f4a-b766-4f4a662c2498
        status: 201 Created
        code: 201
        duration: 253.099042ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"058bd990-2d8c-4a44-890c-eea2919499c9"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"1f016a28-fc39-464e-9a25-b2248ec1be14","created_at":"2024-03-25T12:33:29Z","updated_at":"2024-03-25T12:33:29Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"058bd990-2d8c-4a44-890c-eea2919499c9"},"droplet":null,"created_by":{"guid":"1f263e00-9a07-42d8-be71-b18be6d10b45","name":"dl_604f126b654d33027ecbd9b4@global.corp.sap","email":"dl_604f126b654d33027ecbd9b4@global.corp.sap"},"relationships":{"app":{"data":{"guid":"6d14c50b-4d32-4a1b-9846-f9bb80dee4dd"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/1f016a28-fc39-464e-9a25-b2248ec1be14"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - 5ab5f857-2e2c-468d-4a34-7af906c54698::c1157710-1e80-4ffa-9895-8a85e14a3bcc
        status: 201 Created
        code: 201
        duration: 302.187917ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/1f016a28-fc39-464e-9a25-b2248ec1be14
        method: GET
      response:
        body: '{"guid":"1f016a28-fc39-464e-9a25-b2248ec1be14","created_at":"2024-03-25T12:33:29Z","updated_at":"2024-03-25T12:33:29Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/1f016a28-fc39-464e-9a25-b2248ec1be14
        method: GET
      response:
        body: '{"guid":"1f016a28-fc39-464e-9a25-b2248ec1be14","created_at":"2024-03-25T12:33:29Z","updated_at":"2024-03-25T12:33:29Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"058bd990-2d8c-4a44-890c-eea2919499c9"},"droplet":null,"created_by":{"guid":"1f263e00-9a07-42d8-be71-b18be6d10b45","name":"dl_604f126b654d33027ecbd9b4@global.corp.sap","email":"dl_604f126b654d33027ecbd9b4@global.corp.sap"},"relationships":{"app":{"data":{"guid":"6d14c50b-4d32-4a1b-9846-f9bb80dee4dd"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/1f016a28-fc39-464e-9a25-b2248ec1be14"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - f7e64ab8-4b55-4dbd-5495-73b68ef00b3c::a65ae08d-afcd-4d82-83d5-69684923296e
        status: 200 OK
        code: 200
        duration: 236.184042ms
[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/058bd990-2d8c-4a44-890c-eea2919499c9/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/058bd990-2d8c-4a44-890c-eea2919499c9/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/058bd990-2d8c-4a44-890c-eea2919499c9/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"96328b57-4abf-40b7-bc2f-0359691e5aa1","created_at":"2024-03-25T12:33:32Z","updated_at":"2024-03-25T12:33:32Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"6d14c50b-4d32-4a1b-9846-f9bb80dee4dd"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/96328b57-4abf-40b7-bc2f-0359691e5aa1"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/058bd990-2d8c-4a44-890c-eea2919499c9"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370274"
            X-Vcap-Request-Id:
                - ad23bc85-f21e-40b7-5772-125d0e9224ed::25a63c16-f7e1-433a-8559-481aaf5d8916
        status: 200 OK
        code: 200
        duration: 239.772625ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"96328b57-4abf-40b7-bc2f-0359691e5aa1"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"96328b57-4abf-40b7-bc2f-0359691e5aa1"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - 3f9ad208-15de-4452-5147-1b8d66a39cea::936acef0-46b7-4264-bfca-3c5d28376fc4
        status: 200 OK
        code: 200
        duration: 260.6045ms
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/actions/start
        method: POST
      response:
        body: '{"guid":"6d14c50b-4d32-4a1b-9846-f9bb80dee4dd","created_at":"2024-03-25T12:33:27Z","updated_at":"2024-03-25T12:33:33Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - 3e5745a6-1989-4668-7475-5b8467f9becb::0fca9f60-2444-4990-b206-9fc725dd08da
        status: 200 OK
        code: 200
        duration: 275.63875ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd
        method: GET
      response:
        body: '{"guid":"6d14c50b-4d32-4a1b-9846-f9bb80dee4dd","created_at":"2024-03-25T12:33:27Z","updated_at":"2024-03-25T12:33:33Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker","data":{}},"r[...]
[...]
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/6d14c50b-4d32-4a1b-9846-f9bb80dee4dd
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/e7344c84-cfd2-4dc8-ac53-32ea5ef028fe
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370272"
            X-Vcap-Request-Id:
                - bb26a5d3-694d-407b-49c5-8a1634713884::e118ba02-c299-4f70-ab35-a3694847fc8a
        status: 202 Accepted
        code: 202
        duration: 258.510542ms
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/e7344c84-cfd2-4dc8-ac53-32ea5ef028fe
        method: GET
      response:
        body: '{"guid":"e7344c84-cfd2-4dc8-ac53-32ea5ef028fe","created_at":"2024-03-25T12:33:35Z","updated_at":"2024-03-25T12:33:36Z","operation":"app.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/e7344c84-cfd2-4dc8-ac53-32ea5ef028fe"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - a14ecb08-45c4-47d4-5a2e-24c00ea2479b::38538795-d8da-4956-ba9c-c3830537159c
        status: 200 OK
        code: 200
        duration: 319.451375ms
