---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=f724bcc16ea742b086bc8eaad9f7c8f5-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - f724bcc16ea742b086bc8eaad9f7c8f5-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"f724bcc16ea742b086bc8eaad9f7c8f5-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"0add954f716643a7b46f32d77653212a"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 49e84fb0-002e-4d37-471e-e78731811b7f
        status: 200 OK
        code: 200
        duration: 1.216120083s
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 9f59936b-284e-4722-bcba-acbcf895e991
            X-Vcap-Request-Id:
                - 8bd2ca49-77ca-43d0-75fe-1ec02648430b
        status: 204 No Content
        code: 204
        duration: 242.133208ms
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: "--ba6d7203732c6535cbb2cc1edccade8c3481992edcf08c7c6257d8ff0132\r\nContent-Disposition: form-data; name=\"file\"; filename=\"provider-config-local.txt\"\r\nContent-Type: application/octet-stream\r\n\r\nprovider_installation {\n  dev_overrides {\n    \"SAP/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\r\n--ba6d7203732c6535cbb2cc1edccade8c3481992edcf08c7c6257d8ff0132--\r\n"
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - multipart/form-data; boundary=ba6d7203732c6535cbb2cc1edccade8c3481992edcf08c7c6257d8ff0132
            X-Csrf-Token:
                - 9f59936b-284e-4722-bcba-acbcf895e991
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files
        method: POST
      response:
        body: '{"id":"e0e1daab-b22b-4004-b21d-075a6172b53a","name":"provider-config-local.txt","size":95,"digest":"981F7BFFA1053E82E392424A24A70B70","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - ccfdee9b-52c4-4ba1-4d1d-13138ebc3a6a
        status: 201 Created
        code: 201
        duration: 402.583375ms
[...]
    - id: 14
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"be46b56b-642f-11ef-bc48-eeee0a96ce02","processType":"DEPLOY","startedAt":"2024-08-27T04:49:29.068Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}},{"processId":"c0e1d2b7-642f-11ef-bc48-eeee0a96ce02","processType":"DEPLOY","startedAt":"2024-08-27T04:49:33.434Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - abc84572-ded5-4471-72e8-2e8f3b1cbe35
        status: 200 OK
        code: 200
        duration: 2.079666667s
[...]
    - id: 16
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Csrf-Token:
                - 4e5f6d69-e6ad-443b-99cf-f5f79face9a2
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/be46b56b-642f-11ef-bc48-eeee0a96ce02?actionId=abort
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/be46b56b-642f-11ef-bc48-eeee0a96ce02?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 4e5f6d69-e6ad-443b-99cf-f5f79face9a2
            X-Vcap-Request-Id:
                - 9ce44f6a-18d4-4a6b-4fc8-0aff5993f43d
        status: 202 Accepted
        code: 202
        duration: 1.330601625s
    - id: 17
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/be46b56b-642f-11ef-bc48-eeee0a96ce02?embed=messages
        method: GET
      response:
        body: '{"processId":"be46b56b-642f-11ef-bc48-eeee0a96ce02","processType":"DEPLOY","startedAt":"2024-08-27T04:49:29.068Z[UTC]","endedAt":"2024-08-27T04:58:41.2Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":false,"state":"ABORTED","messages":[{"id":213964776,"text":"Operation ID: be46b56b-642f-11ef-bc48-eeee0a96ce02","timestamp":"2024-08-27T04:49:29.042Z[UTC]","type":"INFO"},{"id":213964777,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-27T04:49:29.326Z[UTC]","type":"INFO"},{"id":213964783,"text":"Error processing MTA extension descriptors: org.cloudfoundry.multiapps.controller.persistence.services.FileStorageException: org.cloudfoundry.multiapps.common.ParsingException: Error while parsing YAML string: \nprovider_installation {\n  dev_overrides {\n    \"SAP/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\nclass java.lang.String cannot be cast to class java.util.Map (java.lang.String and java.util.Map are in module java.base of loader ''bootstrap'') ","timestamp":"2024-08-27T04:49:29.733Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - c02fa830-3ae1-49ec-455c-b1b99e6e140a
        status: 200 OK
        code: 200
        duration: 829.932583ms
[...]
    - id: 19
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","parameters":{"appArchiveId":"3e4f05be-043d-44e0-977f-1f6bd7313603","mtaExtDescriptorId":"328052d0-650e-4bee-9c3c-138b21bdaff9","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - a5174110-ce6b-4946-bad8-29eff5a854be
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/0b0ad8ef-6431-11ef-a23f-eeee0a927133?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - a5174110-ce6b-4946-bad8-29eff5a854be
            X-Vcap-Request-Id:
                - 13879be5-0823-4fe8-74f6-6ae1dfee4fab
        status: 202 Accepted
        code: 202
        duration: 3.791894125s
[...]
    - id: 23
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/0b0ad8ef-6431-11ef-a23f-eeee0a927133?embed=messages
        method: GET
      response:
        body: '{"processId":"0b0ad8ef-6431-11ef-a23f-eeee0a927133","processType":"DEPLOY","startedAt":"2024-08-27T04:58:47.625Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":true,"state":"ERROR","errorType":"CONTENT","messages":[{"id":213966163,"text":"Operation ID: 0b0ad8ef-6431-11ef-a23f-eeee0a927133","timestamp":"2024-08-27T04:58:47.324Z[UTC]","type":"INFO"},{"id":213966165,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-27T04:58:49.959Z[UTC]","type":"INFO"},{"id":213966177,"text":"Error processing MTA extension descriptors: org.cloudfoundry.multiapps.controller.persistence.services.FileStorageException: org.cloudfoundry.multiapps.common.ParsingException: Error while parsing YAML string: \nprovider_installation {\n  dev_overrides {\n    \"SAP/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\nclass java.lang.String cannot be cast to class java.util.Map (java.lang.String and java.util.Map are in module java.base of loader ''bootstrap'') ","timestamp":"2024-08-27T04:58:55.674Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - c52591ca-fceb-4d1c-5e23-cb1d6d1b278b
        status: 200 OK
        code: 200
        duration: 1.162087167s
