---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 87df4265-34ca-49b3-8f25-0c50d7443236
            X-Vcap-Request-Id:
                - 81521636-d920-4413-4393-6359eedc4981
        status: 204 No Content
        code: 204
        duration: 904.77175ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--8d109d0f2533c74b884d36180b067826742fe48cde2262814638873e604c\r\nContent-Disposition: form-data; name=\"file\"; filename=\"a.cf.app.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x01z�)fPK\x03\x04\x14\0\b\0\b\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x01z�)f�M��LK-.�\rK-*��ϳR0�3���K�M�Rȭ��-I��M�KLOM�M,[...]
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"bf6ef939-1753-11ef-a158-eeee0a8bf7bf","processType":"DEPLOY","startedAt":"2024-05-21T09:23:13.353Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"o f","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - d813bbd6-9ef5-4f1b-4e44-1509ae6ddc05
        status: 200 OK
        code: 200
        duration: 301.4855ms
[...]
    - id: 4
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"12f44b67-088e-4f54-b1c0-e99e850f54c8","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - b13ee454-12f7-45ab-850b-3d7863357006
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/9e8d939d-18cf-11ef-882c-eeee0a86920f?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - b13ee454-12f7-45ab-850b-3d7863357006
            X-Vcap-Request-Id:
                - a990d254-9dab-40d9-65b8-091d70db46b1
        status: 202 Accepted
        code: 202
        duration: 558.548708ms
    - id: 5
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/9e8d939d-18cf-11ef-882c-eeee0a86920f?embed=messages
        method: GET
      response:
        body: '{"processId":"9e8d939d-18cf-11ef-882c-eeee0a86920f","processType":"DEPLOY","startedAt":"2024-05-23T06:42:26.922Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"RUNNING","messages":[{"id":202713801,"text":"Operation ID: 9e8d939d-18cf-11ef-882c-eeee0a86920f","timestamp":"2024-05-23T06:42:26.917Z[UTC]","type":"INFO"},{"id":202713802,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-05-23T06:42:26.971Z[UTC]","type":"INFO"},{"id":202713803,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-05-23T06:42:27.186Z[UTC]","type":"INFO"},{"id":202713804,"text":"Detected deployed MTA with ID \"a.cf.app\", version \"0.0.0\" and namespace \"test\"","timestamp":"2024-05-23T06:42:27.423Z[UTC]","type":"INFO"},{"id":202713805,"text":"Detected new MTA version: \"0.0[...]
    - id: 6
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/9e8d939d-18cf-11ef-882c-eeee0a86920f?embed=messages
        method: GET
      response:
        body: '{"processId":"9e8d939d-18cf-11ef-882c-eeee0a86920f","processType":"DEPLOY","startedAt":"2024-05-23T06:42:26.922Z[UTC]","endedAt":"2024-05-23T06:42:29.311Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"FINISHED","messages":[{"id":202713801,"text":"Operation ID: 9e8d939d-18cf-11ef-882c-eeee0a86920f","timestamp":"2024-05-23T06:42:26.917Z[UTC]","type":"INFO"},{"id":202713802,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-05-23T06:42:26.971Z[UTC]","type":"INFO"},{"id":20271380[...]
    - id: 7
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=a.cf.app&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"a.cf.app","version":"0.0.0","namespace":"test"},"modules":[{"moduleName":"my-mta-managed-app-module","appName":"test-my-cf-app","providedDendencyNames":[],"services":[],"uris":["test-performanceteamblr-tf-space-1-my-mta-managed-app-module.cfapps.sap.hana.ondemand.com"]}],"services":[]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 99f49099-f76b-4d1c-651e-607e6fcc48a2
        status: 200 OK
        code: 200
        duration: 578.190292ms
[...]
    - id: 11
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"file_url":"aHR0cHM6Ly9naXRodWIuY29tL0RyYXk1Ni9tdGFyLWFyY2hpdmUvcmVsZWFzZXMvZG93bmxvYWQvdjEuMC4wL2EuY2YuYXBwLm10YXI="}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 808548a6-099e-4412-b91e-741b436ac236
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/async?namespace=test
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/jobs/9a8f26a6-9bb6-4702-968c-05f33d2691f2
            X-Cf-App-Instance:
                - 1247566c-7bfd-48f3-a74e-d82711dc1180:4
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 808548a6-099e-4412-b91e-741b436ac236
            X-Vcap-Request-Id:
                - 457f1de3-ace3-4321-79ac-fbba94b89b62
        status: 202 Accepted
        code: 202
        duration: 286.461959ms
    - id: 12
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Cf-App-Instance:
                - 1247566c-7bfd-48f3-a74e-d82711dc1180:4
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/jobs/9a8f26a6-9bb6-4702-968c-05f33d2691f2?namespace=test
        method: GET
      response:
        body: '{"status":"FINISHED","file":{"id":"be3f016c-7da3-43b0-8e45-7f2c5eec290d","name":"a.cf.app.mtar","size":2365,"digest":"8FC95BAEF1A228E42C775F9E3D44241C","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","namespace":"test"},"mta_id":"a.cf.app"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - d7ad1e71-03c0-4a2b-541c-dbf84e5b4d57
        status: 201 Created
        code: 201
        duration: 280.81ms
[...]
    - id: 23
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"UNDEPLOY","namespace":"test","parameters":{"deleteServices":true,"mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 3427ebb4-1f34-4b81-be8e-ab3e7e59e105
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/aa33c14d-18cf-11ef-882c-eeee0a86920f?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 3427ebb4-1f34-4b81-be8e-ab3e7e59e105
            X-Vcap-Request-Id:
                - 5effb2f7-2a66-4510-5831-867643967917
        status: 202 Accepted
        code: 202
        duration: 351.724292ms
[...]
