---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"user-provided","name":"tf-test-do-not-delete","relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: '{"errors":[{"detail":"The service instance name is taken: tf-test-do-not-delete.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710353864"
            X-Vcap-Request-Id:
                - 77a30eb8-9231-4c7b-548f-d294ddfe90d8::cbf4aa55-3bbb-464c-80db-5ada1fb7f47f
        status: 422 Unprocessable Entity
        code: 422
        duration: 198.497542ms
