---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - 18f9592e-c497-40c9-6fd0-8d7dafaae2b8::41bbe164-9aae-4762-9863-96ecefc3059e
        status: 200 OK
        code: 200
        duration: 284.970708ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - ae682e20-1b98-4e3a-4601-8a84d67ab358::437334a7-9fcb-40bb-99b0-ee4c0ce8916d
        status: 200 OK
        code: 200
        duration: 276.557917ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin-sidecar
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  sidecars:
                    - name: sidecar-1
                      process_types:
                        - worker
                      command: sleep 5200
                      memory: 256M
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/e483cdbb-009f-434c-9bf9-d47934674abe
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - e4ec416c-9ab5-464f-6bb4-c6f51906a11c::8e1639d4-4d45-4720-a71d-65ceb5755a2e
        status: 202 Accepted
        code: 202
        duration: 277.133292ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/e483cdbb-009f-434c-9bf9-d47934674abe
        method: GET
      response:
        body: '{"guid":"e483cdbb-009f-434c-9bf9-d47934674abe","created_at":"2024-03-25T12:33:39Z","updated_at":"2024-03-25T12:33:40Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/e483cdbb-009f-434c-9bf9-d47934674abe"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - 110372ce-300f-461b-40a4-334ae8ba89e1::b071657c-5a64-47f8-8ed6-d1ffc26afe11
        status: 200 OK
        code: 200
        duration: 238.616ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"5830e308-ece7-413a-831a-fe511eff8884","created_at":"2024-03-25T12:33:39Z","updated_at":"2024-03-25T12:33:40Z","name":"http-bin-sidecar","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/actions/stop","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - db104490-b152-41f5-7f88-11e43a8a7b8a::6ddcbf72-2448-4409-a3b6-358b90cb26cc
        status: 200 OK
        code: 200
        duration: 270.912208ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"5830e308-ece7-413a-831a-fe511eff8884"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"7e6156a3-bf75-469d-879f-580a76d98689","created_at":"2024-03-25T12:33:41Z","updated_at":"2024-03-25T12:33:41Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"5830e308-ece7-413a-831a-fe511eff8884"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/7e6156a3-bf75-469d-879f-580a76d98689"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - 7d3570af-a151-4588-40f3-2be2eb67010c::0693e89f-3e3a-466f-b2fb-fd99a9a1792f
        status: 201 Created
        code: 201
        duration: 257.283083ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"7e6156a3-bf75-469d-879f-580a76d98689"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"d4456490-6453-4ba5-b89f-b56a89659630","created_at":"2024-03-25T12:33:41Z","updated_at":"2024-03-25T12:33:41Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"7e6156a3-bf75-469d-879f-580a76d98689"},"droplet":null,"created_by":{"guid":"1f263e00-9a07-42d8-be71-b18be6d10b45","name":"dl_604f126b654d33027ecbd9b4@global.corp.sap","email":"dl_604f126b654d33027ecbd9b4@global.corp.sap"},"relationships":{"app":{"data":{"guid":"5830e308-ece7-413a-831a-fe511eff8884"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/d4456490-6453-4ba5-b89f-b56a89659630"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - 8bff7ba8-e8db-46ba-6ba3-3ca15c6ebc00::ffc73010-b42d-4f54-a79e-0087b72d0c9a
        status: 201 Created
        code: 201
        duration: 394.919958ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/d4456490-6453-4ba5-b89f-b56a89659630
        method: GET
      response:
        body: '{"guid":"d4456490-6453-4ba5-b89f-b56a89659630","created_at":"2024-03-25T12:33:41Z","updated_at":"2024-03-25T12:33:41Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/d4456490-6453-4ba5-b89f-b56a89659630
        method: GET
      response:
        body: '{"guid":"d4456490-6453-4ba5-b89f-b56a89659630","created_at":"2024-03-25T12:33:41Z","updated_at":"2024-03-25T12:33:41Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"7e6156a3-bf75-469d-879f-580a76d98689"},"droplet":null,"created_by":{"guid":"1f263e00-9a07-42d8-be71-b18be6d10b45","name":"dl_604f126b654d33027ecbd9b4@global.corp.sap","email":"dl_604f126b654d33027ecbd9b4@global.corp.sap"},"relationships":{"app":{"data":{"guid":"5830e308-ece7-413a-831a-fe511eff8884"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/d4456490-6453-4ba5-b89f-b56a89659630"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - fdbc946f-f7be-4ec0-7573-d71a1be811a7::64b618b3-b87e-49b1-a597-3250a193716c
        status: 200 OK
        code: 200
        duration: 292.926375ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/7e6156a3-bf75-469d-879f-580a76d98689/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/7e6156a3-bf75-469d-879f-580a76d98689/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/7e6156a3-bf75-469d-879f-580a76d98689/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"3c5b9d79-3e6c-4618-a8ca-5dd4294666e6","created_at":"2024-03-25T12:33:44Z","updated_at":"2024-03-25T12:33:44Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"5830e308-ece7-413a-831a-fe511eff8884"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/3c5b9d79-3e6c-4618-a8ca-5dd4294666e6"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/7e6156a3-bf75-469d-879f-580a76d98689"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - 598f571c-f38d-4866-55ad-1689bf41d2cb::aefa7ad7-39a4-4874-a733-d9a366ed3203
        status: 200 OK
        code: 200
        duration: 281.949334ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"3c5b9d79-3e6c-4618-a8ca-5dd4294666e6"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"3c5b9d79-3e6c-4618-a8ca-5dd4294666e6"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370273"
            X-Vcap-Request-Id:
                - 46ff59f8-030b-4f1b-4596-b57118c88db4::eb6c9f30-37a2-4b32-be21-6ee3f834ac6e
        status: 200 OK
        code: 200
        duration: 261.776541ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/actions/start
        method: POST
      response:
        body: '{"guid":"5830e308-ece7-413a-831a-fe511eff8884","created_at":"2024-03-25T12:33:39Z","updated_at":"2024-03-25T12:33:45Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type"[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-sidecar
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370274"
            X-Vcap-Request-Id:
                - ef686ef6-ae61-470b-4d2d-6dc6c45339e3::e34fa240-090d-42f9-a095-7e7bee150157
        status: 200 OK
        code: 200
        duration: 245.712334ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884
        method: GET
      response:
        body: '{"guid":"5830e308-ece7-413a-831a-fe511eff8884","created_at":"2024-03-25T12:33:39Z","updated_at":"2024-03-25T12:33:45Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type":"docker","data[...]
[...]
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/5830e308-ece7-413a-831a-fe511eff8884
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/db94e60f-5db6-4ee0-bfd9-cc7683ed03f9
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711370272"
            X-Vcap-Request-Id:
                - af59d69a-d3e2-4e71-5f7d-a2ba51eefeaa::d951dd81-cdd9-43dc-8490-c5c31544437c
        status: 202 Accepted
        code: 202
        duration: 247.876791ms
[...]
