---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users?count=100&filter=userName+eq+%22tf-test3%22&startIndex=1
        method: GET
      response:
        body: '{"resources":[],"startIndex":1,"itemsPerPage":100,"totalResults":0,"schemas":["urn:scim:schemas:core:1.0"]}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - cfba2e3f-12a6-4b09-585c-88350221a0bd
        status: 200 OK
        code: 200
        duration: 159.873208ms
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: '{"userName":"tf-test3","name":{},"emails":[{"value":"tf-test3","primary":true}]}'
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users
        method: POST
      response:
        body: '{"error_description":"Password must be at least 1 characters in length.","error":"invalid_password","message":"Password must be at least 1 characters in length."}'
        headers:
            Content-Language:
                - en-US
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - fc5d3d8e-b3e0-4d5e-7186-92ed3da13be1
        status: 400 Bad Request
        code: 400
        duration: 167.520875ms
[...]
    - id: 3
      request:
        host: uaa.x.x.x.x.com
        body: '{"password":"tf-test3","userName":"tf-test3","name":{},"emails":[{"value":"tf-test3","primary":true}]}'
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users
        method: POST
      response:
        body: '{"id":"cab09a50-93f4-4e41-8b1e-8e6f00d570ae","meta":{"version":0,"created":"2024-07-10T04:38:20.639Z","lastModified":"2024-07-10T04:38:20.639Z"},"userName":"tf-test3","name":{},"emails":[{"value":"tf-test3","primary":false}],"groups":[{"value":"b334f5da-0b49-4f6a-bd97-8b36bc16c34a","display":"openid","type":"DIRECT"},{"value":"7a4c7f23-2a37-4f16-b0b8-a54ec518cf2c","display":"cloud_controller_service_permissions.read","type":"DIRECT"},{"value":"0f2e31e6-7053-41b4-b7f5-2e2d69f82bcb","display":"password.write","type":"DIRECT"},{"value":"55ed167c-6562-4cbe-a0fc-6bc79c3c4c51","display":"user_attributes","type":"DIRECT"},{"value":"da8826f4-9d2e-4af5-93a4-8c649be9b723","display":"uaa.offline_token","type":"DIRECT"},{"value":"260420bc-bbe6-4569-ab39-0fa0b7dcf36d","display":"profile","type":"DIRECT"},{"value":"c8a551ac-291e-4504-a056-a058a367b106","display":"approvals.me","type":"DIRECT"},{"value":"0c3dbc99-6b06-4099-99eb-ec2bc857aaa6","display":"oauth.approvals","type":"DIRECT"},{"value":"f7a63315-0007-4af7-bc2c-0c38e44387df","display":"cloud_controller.write","type":"DIRECT"},{"value":"22dc1ff3-de75-41fb-81a0-ea893a5552d4","display":"scim.me","type":"DIRECT"},{"value":"fbf50ac0-3219-4def-ad4d-74fbd199dea2","display":"roles","type":"DIRECT"},{"value":"f1da5b73-b4c4-4c19-b14b-773e5e99dcd3","display":"uaa.user","type":"DIRECT"},{"value":"f5c480ca-8fe5-4092-86b2-63ff5867bb50","display":"notification_preferences.read","type":"DIRECT"},{"value":"857ba7b3-e379-479f-8282-4b90502144f7","display":"notification_preferences.write","type":"DIRECT"},{"value":"b06d934a-dbee-4a47-b3c7-d39980496fdb","display":"cloud_controller.read","type":"DIRECT"}],"approvals":[],"active":true,"verified":true,"origin":"uaa","zoneId":"uaa","passwordLastModified":"2024-07-10T04:38:20.000Z","schemas":["urn:scim:schemas:core:1.0"]}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0"'
            X-Vcap-Request-Id:
                - 9ae6fae0-b943-4403-7249-fa64083b8cb2
        status: 201 Created
        code: 201
        duration: 274.781042ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/cab09a50-93f4-4e41-8b1e-8e6f00d570ae
        method: GET
      response:
        body: '{"errors":[{"detail":"User not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f443229b-7a12-4733-760c-957f2160a36a::34884564-9f1d-4270-925c-4dd8f04cc294
        status: 404 Not Found
        code: 404
        duration: 170.250708ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"guid":"cab09a50-93f4-4e41-8b1e-8e6f00d570ae","metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users
        method: POST
      response:
        body: '{"guid":"cab09a50-93f4-4e41-8b1e-8e6f00d570ae","created_at":"2024-07-10T04:38:20Z","updated_at":"2024-07-10T04:38:20Z","username":"tf-test3","presentation_name":"tf-test3","origin":"uaa","metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/cab09a50-93f4-4e41-8b1e-8e6f00d570ae"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 665ad615-25db-407c-4031-72c028ad0b6d::58e2643a-242f-4788-868b-265b14c8d1c7
        status: 201 Created
        code: 201
        duration: 193.070208ms
[...]
    - id: 7
      request:
        host: uaa.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            If-Match:
                - '*'
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users/cab09a50-93f4-4e41-8b1e-8e6f00d570ae
        method: GET
      response:
        body: '{"id":"cab09a50-93f4-4e41-8b1e-8e6f00d570ae","meta":{"version":0,"created":"2024-07-10T04:38:20.639Z","lastModified":"2024-07-10T04:38:20.639Z"},"userName":"tf-test3","name":{},"emails":[{"value":"tf-test3","primary":false}],"groups":[{"value":"b334f5da-0b49-4f6a-bd97-8b36bc16c34a","display":[...]
[...]
    - id: 11
      request:
        host: uaa.x.x.x.x.com
        body: '{ "oldPassword" : "tf-test3" , "password" : "tf-test"}'
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://uaa.x.x.x.x.com/Users/cab09a50-93f4-4e41-8b1e-8e6f00d570ae/password
        method: PUT
      response:
        body: '{"error_description":"Not permitted to change another user''s password","error":"invalid_password","message":"Not permitted to change another user''s password"}'
        headers:
            Content-Language:
                - en-US
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 5d662fbf-0ba8-4442-4ac4-61c08b3a0508
        status: 400 Bad Request
        code: 400
        duration: 162.898ms
[...]
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/cab09a50-93f4-4e41-8b1e-8e6f00d570ae
        method: GET
      response:
        body: '{"guid":"cab09a50-93f4-4e41-8b1e-8e6f00d570ae","created_at":"2024-07-10T04:38:20Z","updated_at":"2024-07-10T04:38:20Z","username":"tf-test3","presentation_name":"tf-test3","origin":"uaa","metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/cab09a50-93f4-4e41-8b1e-8e6f00d570ae"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - deeabd95-fb76-46db-4fd7-4d79c542a040::834569bc-265a-423d-a411-bf8e09340798
        status: 200 OK
        code: 200
        duration: 181.502458ms
[...]
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: |
            {"metadata":{"labels":{"landscape":"test","purpose@!":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users/cab09a50-93f4-4e41-8b1e-8e6f00d570ae
        method: PATCH
      response:
        body: '{"errors":[{"detail":"Metadata label key error: ''purpose@!'' contains invalid characters","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b1010057-9c60-4cc1-79e3-0c549060d456::337ddd08-e77b-438a-9f27-bbe4fbe2ad8d
        status: 422 Unprocessable Entity
        code: 422
        duration: 168.925584ms
    - id: 19
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/cab09a50-93f4-4e41-8b1e-8e6f00d570ae
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/1a210170-bbee-48b5-9560-38b6adeffc7f
            X-Vcap-Request-Id:
                - 62fd0e01-c5a2-4958-6412-a6337195873b::54297ec1-845e-4ba5-9165-a69bd7ca1087
        status: 202 Accepted
        code: 202
        duration: 186.274542ms
    - id: 20
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/1a210170-bbee-48b5-9560-38b6adeffc7f
        method: GET
      response:
        body: '{"guid":"1a210170-bbee-48b5-9560-38b6adeffc7f","created_at":"2024-07-10T04:38:24Z","updated_at":"2024-07-10T04:38:25Z","operation":"user.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/1a210170-bbee-48b5-9560-38b6adeffc7f"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 6b8a13d4-303b-4837-63f1-b2f2efba0ff1::68408a01-ed8c-44b0-8e9b-37d91330af2e
        status: 200 OK
        code: 200
        duration: 166.722875ms
[...]
