---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=f724bcc16ea742b086bc8eaad9f7c8f5-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - f724bcc16ea742b086bc8eaad9f7c8f5-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"f724bcc16ea742b086bc8eaad9f7c8f5-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"3b746b6ffcd34a3e9604ac87c90e4fcd"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 4ea32cad-b22b-4ac2-763e-91af30bb048d
        status: 200 OK
        code: 200
        duration: 256.026542ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - c261fc31-84b5-4e42-aadf-ec81e2705a70
            X-Vcap-Request-Id:
                - 908ec0e5-97c2-4a93-5ed3-6b85f9359fc0
        status: 204 No Content
        code: 204
        duration: 260.183875ms
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: "--0e6cdc002cda3de41867a69570c7ff13b860f541b8ee478ec99fefefaab8\r\nContent-Disposition: form-data; name=\"file\"; filename=\"my-mta_1.0.0.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0� \x01Y\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x013\t�fPK\x03\x04\x14\0\b\0\b\0� \x01Y\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x013\t�f\\��J�0\x10@�}�b^ ��\e!��(�h\x11,[...]
[...]
    - id: 4
      request:
        host: deploy-service.x.x.x.x.com
        body: "--66a70ccc51c849aeeb00b6d7c922d6c476bac9398b5d078ec7fa795d5c1a\r\nContent-Disposition: form-data; name=\"file\"; filename=\"prod-scale-vertically.mtaext\"\r\nContent-Type: application/octet-stream\r\n\r\n_schema-version: 3.3.0\nID: my-mta-prod-scale-vertically\nextends: my-mta-prod\nversion: 1.0.0\n\nmodules:\n- name: my-app\n  parameters:\n    memory: 2G\r\n--66a70ccc51c849aeeb00b6d7c922d6c476bac9398b5d078ec7fa795d5c1a--\r\n"
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - multipart/form-data; boundary=66a70ccc51c849aeeb00b6d7c922d6c476bac9398b5d078ec7fa795d5c1a
            X-Csrf-Token:
                - d99eb5df-1029-4041-a319-e847ac3a9b28
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files?namespace=test
        method: POST
      response:
        body: '{"id":"ebd22807-086c-476c-8801-f1148ecd32a7","name":"prod-scale-vertically.mtaext","size":145,"digest":"EF0CBE2F0A77B470B2E2A6164FE6F0B8","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","namespace":"test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 03cad44c-3937-4441-7b8d-e55713a9ab15
        status: 201 Created
        code: 201
        duration: 3.127215083s
[...]
    - id: 7
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=my-mta&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 88356559-b34f-4af7-5415-02ac9d4aa6ce
        status: 200 OK
        code: 200
        duration: 308.811375ms
[...]
    - id: 9
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"74c52b17-12e9-41c5-a3f4-352c6dce0d52","mtaExtDescriptorId":"ebd22807-086c-476c-8801-f1148ecd32a7,b29d5871-9a30-4432-8917-25fbbe834c8a","mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - f6f2c6c0-f906-4610-ad05-a5c5b5d86b89
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/758eb865-6430-11ef-83fd-eeee0a879090?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - f6f2c6c0-f906-4610-ad05-a5c5b5d86b89
            X-Vcap-Request-Id:
                - a6ec4d0b-0735-4a8e-45b9-06d34e073205
        status: 202 Accepted
        code: 202
        duration: 394.310958ms
    - id: 10
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/758eb865-6430-11ef-83fd-eeee0a879090?embed=messages
        method: GET
      response:
        body: '{"processId":"758eb865-6430-11ef-83fd-eeee0a879090","processType":"DEPLOY","startedAt":"2024-08-27T04:54:36.536Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"my-mta","namespace":"test","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":true,"state":"RUNNING","messages":[{"id":213965480,"text":"Operation ID: 758eb865-6430-11ef-83fd-eeee0a879090","timestamp":"2024-08-27T04:54:36.529Z[UTC]","type":"INFO"},{"id":213965481,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-27T04:54:36.613Z[UTC]","type":"INFO"},{"id":213965482,"text":"Using extension descriptors with IDs in this sequence: [my-mta-prod,my-mta-prod-scale-vertically]","timestamp":"2024-08-27T04:54:36.853Z[UTC]","type":"INFO"},{"id":213965483,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-08-27T04:54:36.905Z[UTC]","type":"INFO"},{"id":213965484,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"my-mta\" and namespace \"test\"","timestamp":"2024-08-27T04:54:37.148Z[UTC]","type":"INFO"},{"id":213965485,"text":"Detected new MTA version: \"1.0.0\"","timestamp":"2024-08-27T04:54:37.299Z[UTC]","type":"INFO"},{"id":213965486,"text":"Processing service \"test-my-service\"...","timestamp":"2024-08-27T04:54:37.841Z[UTC]","type":"INFO"},{"id":213965487,"text":"Creating service \"test-my-service\" from MTA resource \"my-service\"...","timestamp":"2024-08-27T04:54:37.955Z[UTC]","type":"INFO"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 74714afc-ca1c-4be8-4d6e-c46f3a9ec43f
        status: 200 OK
        code: 200
        duration: 246.0335ms
[...]
    - id: 41
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/758eb865-6430-11ef-83fd-eeee0a879090?embed=messages
        method: GET
      response:
        body: '{"processId":"758eb865-6430-11ef-83fd-eeee0a879090","processType":"DEPLOY","startedAt":"2024-08-27T04:54:36.536Z[UTC]","endedAt":"2024-08-27T04:55:54.598Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"my-mta","namespace":"test","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":false,"state":"FINISHED","messages":[{"id":213965480,"text":"Operation ID: 758eb865-6430-11ef-83fd-eeee0a879090","timestamp":"2024-08-27T04:54:36.529Z[UTC]","type":"INFO"},{"id":213965481,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-27T04:54:36.613Z[UTC]","type":"I[...]
    - id: 42
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=my-mta&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"my-mta","version":"1.0.0","namespace":"test"},"modules":[{"moduleName":"my-app","appName":"test-my-app","providedDendencyNames":[],"services":["test-my-service"],"uris":["test-performanceteamblr-tf-space-1-my-app.cfapps.sap.hana.ondemand.com"]}],"services":["test-my-service"]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 4b68c944-602d-4a3f-42ed-4db07d6d6792
        status: 200 OK
        code: 200
        duration: 2.483892083s
[...]
    - id: 82
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"UNDEPLOY","namespace":"test","parameters":{"deleteServices":true,"mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 6922a5e3-feeb-4f54-a0d9-39c303723724
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/d16639c2-6430-11ef-bc48-eeee0a96ce02?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 6922a5e3-feeb-4f54-a0d9-39c303723724
            X-Vcap-Request-Id:
                - 209c8d38-f34e-4bda-713d-92b97166089e
        status: 202 Accepted
        code: 202
        duration: 4.790924458s
[...]
