---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324274"
            X-Vcap-Request-Id:
                - 90d83f10-e84a-420c-701f-29b916bab454::2a674006-0af4-4c1d-a74b-12e720827cd1
        status: 200 OK
        code: 200
        duration: 324.890875ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324274"
            X-Vcap-Request-Id:
                - 0790bf1c-bc08-4ad9-4584-5f5fb1fd59d5::387e37dd-78f6-47ec-87e6-27bcedb56807
        status: 200 OK
        code: 200
        duration: 269.668334ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin-sidecar
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  sidecars:
                    - name: sidecar-1
                      process_types:
                        - worker
                      command: sleep 5200
                      memory: 256M
                  metadata:
                    labels: {}
                    annotations: {}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/884c5961-abb7-444e-bb1d-a102278d6c6b
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - c9d32182-3c0e-47ba-45d9-15d3be3b174c::39c7e5ad-d518-4ad6-bb09-fcbde238be4f
        status: 202 Accepted
        code: 202
        duration: 304.494291ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/884c5961-abb7-444e-bb1d-a102278d6c6b
        method: GET
      response:
        body: '{"guid":"884c5961-abb7-444e-bb1d-a102278d6c6b","created_at":"2024-04-05T13:29:47Z","updated_at":"2024-04-05T13:29:47Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/884c5961-abb7-444e-bb1d-a102278d6c6b"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324272"
            X-Vcap-Request-Id:
                - 3391ac1a-db96-4944-7a26-c23fae5e809d::2ab33de6-7b30-4513-9c41-011fa9537f8d
        status: 200 OK
        code: 200
        duration: 238.443833ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"545ff131-5429-4c04-a7ec-c2e23da146a6","created_at":"2024-04-05T13:29:47Z","updated_at":"2024-04-05T13:29:47Z","name":"http-bin-sidecar","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/actions/stop","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324274"
            X-Vcap-Request-Id:
                - d73d4b3e-ada0-4691-545b-7ae2f8ed77af::92b98c40-ee9b-46df-b909-98c7ffde5235
        status: 200 OK
        code: 200
        duration: 273.140125ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"545ff131-5429-4c04-a7ec-c2e23da146a6"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"e4262cee-fa72-4356-a8aa-e820db4f75fa","created_at":"2024-04-05T13:29:49Z","updated_at":"2024-04-05T13:29:49Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"545ff131-5429-4c04-a7ec-c2e23da146a6"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/e4262cee-fa72-4356-a8aa-e820db4f75fa"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - ee7e7d34-ec3e-43d7-7ecf-b5352a8a7021::fdd0db00-032e-4465-bedc-5e4400886759
        status: 201 Created
        code: 201
        duration: 259.815875ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"e4262cee-fa72-4356-a8aa-e820db4f75fa"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"a3ed0396-841d-4294-a80d-2fec43d79aa4","created_at":"2024-04-05T13:29:49Z","updated_at":"2024-04-05T13:29:49Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"e4262cee-fa72-4356-a8aa-e820db4f75fa"},"droplet":null,"created_by":{"guid":"1f263e00-9a07-42d8-be71-b18be6d10b45","name":"dl_604f126b654d33027ecbd9b4@global.corp.sap","email":"dl_604f126b654d33027ecbd9b4@global.corp.sap"},"relationships":{"app":{"data":{"guid":"545ff131-5429-4c04-a7ec-c2e23da146a6"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/a3ed0396-841d-4294-a80d-2fec43d79aa4"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324272"
            X-Vcap-Request-Id:
                - 8708bfcd-51e4-4b6f-6956-35b08e655e95::b8c9ca69-01b1-4885-bfff-43986f0a5f2f
        status: 201 Created
        code: 201
        duration: 311.333334ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/a3ed0396-841d-4294-a80d-2fec43d79aa4
        method: GET
      response:
        body: '{"guid":"a3ed0396-841d-4294-a80d-2fec43d79aa4","created_at":"2024-04-05T13:29:49Z","updated_at":"2024-04-05T13:29:49Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/a3ed0396-841d-4294-a80d-2fec43d79aa4
        method: GET
      response:
        body: '{"guid":"a3ed0396-841d-4294-a80d-2fec43d79aa4","created_at":"2024-04-05T13:29:49Z","updated_at":"2024-04-05T13:29:49Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"e4262cee-fa72-4356-a8aa-e820db4f75fa"},"droplet":null,"created_by":{"guid":"1f263e00-9a07-42d8-be71-b18be6d10b45","name":"dl_604f126b654d33027ecbd9b4@global.corp.sap","email":"dl_604f126b654d33027ecbd9b4@global.corp.sap"},"relationships":{"app":{"data":{"guid":"545ff131-5429-4c04-a7ec-c2e23da146a6"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/a3ed0396-841d-4294-a80d-2fec43d79aa4"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324272"
            X-Vcap-Request-Id:
                - dcafdeda-dee1-4b20-789f-8c74a88b7c0a::5a23ff6c-96e1-432f-9fd4-1007f82e40d9
        status: 200 OK
        code: 200
        duration: 241.93ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/e4262cee-fa72-4356-a8aa-e820db4f75fa/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/e4262cee-fa72-4356-a8aa-e820db4f75fa/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/e4262cee-fa72-4356-a8aa-e820db4f75fa/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"c15f907b-4cf3-4c49-9aa7-eeeced109460","created_at":"2024-04-05T13:29:52Z","updated_at":"2024-04-05T13:29:52Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"545ff131-5429-4c04-a7ec-c2e23da146a6"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/c15f907b-4cf3-4c49-9aa7-eeeced109460"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/e4262cee-fa72-4356-a8aa-e820db4f75fa"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - 8957b8ca-5261-41b6-5a45-e3dc159879de::2975d047-a24c-4307-b340-4289d1e565ed
        status: 200 OK
        code: 200
        duration: 243.737375ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"c15f907b-4cf3-4c49-9aa7-eeeced109460"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"c15f907b-4cf3-4c49-9aa7-eeeced109460"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - 47ef2b66-dd3b-4102-51c1-759b09a4e1aa::3b2d7568-4d02-44fe-86de-1f7116760078
        status: 200 OK
        code: 200
        duration: 264.557709ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/actions/start
        method: POST
      response:
        body: '{"guid":"545ff131-5429-4c04-a7ec-c2e23da146a6","created_at":"2024-04-05T13:29:47Z","updated_at":"2024-04-05T13:29:53Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type"[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-sidecar
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712324273"
            X-Vcap-Request-Id:
                - b3484f15-849c-47e1-5687-60ff81d6f25c::e85a43e2-58fa-4f65-9e0d-0cc67a2747d9
        status: 200 OK
        code: 200
        duration: 255.676125ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/545ff131-5429-4c04-a7ec-c2e23da146a6
        method: GET
      response:
        body: '{"guid":"545ff131-5429-4c04-a7ec-c2e23da146a6","created_at":"2024-04-05T13:29:47Z","updated_at":"2024-04-05T13:29:53Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type":"docker","data[...]
[...]
