---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"managed","name":"tf-test-do-not-delete-managed","relationships":{"service_plan":{"data":{"guid":"432bd9db-20e2-4997-825f-e4a937705b87"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: '{"errors":[{"detail":"The service instance name is taken: tf-test-do-not-delete-managed.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710353864"
            X-Vcap-Request-Id:
                - 9ff1b019-7908-4aec-5c87-480d6e385215::b6837aed-e295-42d5-b403-257a3cc1cc77
        status: 422 Unprocessable Entity
        code: 422
        duration: 238.241833ms
