---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"space-broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","authentication":{"type":"basic","credentials":{"username":"admin","password":"hi"}},"relationships":{"space":{"data":{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_brokers
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/75f26302-512d-4fe3-b916-3319d387c160
            X-Vcap-Request-Id:
                - 9dfb3d49-61fc-45ae-5606-3a8f1a7a97ca::c6817468-46cb-449a-aba7-cac47b2eb730
        status: 202 Accepted
        code: 202
        duration: 222.7695ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/75f26302-512d-4fe3-b916-3319d387c160
        method: GET
      response:
        body: '{"guid":"75f26302-512d-4fe3-b916-3319d387c160","created_at":"2024-06-25T10:21:30Z","updated_at":"2024-06-25T10:21:30Z","operation":"service_broker.catalog.synchronize","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/75f26302-512d-4fe3-b916-3319d387c160"},"service_brokers":{"href":"https://api.x.x.x.x.com/v3/service_brokers/e12c32e0-25e4-43d5-9301-477fa2d74548"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ceccad7f-957c-4dd4-6e03-ad2ef95e40c1::cee34a08-7893-4dd7-b891-4bed667de81b
        status: 200 OK
        code: 200
        duration: 180.116916ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers?names=space-broker
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=space-broker\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=space-broker\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"e12c32e0-25e4-43d5-9301-477fa2d74548","created_at":"2024-06-25T10:21:30Z","updated_at":"2024-06-25T10:21:30Z","name":"space-broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{"space":{"data":{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/e12c32e0-25e4-43d5-9301-477fa2d74548"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=e12c32e0-25e4-43d5-9301-477fa2d74548"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0925b3c7-7544-4700-b71b-191b3c348e5c"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 8645a829-45d7-4869-4a36-e73a2cc24cab::ab51bd8f-40e7-42b4-80f5-31ac389a5065
        status: 200 OK
        code: 200
        duration: 179.55325ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/e12c32e0-25e4-43d5-9301-477fa2d74548
        method: GET
      response:
        body: '{"guid":"e12c32e0-25e4-43d5-9301-477fa2d74548","created_at":"2024-06-25T10:21:30Z","updated_at":"2024-06-25T10:21:30Z","name":"space-broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{"space":{"data":{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/e12c32e0-25e4-43d5-9301-477fa2d74548"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=e12c32e0-25e4-43d5-9301-477fa2d74548"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0925b3c7-7544-4700-b71b-191b3c348e5c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - fd9b58a9-2e12-49b6-43ea-fced65b90378::491ac698-48da-43b2-b20f-d1aedd762c5c
        status: 200 OK
        code: 200
        duration: 174.210208ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/e12c32e0-25e4-43d5-9301-477fa2d74548
        method: GET
      response:
        body: '{"guid":"e12c32e0-25e4-43d5-9301-477fa2d74548","created_at":"2024-06-25T10:21:30Z","updated_at":"2024-06-25T10:21:34Z","name":"space-broker-2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{"space":{"data":{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}}},"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/e12c32e0-25e4-43d5-9301-477fa2d74548"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=e12c32e0-25e4-43d5-9301-477fa2d74548"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0925b3c7-7544-4700-b71b-191b3c348e5c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a711ac10-6dc4-4f4e-7d6d-6279d4b4cddc::d3ab4d44-7bf3-41db-8990-ca37d07bbddb
        status: 200 OK
        code: 200
        duration: 174.886209ms
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/e12c32e0-25e4-43d5-9301-477fa2d74548
        method: GET
      response:
        body: '{"guid":"e12c32e0-25e4-43d5-9301-477fa2d74548","created_at":"2024-06-25T10:21:30Z","updated_at":"2024-06-25T10:21:34Z","name":"space-broker-2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{"space":{"data":{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}}},"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/e12c32e0-25e4-43d5-9301-477fa2d74548"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=e12c32e0-25e4-43d5-9301-477fa2d74548"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0925b3c7-7544-4700-b71b-191b3c348e5c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e74e9590-94e5-4528-7d8c-f591728c1fec::b4febb42-38d8-4497-ba5d-69c048ba2b82
        status: 200 OK
        code: 200
        duration: 174.804833ms
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/e12c32e0-25e4-43d5-9301-477fa2d74548
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/5acd3ab6-000a-4c12-84b1-994123a7280e
            X-Vcap-Request-Id:
                - b98e7311-2eb8-445d-5ca3-3c7c94e38ec8::c5993296-7146-41d1-a688-d9680ada59c0
        status: 202 Accepted
        code: 202
        duration: 198.646666ms
[...]
