---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","authentication":{"type":"basic","credentials":{"username":"admin","password":"hi"}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_brokers
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/a0786086-d469-4965-9c54-2988d0940d60
            X-Vcap-Request-Id:
                - 563c897f-22e5-4b0b-7876-535782887c58::5451da9b-55eb-4b0c-afaf-52333327f7d0
        status: 202 Accepted
        code: 202
        duration: 540.842708ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/a0786086-d469-4965-9c54-2988d0940d60
        method: GET
      response:
        body: '{"guid":"a0786086-d469-4965-9c54-2988d0940d60","created_at":"2024-06-25T10:21:21Z","updated_at":"2024-06-25T10:21:21Z","operation":"service_broker.catalog.synchronize","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/a0786086-d469-4965-9c54-2988d0940d60"},"service_brokers":{"href":"https://api.x.x.x.x.com/v3/service_brokers/69696d33-b50f-4b50-a173-1312e46ff4e8"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 2e97bdd6-c4b1-40e5-7249-7c66299935f8::97bd2930-de48-4d5e-9e44-809d2e5f3148
        status: 200 OK
        code: 200
        duration: 172.457333ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers?names=broker
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=broker\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=broker\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"69696d33-b50f-4b50-a173-1312e46ff4e8","created_at":"2024-06-25T10:21:21Z","updated_at":"2024-06-25T10:21:21Z","name":"broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/69696d33-b50f-4b50-a173-1312e46ff4e8"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=69696d33-b50f-4b50-a173-1312e46ff4e8"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 8b5f099b-88b0-47be-60e5-ff97ee7a6cdb::db5d1132-a580-4d88-9f38-75b52c81ce4b
        status: 200 OK
        code: 200
        duration: 172.874334ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/69696d33-b50f-4b50-a173-1312e46ff4e8
        method: GET
      response:
        body: '{"guid":"69696d33-b50f-4b50-a173-1312e46ff4e8","created_at":"2024-06-25T10:21:21Z","updated_at":"2024-06-25T10:21:21Z","name":"broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/69696d33-b50f-4b50-a173-1312e46ff4e8"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=69696d33-b50f-4b50-a173-1312e46ff4e8"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a08b9b86-f3aa-4306-6361-1d37ec887eb8::db18dd85-cca4-4728-9c03-3f78215238ff
        status: 200 OK
        code: 200
        duration: 175.379708ms
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"broker-2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","authentication":{"type":"basic","credentials":{"username":"admin","password":"hi"}},"metadata":{"labels":{"landscape":null,"purpose":"production","status":"fine"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_brokers/69696d33-b50f-4b50-a173-1312e46ff4e8
        method: PATCH
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/18e1fa34-5881-4607-870a-ff456ad7db71
            X-Vcap-Request-Id:
                - f715a049-a2d3-4b7f-437e-949adbafafa6::f2080120-59ed-4f1f-92bb-981949532ea3
        status: 202 Accepted
        code: 202
        duration: 197.635291ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/69696d33-b50f-4b50-a173-1312e46ff4e8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/bd71e7fa-32a4-4d01-9754-97fd78666594
            X-Vcap-Request-Id:
                - fd3b8d42-6793-412d-48ce-fdd283ea25a4::c90a6de6-602c-4312-bbcc-e4185c856d14
        status: 202 Accepted
        code: 202
        duration: 195.100792ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/bd71e7fa-32a4-4d01-9754-97fd78666594
        method: GET
      response:
        body: '{"guid":"bd71e7fa-32a4-4d01-9754-97fd78666594","created_at":"2024-06-25T10:21:28Z","updated_at":"2024-06-25T10:21:28Z","operation":"service_broker.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/bd71e7fa-32a4-4d01-9754-97fd78666594"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e15f7b41-f2ad-4ba0-52be-463c3bfc8376::021ca4a4-2e0f-4b60-a8ed-f9d323f3899f
        status: 200 OK
        code: 200
        duration: 170.1375ms
