---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/organization_quotas
        method: POST
      response:
        body: '{"guid":"38b1b3e8-c3c4-4e24-948e-fe381474d42f","created_at":"2024-02-05T08:51:01Z","updated_at":"2024-02-05T08:51:01Z","name":"tf-unit-test","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":null},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/38b1b3e8-c3c4-4e24-948e-fe381474d42f"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 04366703-a044-4942-5b78-099728db3617::6caf3b3f-93cf-4d2a-be14-9c92d6f65f56
        status: 201 Created
        code: 201
        duration: 722.563625ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas?guids=38b1b3e8-c3c4-4e24-948e-fe381474d42f
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=38b1b3e8-c3c4-4e24-948e-fe381474d42f\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=38b1b3e8-c3c4-4e24-948e-fe381474d42f\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"38b1b3e8-c3c4-4e24-948e-fe381474d42f","created_at":"2024-02-05T08:51:01Z","updated_at":"2024-02-05T08:51:01Z","name":"tf-unit-test","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":null},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/38b1b3e8-c3c4-4e24-948e-fe381474d42f"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 9253af0e-43e3-4574-6b79-fa908a859e79::33c6cb9f-077a-4b7c-b5e3-3b24cea204d2
        status: 200 OK
        code: 200
        duration: 180.930292ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas/38b1b3e8-c3c4-4e24-948e-fe381474d42f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/b63ba6a7-d9ef-4bbb-b6d2-fbd7bf0b6180
            X-Vcap-Request-Id:
                - cda8ad3e-1d8b-4d04-59ba-963b73b5f02f::5d090c0e-904e-43b0-ae17-c7dee3cd674f
        status: 202 Accepted
        code: 202
        duration: 210.100667ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/b63ba6a7-d9ef-4bbb-b6d2-fbd7bf0b6180
        method: GET
      response:
        body: '{"guid":"b63ba6a7-d9ef-4bbb-b6d2-fbd7bf0b6180","created_at":"2024-02-05T08:51:01Z","updated_at":"2024-02-05T08:51:02Z","operation":"organization_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/b63ba6a7-d9ef-4bbb-b6d2-fbd7bf0b6180"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f09a2434-f520-4007-5058-4a50d094679c::07934a0e-d4d3-414a-b49f-8cb08f3e9df7
        status: 200 OK
        code: 200
        duration: 191.272375ms
