---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"guid":"2334cf47-fead-4e5f-bd2a-6e7153e7f144","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users
        method: POST
      response:
        body: '{"errors":[{"detail":"User with guid ''2334cf47-fead-4e5f-bd2a-6e7153e7f144'' already exists.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 6325908d-42d1-447e-600c-379b47cf5da0::af66ca1c-d2f9-47ea-96a5-b45830502e37
        status: 422 Unprocessable Entity
        code: 422
        duration: 197.422523ms
