---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - c47d20bc-1879-412f-8af0-c41ac8e1f256
            X-Vcap-Request-Id:
                - 64b66ab9-6dd5-4293-6fb2-015696d9dbd2
        status: 204 No Content
        code: 204
        duration: 584.245917ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--12608ffb0a00e8fd0c8a3780495b1be8d4adc938d4096f1eef431723c0c4\r\nContent-Disposition: form-data; name=\"file\"; filename=\"a.cf.app.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x01z�)fPK\x03\x04\x14\0\b\0\b\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x01z�)f�M��LK-.�\rK-*��ϳR0�3���K�M�Rȭ��-I��M�KLOM�M,[...]
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"b115b40e-549e-11ef-9e24-eeee0a8b9f36","processType":"DEPLOY","startedAt":"2024-08-07T09:23:22.456Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}},{"processId":"fca0e28d-549f-11ef-84bc-eeee0a83078e","processType":"DEPLOY","startedAt":"2024-08-07T09:32:38.686Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - ea5eb09b-0290-4a8f-6977-e4b52e0541c5
        status: 200 OK
        code: 200
        duration: 304.095542ms
[...]
    - id: 4
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Csrf-Token:
                - 8ff187a1-d99e-48a7-a9c3-b8f3ea8f1690
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/b115b40e-549e-11ef-9e24-eeee0a8b9f36?actionId=abort
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/b115b40e-549e-11ef-9e24-eeee0a8b9f36?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 8ff187a1-d99e-48a7-a9c3-b8f3ea8f1690
            X-Vcap-Request-Id:
                - f45e8287-496c-4474-712f-db0d98654fab
        status: 202 Accepted
        code: 202
        duration: 305.679625ms
    - id: 5
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/b115b40e-549e-11ef-9e24-eeee0a8b9f36?embed=messages
        method: GET
      response:
        body: '{"processId":"b115b40e-549e-11ef-9e24-eeee0a8b9f36","processType":"DEPLOY","startedAt":"2024-08-07T09:23:22.456Z[UTC]","endedAt":"2024-08-07T09:32:44.888Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"ABORTED","messages":[{"id":211713923,"text":"Operation ID: b115b40e-549e-11ef-9e24-eeee0a8b9f36","timestamp":"2024-08-07T09:23:22.435Z[UTC]","type":"INFO"},{"id":211713924,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-07T09:23:23.602Z[UTC]","type":"INFO"},{"id":211713945,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-08-07T09:23:40.055Z[UTC]","type":"INFO"},{"id":211713974,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"a.cf.app\" and namespace \"Hello\"","timestamp":"2024-08-07T09:23:47.855Z[UTC]","type":"INFO"},{"id":211713983,"text":"Error collecting system parameters: Could not create a valid host from \"performanceteamblr-tf-space-1-my-mta-managed-app-module\" ","timestamp":"2024-08-07T09:23:53.187Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 6c658da5-60a3-4f31-7aa9-7eed88b126d2
        status: 200 OK
        code: 200
        duration: 476.831166ms
[...]
    - id: 7
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"Hello","parameters":{"appArchiveId":"f0f05fdb-4511-45d7-aa01-c6c7a6d286dd","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 43201400-60cb-4835-a771-0185f68630f0
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/026fda17-54a0-11ef-9a66-eeee0a9df59e?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 43201400-60cb-4835-a771-0185f68630f0
            X-Vcap-Request-Id:
                - a0ef48c7-4966-478c-7515-dafc2584fcd3
        status: 202 Accepted
        code: 202
        duration: 983.840375ms
[...]
    - id: 9
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/026fda17-54a0-11ef-9a66-eeee0a9df59e?embed=messages
        method: GET
      response:
        body: '{"processId":"026fda17-54a0-11ef-9a66-eeee0a9df59e","processType":"DEPLOY","startedAt":"2024-08-07T09:32:48.455Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","errorType":"INFRASTRUCTURE","messages":[{"id":211715512,"text":"Operation ID: 026fda17-54a0-11ef-9a66-eeee0a9df59e","timestamp":"2024-08-07T09:32:48.426Z[UTC]","type":"INFO"},{"id":211715513,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-07T09:32:48.912Z[UTC]","type":"INFO"},{"id":211715517,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-08-07T09:32:50.564Z[UTC]","type":"INFO"},{"id":211715518,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"a.cf.app\" and namespace \"Hello\"","timestamp":"2024-08-07T09:32:51.021Z[UTC]","type":"INFO"},{"id":211715521,"text":"Error collecting system parameters: Could not create a valid host from \"performanceteamblr-tf-space-1-my-mta-managed-app-module\" ","timestamp":"2024-08-07T09:32:51.973Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - bdf9e654-f81e-41e8-6e3d-83f3b81806cd
        status: 200 OK
        code: 200
        duration: 288.934417ms
