---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","globally_enabled":{"running":false,"staging":false},"rules":[{"protocol":"tcp","destination":"192.168.1.100","type":0,"code":0,"log":false}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups
        method: POST
      response:
        body: '{"errors":[{"detail":"Rules[0]: ports are required for protocols of type TCP and UDP, Rules[0]: ports must be a valid single port, comma separated list of ports, or range or ports, formatted as a string","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b06fa037-b708-4ccc-5cdd-47f84b21c113::02692d23-2350-4821-8daa-40e9de8e586e
        status: 422 Unprocessable Entity
        code: 422
        duration: 189.527697ms
