---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-import","services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/organization_quotas
        method: POST
      response:
        body: '{"guid":"873a8e40-4359-4f41-9474-238a729525ae","created_at":"2024-02-05T08:51:12Z","updated_at":"2024-02-05T08:51:12Z","name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":null},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/873a8e40-4359-4f41-9474-238a729525ae"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 64e52404-49cc-424a-7130-00fa8ad79c3c::378e3423-c723-443c-8d5f-cd21201665a4
        status: 201 Created
        code: 201
        duration: 187.757542ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas?guids=873a8e40-4359-4f41-9474-238a729525ae
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=873a8e40-4359-4f41-9474-238a729525ae\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=873a8e40-4359-4f41-9474-238a729525ae\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"873a8e40-4359-4f41-9474-238a729525ae","created_at":"2024-02-05T08:51:12Z","updated_at":"2024-02-05T08:51:12Z","name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":null},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/873a8e40-4359-4f41-9474-238a729525ae"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - cab02dc3-2f10-495a-4d88-34c95ec94dee::6b522927-e2f2-4f58-b8ed-d358087ad165
        status: 200 OK
        code: 200
        duration: 185.868875ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas?guids=873a8e40-4359-4f41-9474-238a729525ae
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=873a8e40-4359-4f41-9474-238a729525ae\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=873a8e40-4359-4f41-9474-238a729525ae\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"873a8e40-4359-4f41-9474-238a729525ae","created_at":"2024-02-05T08:51:12Z","updated_at":"2024-02-05T08:51:12Z","name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":null},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/873a8e40-4359-4f41-9474-238a729525ae"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d437ad7b-587e-4c04-71a0-e030b808b413::ae780dca-7df5-47f5-9a74-5b1968fbc68a
        status: 200 OK
        code: 200
        duration: 176.98575ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas/873a8e40-4359-4f41-9474-238a729525ae
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/7412c636-c182-4c1c-a9d4-598ef4b3e4fe
            X-Vcap-Request-Id:
                - 84a20ff3-13da-4665-789c-a2a2f65ec0b4::72a45cfc-7372-4f19-8bfe-fb816f4898bc
        status: 202 Accepted
        code: 202
        duration: 212.2355ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/7412c636-c182-4c1c-a9d4-598ef4b3e4fe
        method: GET
      response:
        body: '{"guid":"7412c636-c182-4c1c-a9d4-598ef4b3e4fe","created_at":"2024-02-05T08:51:14Z","updated_at":"2024-02-05T08:51:14Z","operation":"organization_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/7412c636-c182-4c1c-a9d4-598ef4b3e4fe"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f029f46d-7239-4cab-4dae-d905af13353a::fc7a7874-3e2e-4029-a625-73fece24241a
        status: 200 OK
        code: 200
        duration: 182.589084ms
