---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 838a3237-9a9c-4094-abde-e0d87e47c151
            X-Vcap-Request-Id:
                - 78d4bf41-11af-45bf-74d0-7a4020c60647
        status: 204 No Content
        code: 204
        duration: 339.282708ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--98abc36e55a041dec32bdb60af3ff4ea98758ca67982a6063feff9e42c2c\r\nContent-Disposition: form-data; name=\"file\"; filename=\"a.cf.app.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x01z�)fPK\x03\x04\x14\0\b\0\b\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x01z�)f�M��LK-.�\rK-*��ϳR0�3���K�M�Rȭ��-I��M�KLOM�M,[...]
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"bf6ef939-1753-11ef-a158-eeee0a8bf7bf","processType":"DEPLOY","startedAt":"2024-05-21T09:23:13.353Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"o f","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 8049cd5a-9c4c-4784-7425-a874491675c4
        status: 200 OK
        code: 200
        duration: 352.429334ms
[...]
    - id: 4
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"Hello","parameters":{"appArchiveId":"c96aa2c7-c9e9-4f12-bf25-c60c6cb4c131","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - c3282dd5-c7f4-4752-81c4-386b582b5630
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/aecd6d4f-18cf-11ef-a4bb-eeee0a9c667c?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - c3282dd5-c7f4-4752-81c4-386b582b5630
            X-Vcap-Request-Id:
                - 1ceddba2-d635-4a08-6800-8a5f349cbb4b
        status: 202 Accepted
        code: 202
        duration: 430.372458ms
    - id: 5
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/aecd6d4f-18cf-11ef-a4bb-eeee0a9c667c?embed=messages
        method: GET
      response:
        body: '{"processId":"aecd6d4f-18cf-11ef-a4bb-eeee0a9c667c","processType":"DEPLOY","startedAt":"2024-05-23T06:42:54.193Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","errorType":"INFRASTRUCTURE","messages":[{"id":202713841,"text":"Operation ID: aecd6d4f-18cf-11ef-a4bb-eeee0a9c667c","timestamp":"2024-05-23T06:42:54.18Z[UTC]","type":"INFO"},{"id":202713844,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-05-23T06:42:54.279Z[UTC]","type":"INFO"},{"id":202713853,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-05-23T06:42:54.588Z[UTC]","type":"INFO"},{"id":202713856,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"a.cf.app\" and namespace \"Hello\"","timestamp":"2024-05-23T06:42:54.919Z[UTC]","type":"INFO"},{"id":202713857,"text":"Error collecting system parameters: Could not create a valid host from \"performanceteamblr-tf-space-1-my-mta-managed-app-module\" ","timestamp":"2024-05-23T06:42:55.083Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 59373658-3096-490b-4e5e-50964798f0ad
        status: 200 OK
        code: 200
        duration: 272.030584ms
[...]
    - id: 10
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Csrf-Token:
                - d7021293-8b7b-4ec4-bb4b-5b46c2748634
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/aecd6d4f-18cf-11ef-a4bb-eeee0a9c667c?actionId=abort
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/aecd6d4f-18cf-11ef-a4bb-eeee0a9c667c?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - d7021293-8b7b-4ec4-bb4b-5b46c2748634
            X-Vcap-Request-Id:
                - 636e7585-b5d5-49ef-77be-b5c3cbca7671
        status: 202 Accepted
        code: 202
        duration: 305.036ms
    - id: 11
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/aecd6d4f-18cf-11ef-a4bb-eeee0a9c667c?embed=messages
        method: GET
      response:
        body: '{"processId":"aecd6d4f-18cf-11ef-a4bb-eeee0a9c667c","processType":"DEPLOY","startedAt":"2024-05-23T06:42:54.193Z[UTC]","endedAt":"2024-05-23T06:42:58.192Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"ABORTED","messages":[{"id":202713841,"text":"Operation ID: aecd6d4f-18cf-11ef-a4bb-eeee0a9c667c","timestamp":"2024-05-23T06:42:54.18Z[UTC]","type":"INFO"},{"id":202713844,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-05-23T06:42:54.279Z[UTC]","type":"INFO"},{"id":202713853,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-05-23T06:42:54.588Z[UTC]","type":"INFO"},{"id":202713856,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"a.cf.app\" and namespace \"Hello\"","timestamp":"2024-05-23T06:42:54.919Z[UTC]","type":"INFO"},{"id":202713857,"text":"Error collecting system parameters: Could not create a valid host from \"performanceteamblr-tf-space-1-my-mta-managed-app-module\" ","timestamp":"2024-05-23T06:42:55.083Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 8a4cf3c0-9c52-424d-6186-6471a43c555b
        status: 200 OK
        code: 200
        duration: 270.02425ms
[...]
