---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - faa6f9bb-6893-4199-8730-f8ed08a320a3
            X-Vcap-Request-Id:
                - bc84f8d9-823c-4393-7c1a-995e94d1fe08
        status: 204 No Content
        code: 204
        duration: 335.33125ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--000a66208a2b7b9e47596d011c4b13250c162e99df4580216fe3cb50680a\r\nContent-Disposition: form-data; name=\"file\"; filename=\"a.cf.app.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x01z�)fPK\x03\x04\x14\0\b\0\b\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x01z�)f�M��LK-.�\rK-*��ϳR0�3���K�M�Rȭ��-I��M�KLOM�M,[...]
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"6f78fcba-4f07-11ef-862b-eeee0a982624","processType":"DEPLOY","startedAt":"2024-07-31T06:38:02.553Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"ERROR","messages":[],"parameters":{}},{"processId":"e3b594b1-4fce-11ef-b25d-eeee0a82c81e","processType":"DEPLOY","startedAt":"2024-08-01T06:25:47.426Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}},{"processId":"5b4173d7-4fd1-11ef-b25d-eeee0a82c81e","processType":"DEPLOY","startedAt":"2024-08-01T06:43:26.971Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - c7592686-5c33-4622-66cc-b7633b20d6cc
        status: 200 OK
        code: 200
        duration: 332.762833ms
[...]
    - id: 4
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Csrf-Token:
                - 9ffc7b1e-9a6c-49bc-9e0f-1df6c916eb6c
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/e3b594b1-4fce-11ef-b25d-eeee0a82c81e?actionId=abort
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/e3b594b1-4fce-11ef-b25d-eeee0a82c81e?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 9ffc7b1e-9a6c-49bc-9e0f-1df6c916eb6c
            X-Vcap-Request-Id:
                - 996c71f5-b8ad-4bf8-6dc7-c88e38d082a7
        status: 202 Accepted
        code: 202
        duration: 281.070708ms
    - id: 5
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/e3b594b1-4fce-11ef-b25d-eeee0a82c81e?embed=messages
        method: GET
      response:
        body: '{"processId":"e3b594b1-4fce-11ef-b25d-eeee0a82c81e","processType":"DEPLOY","startedAt":"2024-08-01T06:25:47.426Z[UTC]","endedAt":"2024-08-01T06:43:31.361Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"ABORTED","messages":[{"id":210924852,"text":"Operation ID: e3b594b1-4fce-11ef-b25d-eeee0a82c81e","timestamp":"2024-08-01T06:25:47.398Z[UTC]","type":"INFO"},{"id":210924854,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-01T06:25:48.247Z[UTC]","type":"INFO"},{"id":210924857,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-08-01T06:25:50.985Z[UTC]","type":"INFO"},{"id":210924858,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"a.cf.app\" and namespace \"Hello\"","timestamp":"2024-08-01T06:25:52.674Z[UTC]","type":"INFO"},{"id":210924859,"text":"Error collecting system parameters: Could not create a valid host from \"performanceteamblr-tf-space-1-my-mta-managed-app-module\" ","timestamp":"2024-08-01T06:25:53.478Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 27658ee6-073e-4ba6-5ced-0248a5fd5f1b
        status: 200 OK
        code: 200
        duration: 437.9845ms
[...]
    - id: 7
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"Hello","parameters":{"appArchiveId":"b5ca8a0b-7696-4bd7-add7-3b250ea22796","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 883d19fd-53bc-4893-856a-c1c8e0191dab
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/5fc54e89-4fd1-11ef-b25d-eeee0a82c81e?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 883d19fd-53bc-4893-856a-c1c8e0191dab
            X-Vcap-Request-Id:
                - 841fdb86-8ec9-4c31-6907-18b3d7fa2bf5
        status: 202 Accepted
        code: 202
        duration: 548.911208ms
    - id: 8
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/5fc54e89-4fd1-11ef-b25d-eeee0a82c81e?embed=messages
        method: GET
      response:
        body: '{"processId":"5fc54e89-4fd1-11ef-b25d-eeee0a82c81e","processType":"DEPLOY","startedAt":"2024-08-01T06:43:34.55Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","errorType":"INFRASTRUCTURE","messages":[{"id":210927748,"text":"Operation ID: 5fc54e89-4fd1-11ef-b25d-eeee0a82c81e","timestamp":"2024-08-01T06:43:34.533Z[UTC]","type":"INFO"},{"id":210927749,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-01T06:43:34.699Z[UTC]","type":"INFO"},{"id":210927750,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-08-01T06:43:35.139Z[UTC]","type":"INFO"},{"id":210927751,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"a.cf.app\" and namespace \"Hello\"","timestamp":"2024-08-01T06:43:35.572Z[UTC]","type":"INFO"},{"id":210927752,"text":"Error collecting system parameters: Could not create a valid host from \"performanceteamblr-tf-space-1-my-mta-managed-app-module\" ","timestamp":"2024-08-01T06:43:35.78Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 9d4ceac1-004c-45cc-69ab-7f99fd204334
        status: 200 OK
        code: 200
        duration: 309.450583ms
