---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"organization_user","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"user":{"data":{"guid":"space"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/roles
        method: POST
      response:
        body: '{"errors":[{"detail":"User ''space'' already has ''organization_user'' role in organization ''tf-test-do-not-delete''.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 1e930dac-c1f8-4b03-4989-3f4384d4cd1d::d8c71cc8-0ec0-413e-bfdd-c295d1699871
        status: 422 Unprocessable Entity
        code: 422
        duration: 249.528828ms
