---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=f724bcc16ea742b086bc8eaad9f7c8f5-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - f724bcc16ea742b086bc8eaad9f7c8f5-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"f724bcc16ea742b086bc8eaad9f7c8f5-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"c8a41a53da0f4c99a836c6bd7b6ff180"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 58534c60-e255-4020-652b-9fd4a5e80161
        status: 200 OK
        code: 200
        duration: 249.208292ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 6b493126-76df-43d8-b387-81b1c3746637
            X-Vcap-Request-Id:
                - 09f7bb47-f529-460f-60e1-ddac119ffc24
        status: 204 No Content
        code: 204
        duration: 823.218042ms
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: "--7e613c49c5889e428312ef03f3ebd62bb3ccbd5c24d8b6f7b9c2d426febd\r\nContent-Disposition: form-data; name=\"file\"; filename=\"a.cf.app.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x01z�)fPK\x03\x04\x14\0\b\0\b\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x01z�)f�M��LK-.�\rK-*��ϳR0�3���K�M�Rȭ��-I��M�KLOM�M,[...]
    - id: 3
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"c0e1d2b7-642f-11ef-bc48-eeee0a96ce02","processType":"DEPLOY","startedAt":"2024-08-27T04:49:33.434Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}},{"processId":"0b0ad8ef-6431-11ef-a23f-eeee0a927133","processType":"DEPLOY","startedAt":"2024-08-27T04:58:47.625Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - a1c9f1ad-ea2c-4592-6bef-0c7db5b5e59b
        status: 200 OK
        code: 200
        duration: 471.393875ms
[...]
    - id: 5
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Csrf-Token:
                - f5a70711-7281-4a34-867a-e4e150a47396
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/c0e1d2b7-642f-11ef-bc48-eeee0a96ce02?actionId=abort
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/c0e1d2b7-642f-11ef-bc48-eeee0a96ce02?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - f5a70711-7281-4a34-867a-e4e150a47396
            X-Vcap-Request-Id:
                - 1eb904b0-73ca-45b0-59ca-e594d8d5d41d
        status: 202 Accepted
        code: 202
        duration: 342.543458ms
    - id: 6
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/c0e1d2b7-642f-11ef-bc48-eeee0a96ce02?embed=messages
        method: GET
      response:
        body: '{"processId":"c0e1d2b7-642f-11ef-bc48-eeee0a96ce02","processType":"DEPLOY","startedAt":"2024-08-27T04:49:33.434Z[UTC]","endedAt":"2024-08-27T04:59:05.629Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":false,"state":"ABORTED","messages":[{"id":213964816,"text":"Operation ID: c0e1d2b7-642f-11ef-bc48-eeee0a96ce02","timestamp":"2024-08-27T04:49:33.407Z[UTC]","type":"INFO"},{"id":213964819,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-27T04:49:33.709Z[UTC]","type":"INFO"},{"id":213964822,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-08-27T04:49:34.533Z[UTC]","type":"INFO"},{"id":213964824,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"a.cf.app\" and namespace \"Hello\"","timestamp":"2024-08-27T04:49:35.23Z[UTC]","type":"INFO"},{"id":213964834,"text":"Error collecting system parameters: Could not create a valid host from \"performanceteamblr-tf-space-1-my-mta-managed-app-module\" ","timestamp":"2024-08-27T04:49:35.515Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - dd539955-0724-4f72-6e08-08e023163a8a
        status: 200 OK
        code: 200
        duration: 1.173006958s
[...]
    - id: 8
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"Hello","parameters":{"appArchiveId":"500b8bac-4e1e-4a80-b9e8-038cf53c5490","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - baae0baa-8598-4a43-ba6e-7b41d4711ce5
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/1864f895-6431-11ef-bc48-eeee0a96ce02?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - baae0baa-8598-4a43-ba6e-7b41d4711ce5
            X-Vcap-Request-Id:
                - d7ebd0a6-cbc4-44d4-7b6c-fab4305905a9
        status: 202 Accepted
        code: 202
        duration: 1.306524s
[...]
    - id: 11
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/1864f895-6431-11ef-bc48-eeee0a96ce02?embed=messages
        method: GET
      response:
        body: '{"processId":"1864f895-6431-11ef-bc48-eeee0a96ce02","processType":"DEPLOY","startedAt":"2024-08-27T04:59:09.882Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"dl_604f126b654d33027ecbd9b4@global.corp.sap","acquiredLock":true,"state":"ERROR","errorType":"INFRASTRUCTURE","messages":[{"id":213966203,"text":"Operation ID: 1864f895-6431-11ef-bc48-eeee0a96ce02","timestamp":"2024-08-27T04:59:09.727Z[UTC]","type":"INFO"},{"id":213966204,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-27T04:59:10.978Z[UTC]","type":"INFO"},{"id":213966205,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-08-27T04:59:14.532Z[UTC]","type":"INFO"},{"id":213966206,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"a.cf.app\" and namespace \"Hello\"","timestamp":"2024-08-27T04:59:15.811Z[UTC]","type":"INFO"},{"id":213966207,"text":"Error collecting system parameters: Could not create a valid host from \"performanceteamblr-tf-space-1-my-mta-managed-app-module\" ","timestamp":"2024-08-27T04:59:16.465Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 1c9dfe79-b6ba-465f-7697-fd309aa8cf44
        status: 200 OK
        code: 200
        duration: 1.201641s
