---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test123","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"82b969e5-512a-4049-a374-8acc187ee61b","created_at":"2024-02-02T12:29:22Z","updated_at":"2024-02-02T12:29:22Z","name":"tf-unit-test123","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/82b969e5-512a-4049-a374-8acc187ee61b"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/82b969e5-512a-4049-a374-8acc187ee61b/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/82b969e5-512a-4049-a374-8acc187ee61b/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 6b2c88d2-a460-410f-57bf-472c75be31b0::f6cda79c-fc0c-464e-8a01-c7ff43942f02
        status: 201 Created
        code: 201
        duration: 225.658053ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":true}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/82b969e5-512a-4049-a374-8acc187ee61b/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 74c86445-ed8c-45f2-75cf-105324a0afdb::304ab997-9000-4640-b3b7-09fd84896f8d
        status: 200 OK
        code: 200
        duration: 188.763968ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"40b73419-5e01-4be0-baea-932d46cea45b"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/82b969e5-512a-4049-a374-8acc187ee61b/relationships/isolation_segment
        method: PATCH
      response:
        body: '{"errors":[{"detail":"Unable to assign isolation segment with guid ''40b73419-5e01-4be0-baea-932d46cea45b''. Ensure it has been entitled to the organization that this space belongs to.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a12d9107-ee81-4c82-452f-38bd65b858ce::418bdaf4-4a43-4eaf-9e0c-12135d557aae
        status: 422 Unprocessable Entity
        code: 422
        duration: 193.781098ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/82b969e5-512a-4049-a374-8acc187ee61b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/b7a1b85c-a25e-451b-b545-f9efcc69898a
            X-Vcap-Request-Id:
                - 263fafb7-e3b3-4703-6149-51d1c8844e2b::f60d7151-764c-4308-bc47-a5feb0167c66
        status: 202 Accepted
        code: 202
        duration: 235.10806ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/b7a1b85c-a25e-451b-b545-f9efcc69898a
        method: GET
      response:
        body: '{"guid":"b7a1b85c-a25e-451b-b545-f9efcc69898a","created_at":"2024-02-02T12:29:22Z","updated_at":"2024-02-02T12:29:23Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/b7a1b85c-a25e-451b-b545-f9efcc69898a"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - fbeb75f4-eef3-4d98-7dd1-d18f37973be8::ac406371-1a0a-4f1a-a561-66656aa0105d
        status: 200 OK
        code: 200
        duration: 228.969295ms
