---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"organization_manager","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/roles
        method: POST
      response:
        body: '{"errors":[{"detail":"User ''debaditya.ray@sap.com'' already has ''organization_manager'' role in organization ''PerformanceTeamBLR''.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712034473"
            X-Vcap-Request-Id:
                - f428237e-bb2d-49e9-5e93-86ad03a4020c::42fa1e12-213c-4003-8b22-9708457211fb
        status: 422 Unprocessable Entity
        code: 422
        duration: 274.953906ms
