---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"37176d2b-beef-4a2e-a36e-d324fb8941b5","created_at":"2024-02-02T12:29:08Z","updated_at":"2024-02-02T12:29:08Z","name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - fba1a1c5-fdeb-440a-7f5c-61457ab70486::28e5e182-7bbc-4913-bea4-e5b45f42b158
        status: 201 Created
        code: 201
        duration: 262.399395ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 594af726-69b1-443f-514a-e19a89b3c919::8a7e7b7b-2c2e-490d-bbd1-af158bdf599b
        status: 200 OK
        code: 200
        duration: 194.818365ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5
        method: GET
      response:
        body: '{"guid":"37176d2b-beef-4a2e-a36e-d324fb8941b5","created_at":"2024-02-02T12:29:08Z","updated_at":"2024-02-02T12:29:08Z","name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c2ba4e29-ee89-408c-4b97-2041d58d14bd::e50fcce4-74c9-4718-bacc-08e95a34693c
        status: 200 OK
        code: 200
        duration: 202.29473ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f9f4ec42-c5ee-41df-7637-e3e9b7297cc5::1b6a63d3-7386-4703-a608-69538cfcd248
        status: 200 OK
        code: 200
        duration: 195.633424ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5
        method: GET
      response:
        body: '{"guid":"37176d2b-beef-4a2e-a36e-d324fb8941b5","created_at":"2024-02-02T12:29:08Z","updated_at":"2024-02-02T12:29:08Z","name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - aa992196-b652-44ca-6229-35de8ad033b4::62c77513-ae5c-4dfb-8ae7-5b9197fa9565
        status: 200 OK
        code: 200
        duration: 202.18994ms
[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/37176d2b-beef-4a2e-a36e-d324fb8941b5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/535f8291-c078-4e89-860e-9bb7c33b144b
            X-Vcap-Request-Id:
                - befb0b23-c9d4-4a10-5beb-040306f7560b::a253923e-9788-48b2-b0e1-74b7c7fb0fff
        status: 202 Accepted
        code: 202
        duration: 226.068571ms
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/535f8291-c078-4e89-860e-9bb7c33b144b
        method: GET
      response:
        body: '{"guid":"535f8291-c078-4e89-860e-9bb7c33b144b","created_at":"2024-02-02T12:29:11Z","updated_at":"2024-02-02T12:29:11Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/535f8291-c078-4e89-860e-9bb7c33b144b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 0909366a-be96-4921-490d-cc99eaef1ee1::7d861e9f-fba0-4ce4-8488-82332f9ad13f
        status: 200 OK
        code: 200
        duration: 195.95227ms
