---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - bd245dd7-2824-4280-81d4-e73b854318a3
            X-Vcap-Request-Id:
                - b3ce3785-748b-4c9c-7d90-93616768993d
        status: 204 No Content
        code: 204
        duration: 246.4545ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--bd7ae594db2888a00a57d82b4417d4188c14f24d46037a493018aee1d186\r\nContent-Disposition: form-data; name=\"file\"; filename=\"provider-config-local.txt\"\r\nContent-Type: application/octet-stream\r\n\r\nprovider_installation {\n  dev_overrides {\n    \"SAP/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\r\n--bd7ae594db2888a00a57d82b4417d4188c14f24d46037a493018aee1d186--\r\n"
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - multipart/form-data; boundary=bd7ae594db2888a00a57d82b4417d4188c14f24d46037a493018aee1d186
            X-Csrf-Token:
                - bd245dd7-2824-4280-81d4-e73b854318a3
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files?namespace=
        method: POST
      response:
        body: '{"id":"b98053cf-56f1-40c4-9290-f821e93edd33","name":"provider-config-local.txt","size":95,"digest":"981F7BFFA1053E82E392424A24A70B70","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","namespace":""}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 94fd38f3-9026-4ab1-7b90-9f73af435da3
        status: 201 Created
        code: 201
        duration: 539.456666ms
