---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 32f9fe9c-48f4-4703-542f-7f05ce1e9ae3::8685bbf7-c12e-4894-8c6e-f531d4a59096
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 52921114-fa21-49c4-562c-dc4a164cf7b1::f48ed246-4949-48e7-aff0-79c3eb0c299b
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455472"
            X-Vcap-Request-Id:
                - c16f8ff1-bbd5-4b87-4288-c123cf5f0f3a::e1c33f50-4484-4336-9a9d-378d51335871
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  processes:
                    - type: web
                      disk_quota: 1024M
                      health-check-type: http
                      health-check-http-endpoint: /get
                      instances: 1
                      memory: 256M
                      readiness-health-check-type: http
                      readiness-health-check-http-endpoint: /get
                  metadata:
                    labels: {}
                    annotations: {}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/f1c0cbf8-b6e8-4e48-817b-17f4b0c5749a
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - f81cd3b8-391a-4182-673d-f5fcd252d36e::df55d6c7-7091-422e-ade0-29fe70d21737
        status: 202 Accepted
        code: 202
        duration: 1ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/f1c0cbf8-b6e8-4e48-817b-17f4b0c5749a
        method: GET
      response:
        body: '{"guid":"f1c0cbf8-b6e8-4e48-817b-17f4b0c5749a","created_at":"2024-04-30T05:34:38Z","updated_at":"2024-04-30T05:34:38Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/f1c0cbf8-b6e8-4e48-817b-17f4b0c5749a"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - d9fedd55-fae6-40cc-6b20-70a784bffd55::623ab6d1-a4b7-4bce-b187-8f32f8e1c425
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd","created_at":"2024-04-30T05:34:38Z","updated_at":"2024-04-30T05:34:38Z","name":"http-bin","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/actions/stop","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 0d295f00-af13-4b2d-6a0e-7a4b8d5763a4::38c4dd93-6797-4e82-b51c-82ff0bc642eb
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"c387b9b8-769a-4d30-a8c5-37af32feefce","created_at":"2024-04-30T05:34:39Z","updated_at":"2024-04-30T05:34:39Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/c387b9b8-769a-4d30-a8c5-37af32feefce"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 470068f9-3ff8-4dcc-66b2-97209b1a6965::3cb71508-f254-4129-908e-6b1c981627b5
        status: 201 Created
        code: 201
        duration: 1ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"c387b9b8-769a-4d30-a8c5-37af32feefce"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"ca368652-a118-489a-a523-afc6eeea678d","created_at":"2024-04-30T05:34:40Z","updated_at":"2024-04-30T05:34:40Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"c387b9b8-769a-4d30-a8c5-37af32feefce"},"droplet":null,"created_by":{"guid":"1f263e00-9a07-42d8-be71-b18be6d10b45","name":"dl_604f126b654d33027ecbd9b4@global.corp.sap","email":"dl_604f126b654d33027ecbd9b4@global.corp.sap"},"relationships":{"app":{"data":{"guid":"4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/ca368652-a118-489a-a523-afc6eeea678d"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - 2358b3de-4fe9-4639-7268-1820e9c23c47::f8eed084-2537-460d-91df-f8e61932a3c8
        status: 201 Created
        code: 201
        duration: 1ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/ca368652-a118-489a-a523-afc6eeea678d
        method: GET
      response:
        body: '{"guid":"ca368652-a118-489a-a523-afc6eeea678d","created_at":"2024-04-30T05:34:40Z","updated_at":"2024-04-30T05:34:40Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/c387b9b8-769a-4d30-a8c5-37af32feefce/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/c387b9b8-769a-4d30-a8c5-37af32feefce/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/c387b9b8-769a-4d30-a8c5-37af32feefce/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"58a1840d-7387-42eb-8311-c8b2a48db906","created_at":"2024-04-30T05:34:43Z","updated_at":"2024-04-30T05:34:43Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/58a1840d-7387-42eb-8311-c8b2a48db906"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/c387b9b8-769a-4d30-a8c5-37af32feefce"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - bc4604da-e850-4588-73aa-5475af7339b3::da0bb3ca-e9a5-492c-9feb-eae58a5ffebd
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"58a1840d-7387-42eb-8311-c8b2a48db906"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"58a1840d-7387-42eb-8311-c8b2a48db906"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - f8f0c6d5-5eee-499f-4e96-e65a788c2f99::e768d826-6023-42ff-a4db-db986a6e6ad7
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/actions/start
        method: POST
      response:
        body: '{"guid":"4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd","created_at":"2024-04-30T05:34:38Z","updated_at":"2024-04-30T05:34:44Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455472"
            X-Vcap-Request-Id:
                - 7dfc3d3d-b200-4193-6a90-da80a5a6ba6e::8253af97-cac4-46b3-8dc3-1cd929122aa5
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd
        method: GET
      response:
        body: '{"guid":"4bfaa1bb-a99a-4a87-b53e-d07c282a8bcd","created_at":"2024-04-30T05:34:38Z","updated_at":"2024-04-30T05:34:44Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker","data":{}},"r[...]
[...]
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/eefcb1b1-129c-4244-9343-687c9fc6c995
        method: GET
      response:
        body: '{"guid":"eefcb1b1-129c-4244-9343-687c9fc6c995","created_at":"2024-04-30T05:34:46Z","updated_at":"2024-04-30T05:34:46Z","operation":"app.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/eefcb1b1-129c-4244-9343-687c9fc6c995"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1714455473"
            X-Vcap-Request-Id:
                - f7bba78d-2d1d-4024-5ee8-7af51e058e2f::cb3cb56c-b4e4-4b2d-a803-47313e683fd8
        status: 200 OK
        code: 200
        duration: 1ms
