---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"guid":"tf-test","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users
        method: POST
      response:
        body: '{"guid":"tf-test","created_at":"2024-02-07T08:36:13Z","updated_at":"2024-02-07T08:36:13Z","username":null,"presentation_name":"tf-test","origin":null,"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/tf-test"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d0684ca7-97c4-400f-7244-3a869d73ca46::ed1a2864-b1b4-41ca-8e60-5f300204e774
        status: 201 Created
        code: 201
        duration: 656.601666ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/tf-test
        method: GET
      response:
        body: '{"guid":"tf-test","created_at":"2024-02-07T08:36:13Z","updated_at":"2024-02-07T08:36:13Z","username":null,"presentation_name":"tf-test","origin":null,"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/tf-test"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 7a523596-2a9f-409e-7494-67bbcaecd3a4::73b3cd4f-e2f5-4389-b8a0-c6478e992060
        status: 200 OK
        code: 200
        duration: 230.237484ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/tf-test
        method: GET
      response:
        body: '{"guid":"tf-test","created_at":"2024-02-07T08:36:13Z","updated_at":"2024-02-07T08:36:13Z","username":null,"presentation_name":"tf-test","origin":null,"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/tf-test"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d6a3715d-2ba1-4b14-5d7a-dfa73068f2e1::23f68123-fd7f-4c1b-8be3-300ff279098c
        status: 200 OK
        code: 200
        duration: 254.760147ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/tf-test
        method: GET
      response:
        body: '{"guid":"tf-test","created_at":"2024-02-07T08:36:13Z","updated_at":"2024-02-07T08:36:13Z","username":null,"presentation_name":"tf-test","origin":null,"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/tf-test"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f293c972-c26f-4b60-7e1a-a1bcf9f752bd::7f55dbe0-aeb6-4e8a-8e47-74af0a450a11
        status: 200 OK
        code: 200
        duration: 285.863405ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/tf-test
        method: GET
      response:
        body: '{"guid":"tf-test","created_at":"2024-02-07T08:36:13Z","updated_at":"2024-02-07T08:36:13Z","username":null,"presentation_name":"tf-test","origin":null,"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/tf-test"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - aac55060-04a2-4a08-71dd-6955e308376b::1a62e794-2dd6-40d0-9cb2-ffb2db9028dc
        status: 200 OK
        code: 200
        duration: 234.417599ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/tf-test
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/832e49e1-f017-48b4-a77c-d9d0e52fc489
            X-Vcap-Request-Id:
                - 6d7bd3e9-68cb-45f7-53b1-0d36f12b626d::4a2de44b-7fd3-44ca-a994-4afb0b690222
        status: 202 Accepted
        code: 202
        duration: 211.328011ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/832e49e1-f017-48b4-a77c-d9d0e52fc489
        method: GET
      response:
        body: '{"guid":"832e49e1-f017-48b4-a77c-d9d0e52fc489","created_at":"2024-02-07T08:36:16Z","updated_at":"2024-02-07T08:36:17Z","operation":"user.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/832e49e1-f017-48b4-a77c-d9d0e52fc489"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 98784b82-aa90-4558-72d2-72658e0d8234::77d5a55d-5343-47fa-9467-5bf9ca85244b
        status: 200 OK
        code: 200
        duration: 205.014489ms
