---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"managed","name":"test-si-wrong-service-plan","relationships":{"service_plan":{"data":{"guid":"wrong-service-plan-guid"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: '{"errors":[{"detail":"Invalid service plan. Ensure that the service plan exists, is available, and you have access to it.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710406064"
            X-Vcap-Request-Id:
                - ea5b17a9-5db3-41dd-5ef8-2c1602d2f86f::6925d3f3-cd51-4ee3-9d65-c60b51f08e06
        status: 422 Unprocessable Entity
        code: 422
        duration: 290.684292ms
