---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"managed","name":"test-si-managed","relationships":{"service_plan":{"data":{"guid":"432bd9db-20e2-4997-825f-e4a937705b87"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":null,"annotations":null},"parameters":{"xsappname":"tf-unit-test","tenant-mode":"dedicated","description":"tf test1","foreign-scope-references":["user_attributes"],"scopes":[{"name":"uaa.user","description":"UAA"}],"role-templates":[{"name":"Token_Exchange","description":"UAA","scope-references":["uaa.user"]}]}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/686078f4-4038-4108-959a-e8dad18531aa
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710353864"
            X-Vcap-Request-Id:
                - 86f1a3e5-05a7-48ce-73a2-7b2d21abf6b2::d76b6bd3-01ed-4fd8-b7d3-0d99e677a982
        status: 202 Accepted
        code: 202
        duration: 840.896708ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/686078f4-4038-4108-959a-e8dad18531aa
        method: GET
      response:
        body: '{"guid":"686078f4-4038-4108-959a-e8dad18531aa","created_at":"2024-03-13T17:50:40Z","updated_at":"2024-03-13T17:50:42Z","operation":"service_instance.create","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/686078f4-4038-4108-959a-e8dad18531aa"},"service_instances":{"href":"https://api.x.x.x.x.com/v3/service_instances/a893444d-eb02-4d7d-893b-73f03175cc6a"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710353864"
            X-Vcap-Request-Id:
                - 812e7e15-70f9-46cd-70f2-ad88984fb2f7::9f091782-61cd-42f2-ae05-ed5c3b0c9c8f
        status: 200 OK
        code: 200
        duration: 192.5305ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"a893444d-eb02-4d7d-893b-73f03175cc6a","created_at":"2024-03-13T17:50:40Z","updated_at":"2024-03-13T17:50:42Z","name":"test-si-managed","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"","updated_at":"2024-03-13T17:50:42Z","created_at":"2024-03-13T17:50:42Z"},"type":"managed","maintenance_info":{},"upgrade_available":false,"dashboard_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"service_plan":{"data":{"guid":"432bd9db-20e2-4997-825f-e4a937705b87"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/a893444d-eb02-4d7d-893b-73f03175cc6a"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"service_credential_bindings":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=a893444d-eb02-4d7d-893b-73f03175cc6a"},"service_route_bindings":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?service_instance_guids=a893444d-eb02-4d7d-893b-73f03175cc6a"},"service_plan":{"href":"https://api.x.x.x.x.com/v3/service_plans/432bd9db-20e2-4997-825f-e4a937705b87"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_instances/a893444d-eb02-4d7d-893b-73f03175cc6a/parameters"},"shared_spaces":{"href":"https://api.x.x.x.x.com/v3/service_instances/a893444d-eb02-4d7d-893b-73f03175cc6a/relationships/shared_spaces"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710353864"
            X-Vcap-Request-Id:
                - cf1fa514-ed7c-436e-57da-20bc22b0830c::32604aa6-ded4-4f74-8966-dcc4f73d8d0e
        status: 200 OK
        code: 200
        duration: 329.293042ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances/a893444d-eb02-4d7d-893b-73f03175cc6a
        method: GET
      response:
        body: '{"guid":"a893444d-eb02-4d7d-893b-73f03175cc6a","created_at":"2024-03-13T17:50:40Z","updated_at":"2024-03-13T17:50:42Z","name":"test-si-managed","tags":[],"last_operation":{"type":"creat[...]
[...]
