---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"062cf31a-5f80-40ad-80a6-8ecc523fd668","created_at":"2024-02-02T12:28:51Z","updated_at":"2024-02-02T12:28:51Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 6b3c5c9e-7c15-4165-7b43-a38bf56b8e8f::a329a004-02fe-4d6d-83e6-6ef4659234c8
        status: 201 Created
        code: 201
        duration: 577.120845ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":true}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 66388ad6-667a-44dd-408a-c1667178bcf0::aa31c51f-1f61-4591-9bcb-3a7c0fe5f191
        status: 200 OK
        code: 200
        duration: 198.238314ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"5215e4df-79a4-4ce8-a933-837d6aa7a77b"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668/relationships/isolation_segment
        method: PATCH
      response:
        body: '{"data":{"guid":"5215e4df-79a4-4ce8-a933-837d6aa7a77b"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668/relationships/isolation_segment"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/5215e4df-79a4-4ce8-a933-837d6aa7a77b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a2d720bf-de57-4804-5265-27a0a707983c::a8812132-d611-453b-943d-ba0318f3c934
        status: 200 OK
        code: 200
        duration: 208.147525ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668
        method: GET
      response:
        body: '{"guid":"062cf31a-5f80-40ad-80a6-8ecc523fd668","created_at":"2024-02-02T12:28:51Z","updated_at":"2024-02-02T12:28:51Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ab128b22-7e61-4cce-6727-d603a0c64140::cfb71a79-e332-4846-a590-93a36b239388
        status: 200 OK
        code: 200
        duration: 229.145233ms
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":{"guid":"5215e4df-79a4-4ce8-a933-837d6aa7a77b"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668/relationships/isolation_segment"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/5215e4df-79a4-4ce8-a933-837d6aa7a77b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - eda7c234-f8d2-4985-4a0d-a1d433a74a0e::ca2bdcab-9117-47a5-b408-ec9f0041a24a
        status: 200 OK
        code: 200
        duration: 197.972334ms
[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668/relationships/isolation_segment
        method: PATCH
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d3c7b8bd-d4fd-4eab-627e-b9e2a99f3660::ce1574af-5015-4351-9287-9acd58ed0904
        status: 200 OK
        code: 200
        duration: 224.433763ms
[...]
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/062cf31a-5f80-40ad-80a6-8ecc523fd668
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/b11a3215-de40-4d6a-96fd-b3a0d693617d
            X-Vcap-Request-Id:
                - 557c69b9-0ae5-452e-5941-68ce5ad41ece::c1c4087a-65b6-495e-97fe-e4a354780549
        status: 202 Accepted
        code: 202
        duration: 208.57396ms
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/b11a3215-de40-4d6a-96fd-b3a0d693617d
        method: GET
      response:
        body: '{"guid":"b11a3215-de40-4d6a-96fd-b3a0d693617d","created_at":"2024-02-02T12:28:56Z","updated_at":"2024-02-02T12:28:57Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/b11a3215-de40-4d6a-96fd-b3a0d693617d"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e71b9316-d991-4ffa-46e8-304bbad3715e::6d32fdfa-0d0d-4c9d-b926-6e4e8aa3ed0d
        status: 200 OK
        code: 200
        duration: 204.105088ms
