---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"user-provided","name":"test-si-user-provided","relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: '{"guid":"b6aafc42-13bb-471b-813f-90f135dccbd1","created_at":"2024-03-14T08:40:37Z","updated_at":"2024-03-14T08:40:37Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"Operation succeeded","updated_at":"2024-03-14T08:40:37Z","created_at":"2024-03-14T08:40:37Z"},"type":"user-provided","syslog_drain_url":null,"route_service_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/b6aafc42-13bb-471b-813f-90f135dccbd1"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"service_credential_bindings":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=b6aafc42-13bb-471b-813f-90f135dccbd1"},"service_route_bindings":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?service_instance_guids=b6aafc42-13bb-471b-813f-90f135dccbd1"},"credentials":{"href":"https://api.x.x.x.x.com/v3/service_instances/b6aafc42-13bb-471b-813f-90f135dccbd1/credentials"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710406064"
            X-Vcap-Request-Id:
                - 2bb5b196-58dc-43a5-48ac-5bb7b600a3e3::76e03649-bd0d-4310-9f36-b7b7526813d6
        status: 201 Created
        code: 201
        duration: 273.696833ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"b6aafc42-13bb-471b-813f-90f135dccbd1","created_at":"2024-03-14T08:40:37Z","updated_at":"2024-03-14T08:40:37Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"Operation succeeded","updated_at":"2024-03-14T08:40:37Z","created_at":"2024-03-14T08:40:37Z"},"type":"user-provided","syslog_drain_url":null,"route_service_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/b6aafc42-13bb-471b-813f-90f135dccbd1"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"service_credential_bindings":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=b6aafc42-13bb-471b-813f-90f135dccbd1"},"service_route_bindings":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?service_instance_guids=b6aafc42-13bb-471b-813f-90f135dccbd1"},"credentials":{"href":"https://api.x.x.x.x.com/v3/service_instances/b6aafc42-13bb-471b-813f-90f135dccbd1/credentials"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1710406064"
            X-Vcap-Request-Id:
                - cda2a2ef-f5b9-4141-7c8c-4262a11155cf::89248623-969e-44e2-9c50-c94c39b0023e
        status: 200 OK
        code: 200
        duration: 1.059504416s
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances/b6aafc42-13bb-471b-813f-90f135dccbd1
        method: GET
      response:
        body: '{"guid":"b6aafc42-13bb-471b-813f-90f135dccbd1","created_at":"2024-03-14T08:40:37Z","updated_at":"2024-03-14T08:40:37Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":[...]
[...]
