---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 29ce1ab0-74e2-4065-bf7f-770dea8e7338
            X-Vcap-Request-Id:
                - 83d0f4b8-8ee6-4942-54be-ffd69690be52
        status: 204 No Content
        code: 204
        duration: 332.627708ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--60aab89af347abf5cce7dc6fd7f1b023a53fbce0882a573605b2bbeb8b29\r\nContent-Disposition: form-data; name=\"file\"; filename=\"provider-config-local.txt\"\r\nContent-Type: application/octet-stream\r\n\r\nprovider_installation {\n  dev_overrides {\n    \"SAP/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\r\n--60aab89af347abf5cce7dc6fd7f1b023a53fbce0882a573605b2bbeb8b29--\r\n"
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - multipart/form-data; boundary=60aab89af347abf5cce7dc6fd7f1b023a53fbce0882a573605b2bbeb8b29
            X-Csrf-Token:
                - 29ce1ab0-74e2-4065-bf7f-770dea8e7338
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files
        method: POST
      response:
        body: '{"id":"49b2c02d-a7fe-4fc5-8a68-bc5d9d6f215e","name":"provider-config-local.txt","size":95,"digest":"981F7BFFA1053E82E392424A24A70B70","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 0331df43-a060-447a-41f6-eb25a27f7550
        status: 201 Created
        code: 201
        duration: 413.743375ms
[...]
    - id: 4
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"6f78fcba-4f07-11ef-862b-eeee0a982624","processType":"DEPLOY","startedAt":"2024-07-31T06:38:02.553Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"ERROR","messages":[],"parameters":{}},{"processId":"decb7e18-4fce-11ef-b957-eeee0a89541b","processType":"DEPLOY","startedAt":"2024-08-01T06:25:39.19Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}},{"processId":"e3b594b1-4fce-11ef-b25d-eeee0a82c81e","processType":"DEPLOY","startedAt":"2024-08-01T06:25:47.426Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 283ba9fb-4b11-4bf3-5b7c-89d18989cf8b
        status: 200 OK
        code: 200
        duration: 348.954583ms
[...]
    - id: 6
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Csrf-Token:
                - 248f68dc-f73d-49f0-8893-b8e3d31dc2a5
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/decb7e18-4fce-11ef-b957-eeee0a89541b?actionId=abort
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/decb7e18-4fce-11ef-b957-eeee0a89541b?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 248f68dc-f73d-49f0-8893-b8e3d31dc2a5
            X-Vcap-Request-Id:
                - edeeb07a-5c2e-433d-5e94-f4d21e4717d0
        status: 202 Accepted
        code: 202
        duration: 277.57425ms
    - id: 7
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/decb7e18-4fce-11ef-b957-eeee0a89541b?embed=messages
        method: GET
      response:
        body: '{"processId":"decb7e18-4fce-11ef-b957-eeee0a89541b","processType":"DEPLOY","startedAt":"2024-08-01T06:25:39.19Z[UTC]","endedAt":"2024-08-01T06:43:04.224Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"ABORTED","messages":[{"id":210924835,"text":"Operation ID: decb7e18-4fce-11ef-b957-eeee0a89541b","timestamp":"2024-08-01T06:25:39.154Z[UTC]","type":"INFO"},{"id":210924836,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-01T06:25:39.413Z[UTC]","type":"INFO"},{"id":210924837,"text":"Error processing MTA extension descriptors: org.cloudfoundry.multiapps.controller.persistence.services.FileStorageException: org.cloudfoundry.multiapps.common.ParsingException: Error while parsing YAML string: \nprovider_installation {\n  dev_overrides {\n    \"SAP/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\nclass java.lang.String cannot be cast to class java.util.Map (java.lang.String and java.util.Map are in module java.base of loader ''bootstrap'') ","timestamp":"2024-08-01T06:25:40.183Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - ebb7fb9d-221f-4ce4-7f83-81930227b745
        status: 200 OK
        code: 200
        duration: 792.013416ms
[...]
    - id: 9
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","parameters":{"appArchiveId":"1eb88078-742d-45d5-955c-1af3a4549d6b","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - a9dcd1fe-e3fa-49b4-bdbe-9e286f227446
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/4fcc4215-4fd1-11ef-b25d-eeee0a82c81e?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - a9dcd1fe-e3fa-49b4-bdbe-9e286f227446
            X-Vcap-Request-Id:
                - 53a91e19-bbe1-498f-4cec-dc7452131f21
        status: 202 Accepted
        code: 202
        duration: 495.613875ms
    - id: 10
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/4fcc4215-4fd1-11ef-b25d-eeee0a82c81e?embed=messages
        method: GET
      response:
        body: '{"processId":"4fcc4215-4fd1-11ef-b25d-eeee0a82c81e","processType":"DEPLOY","startedAt":"2024-08-01T06:43:07.757Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","errorType":"CONTENT","messages":[{"id":210927713,"text":"Operation ID: 4fcc4215-4fd1-11ef-b25d-eeee0a82c81e","timestamp":"2024-08-01T06:43:07.739Z[UTC]","type":"INFO"},{"id":210927714,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-08-01T06:43:07.883Z[UTC]","type":"INFO"},{"id":210927715,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-08-01T06:43:08.263Z[UTC]","type":"INFO"},{"id":210927716,"text":"Detected deployed MTA with ID \"a.cf.app\" and version \"1.0.0\"","timestamp":"2024-08-01T06:43:08.832Z[UTC]","type":"INFO"},{"id":210927717,"text":"Detected new MTA version: \"0.0.0\"","timestamp":"2024-08-01T06:43:09.112Z[UTC]","type":"INFO"},{"id":210927718,"text":"Deployed MTA version: \"1.0.0\"","timestamp":"2024-08-01T06:43:09.123Z[UTC]","type":"INFO"},{"id":210927719,"text":"Error collecting system parameters: A higher version of your MTA is already deployed. Include the command line option \"--version-rule ALL\" in your deploy command if you want to allow downgrades. ","timestamp":"2024-08-01T06:43:09.139Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 0216ab38-0aa2-4426-535e-6308ea434a51
        status: 200 OK
        code: 200
        duration: 281.193083ms
[...]
    - id: 29
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","parameters":{"appArchiveId":"44d04b33-3006-4ab9-a9a4-3fce2afa7e11","mtaExtDescriptorId":"c9f29905-ceaa-456c-9e90-0fdf04ebb14a","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 9e4ed4c8-5a4b-40f2-b1ca-d0dd86bd60e0
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/5b4173d7-4fd1-11ef-b25d-eeee0a82c81e?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 9e4ed4c8-5a4b-40f2-b1ca-d0dd86bd60e0
            X-Vcap-Request-Id:
                - a3932092-7463-4950-4dff-6e2ff1951c3a
        status: 202 Accepted
        code: 202
        duration: 472.233375ms
[...]
